//
// Copyright 2020 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use '@material/feature-targeting/feature-targeting';
@use '@material/typography/typography';
@use '@material/button/mixins' as button-mixins;
@use '@material/ripple/ripple-theme';
@use '@material/rtl/mixins' as rtl-mixins;
@use './banner-theme';

$_text-type-scale: body2;
$_min-width: 344px;
$_max-width: 720px;
// Minimum banner height minus standard text height, divided by 2 for both top
// and bottom padding. This is used to support two/three line banners.
$_text-padding-top-bottom: ((52px - 20px) / 2);

$_enter-duration: 300ms;
$_exit-duration: 250ms;

/// Core styles for banner component.
@mixin core-styles($query: feature-targeting.all()) {
  $feat-structure: feature-targeting.create-target($query, structure);
  $feat-animation: feature-targeting.create-target($query, animation);

  @include banner-theme.text-color(banner-theme.$text-color, $query: $query);
  @include banner-theme.graphic-color(
    banner-theme.$graphic-color,
    $query: $query
  );
  @include banner-theme.graphic-background-color(
    banner-theme.$graphic-background-color,
    $query: $query
  );
  @include banner-theme.graphic-shape-radius(
    banner-theme.$graphic-shape-radius,
    $query: $query
  );
  @include banner-theme.min-width($_min-width, $query: $query);
  @include banner-theme.max-width($_max-width, $query: $query);

  .mdc-banner {
    @include banner-theme.fill-color(banner-theme.$fill-color, $query: $query);
    @include banner-theme.divider-color(
      banner-theme.$divider-color,
      $query: $query
    );

    @include feature-targeting.targets($feat-structure) {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      box-sizing: border-box;
      display: none;
      flex-shrink: 0;
      height: 0;
      position: relative;
      width: 100%;
    }
  }

  .mdc-banner--opening,
  .mdc-banner--open,
  .mdc-banner--closing {
    @include feature-targeting.targets($feat-structure) {
      display: flex;
    }
  }

  .mdc-banner--open {
    @include feature-targeting.targets($feat-animation) {
      transition: height $_enter-duration ease;
    }

    .mdc-banner__content {
      @include feature-targeting.targets($feat-animation) {
        transition: transform $_enter-duration ease;
      }

      @include feature-targeting.targets($feat-structure) {
        transform: translateY(0);
      }
    }
  }

  .mdc-banner--closing {
    @include feature-targeting.targets($feat-animation) {
      transition: height $_exit-duration ease;
    }

    .mdc-banner__content {
      @include feature-targeting.targets($feat-animation) {
        transition: transform $_exit-duration ease;
      }
    }
  }

  .mdc-banner--centered {
    @include banner-theme.position-centered($query: $query);
  }

  .mdc-banner__fixed {
    @include feature-targeting.targets($feat-structure) {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      box-sizing: border-box;
      height: inherit;
      position: fixed;
      width: 100%;
    }
  }

  .mdc-banner__content {
    @include feature-targeting.targets($feat-structure) {
      display: flex;
      min-height: 52px;
      position: absolute;
      transform: translateY(-100%);
      width: 720px;
    }
  }

  .mdc-banner__graphic {
    @include feature-targeting.targets($feat-structure) {
      @include rtl-mixins.reflexive-property(margin, 16px, 0);

      flex-shrink: 0;
      height: 40px;
      margin-top: 16px;
      margin-bottom: 16px;
      text-align: center;
      width: 40px;
    }
  }

  .mdc-banner__icon {
    @include feature-targeting.targets($feat-structure) {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .mdc-banner__text {
    @include typography.typography($_text-type-scale, $query: $query);

    @include feature-targeting.targets($feat-structure) {
      @include rtl-mixins.reflexive-property(margin, 24px, 90px);

      align-self: center;
      flex-grow: 1;

      padding-top: $_text-padding-top-bottom;
      padding-bottom: $_text-padding-top-bottom;
    }
  }

  .mdc-banner__actions {
    @include feature-targeting.targets($feat-structure) {
      @include rtl-mixins.reflexive-property(padding, 0, 8px);

      align-self: flex-end;
      display: flex;
      flex-shrink: 0;
      padding-bottom: 8px;
      padding-top: 8px;
    }
  }

  .mdc-banner__primary-action {
    @include button-mixins.ink-color(
      banner-theme.$primary-action-text-color,
      $query: $query
    );
    @include ripple-theme.states(
      banner-theme.$primary-action-text-color,
      $query: $query
    );
  }

  .mdc-banner__secondary-action {
    @include button-mixins.ink-color(
      banner-theme.$secondary-action-text-color,
      $query: $query
    );
    @include ripple-theme.states(
      banner-theme.$secondary-action-text-color,
      $query: $query
    );
    @include feature-targeting.targets($feat-structure) {
      @include rtl-mixins.reflexive-property(margin, 0, 8px);
    }
  }
}
