//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//
@import "@material/theme/mixins";
@import "@material/theme/variables";
@import "./variables";

@mixin mdc-banner-base {
  min-height: $mdc-banner-height;
}

@mixin mdc-banner-fill-color($color) {
  @include mdc-theme-prop(background-color, $color);
}

@mixin mdc-banner-container-layout {
  @include mdc-rtl-reflexive-box(padding, left, 8px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  @media (max-width: $mdc-banner-mobile-breakpoint) {
    flex-wrap: wrap;
  }
}

@mixin mdc-banner-content-layout {
  display: flex;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;

  @media (max-width: $mdc-banner-mobile-breakpoint) {
    padding-bottom: 4px;
  }
}

@mixin mdc-banner-icon {
  @include mdc-rtl-reflexive-box(margin, left, -8px);
  @include mdc-rtl-reflexive-box(margin, right, 24px);

  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

@mixin mdc-banner-actions-layout {
  @include mdc-rtl-reflexive-box(margin, left, 74px);
  @include mdc-rtl-reflexive-box(margin, right, 8px);

  display: flex;
  flex-shrink: 0;
  align-items: center;
  align-self: flex-end;
  min-height: 52px;

  @media (max-width: $mdc-banner-mobile-breakpoint) {
    flex: 1;
    justify-content: flex-end;
    margin-left: 36px;
  }
}
