@use '../mixins' as checkbox;
@use '@material/feature-targeting/feature-targeting';

@mixin test($query) {
  .test {
    @include checkbox.core-styles($query: $query);
    @include checkbox.container-colors($query: $query);
    @include checkbox.ink-color(red, $query: $query);
    @include checkbox.focus-indicator-color(red, $query: $query);
    @include checkbox.ripple-styles($query: $query);
    @include checkbox.without-ripple($query: $query);
    @include checkbox.ripple-size(0, $query: $query);
    @include checkbox.density(0, $query: $query);
  }
}

// This shouldn't output any CSS.
@include test(feature-targeting.any());
