@use '../mixins' as form-field;
@use '@material/feature-targeting/feature-targeting';

@mixin test($query) {
  .test {
    @include form-field.core-styles($query: $query);
  }
}

// This shouldn't output any CSS.
@include test(feature-targeting.any());
