<template class="mdc-checkbox">
    <input type="checkbox" checked.bind="isChecked" change.delegate="handleChange($event)" class="mdc-checkbox__native-control">
    <div class="mdc-checkbox__background">
        <svg class="mdc-checkbox__checkmark"
            viewBox="0 0 24 24">
            <path class="mdc-checkbox__checkmark__path"
                fill="none"
                stroke="white"
                d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
        </svg>
        <div class="mdc-checkbox__mixedmark"></div>
    </div>
</template>
