//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@forward './select-theme' show min-width, ink-color, disabled-ink-color, container-fill-color, disabled-container-fill-color, dropdown-icon-color, disabled-dropdown-icon-color, hover-dropdown-icon-color, focused-dropdown-icon-color, focused-label-color, label-floating-color, hover-label-floating-color, bottom-line-color, hover-bottom-line-color, focused-bottom-line-color, label-color, hover-label-color, disabled-label-color, outline-color, hover-outline-color, focused-outline-color, disabled-outline-color, filled-shape-radius, outline-shape-radius, filled-density, filled-with-leading-icon-density, outlined-density, outlined-with-leading-icon-density, filled-height, filled-with-leading-icon-height, outlined-height, outlined-with-leading-icon-height;
@forward './select' show core-styles;
