//
// Copyright 2020 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use '@material/feature-targeting/feature-targeting';
@use '@material/floating-label/mixins' as floating-label-mixins;
@use '@material/notched-outline/mixins' as notched-outline-mixins;
@use '@material/notched-outline/variables' as notched-outline-variables;
@use '@material/rtl/mixins' as rtl-mixins;
@use './select-icon-theme';
@use './select-theme';

@mixin core-styles($query: feature-targeting.all()) {
  .mdc-select--outlined {
    $feat-structure: feature-targeting.create-target($query, structure);
    $feat-color: feature-targeting.create-target($query, color);

    @include select-theme.outlined-height(select-theme.$height, $query: $query);
    @include select-theme.outline-shape-radius(
      select-theme.$shape-radius,
      $query: $query
    );

    @include select-theme.container-fill-color(
      (
        default: transparent,
        disabled: transparent,
      ),
      $query: $query
    );

    @include select-theme.outline-color(
      (
        default: select-theme.$outlined-idle-border,
        hover: select-theme.$outlined-hover-border,
        focus: primary,
        disabled: select-theme.$disabled-outline-color,
      ),
      $query: $query
    );

    @include select-theme.truncate-notched-outline-max-width(
      $leading-icon-size: 0,
      $dropdown-icon-size: select-icon-theme.$icon-size,
      $query: $query
    );

    @include feature-targeting.targets($feat-structure) {
      border: none;
    }

    .mdc-select__anchor {
      @include floating-label-mixins.shake-animation(
        select-outlined,
        $query: $query
      );
      @include notched-outline-mixins.floating-label-float-position-absolute(
        select-theme.$outlined-label-position-y,
        $query: $query
      );
      @include notched-outline-mixins.notch-offset(
        notched-outline-variables.$border-width,
        $query: $query
      );
      @include select-theme.center-aligned($query: $query);

      @include feature-targeting.targets($feat-structure) {
        display: flex;
        // To eliminate extra gap between helper text & outlined select in IE.
        align-items: baseline;
        overflow: visible;
      }
    }

    .mdc-select__selected-text-container {
      @include feature-targeting.targets($feat-structure) {
        display: flex;
        border: none;
        z-index: 1;
      }

      @include feature-targeting.targets($feat-color) {
        background-color: transparent;
      }
    }

    .mdc-select__icon {
      @include feature-targeting.targets($feat-structure) {
        z-index: 2;
      }
    }

    .mdc-floating-label {
      @include feature-targeting.targets($feat-structure) {
        line-height: 1.15rem;

        @include rtl-mixins.reflexive-position(
          left,
          notched-outline-variables.$padding
        );
      }
    }

    &.mdc-select--focused {
      @include notched-outline-mixins.notch-offset(
        select-theme.$outlined-stroke-width,
        $query: $query
      );
    }

    &.mdc-select--invalid {
      @include select-theme.outline-color(
        (
          default: select-theme.$error-color,
          hover: select-theme.$error-color,
          focus: select-theme.$error-color,
        ),
        $query: $query
      );
    }

    &.mdc-select--with-leading-icon {
      @include select-theme.outlined-with-leading-icon-floating-label-position-animation(
        select-theme.$height,
        select-icon-theme.$icon-size,
        $query: $query
      );
      @include select-theme.truncate-notched-outline-max-width(
        $leading-icon-size: select-icon-theme.$icon-size,
        $dropdown-icon-size: select-icon-theme.$icon-size,
        $query: $query
      );
    }

    .mdc-menu-surface {
      @include feature-targeting.targets($feat-structure) {
        margin-bottom: 8px;
      }
    }

    &.mdc-select--no-label .mdc-menu-surface,
    .mdc-menu-surface--is-open-below {
      @include feature-targeting.targets($feat-structure) {
        margin-bottom: 0;
      }
    }
  }
}
