//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use "sass:color";
@use "@material/density/variables" as density-variables;
@use "@material/notched-outline/variables" as notched-outline-variables;
@use "@material/theme/variables";

@function get-outlined-label-position-y($select-anchor-height) {
  @return $select-anchor-height / 2 +
    notched-outline-variables.$label-box-height / 2;
}
$ripple-target: '.mdc-select__ripple';
$arrow-padding: 52px !default;
$label-padding: 16px !default;
$height: 56px !default;
$minimum-height-for-filled-label: 52px !default;
$filled-baseline-top: 40px !default;
$selected-text-height: 28px !default;
$anchor-padding-left: 16px !default;
$anchor-padding-left-with-leading-icon: 0 !default;
$anchor-padding-right: 0 !default;
$outlined-stroke-width: 2px !default;
$min-width: 200px !default;
$shape-radius: small !default;

$minimum-height: 40px !default;
$minimum-height-for-filled-label: 52px !default;
$maximum-height: $height !default;
$density-scale: density-variables.$default-scale !default;
$density-config: (
  height: (
    default: $height,
    maximum: $maximum-height,
    minimum: $minimum-height,
  ),
) !default;

$ink-color: rgba(variables.prop-value(on-surface), 0.87) !default;
$dropdown-icon-color: rgba(variables.prop-value(on-surface), 0.54) !default;
$icon-color: rgba(variables.prop-value(on-surface), 0.54) !default;
$label-color: rgba(variables.prop-value(on-surface), 0.6) !default;
$focused-label-color: rgba(variables.prop-value(primary), 0.87) !default;
$bottom-line-idle-color: rgba(variables.prop-value(on-surface), 0.42) !default;
$bottom-line-hover-color: rgba(variables.prop-value(on-surface), 0.87) !default;
$helper-text-color: rgba(variables.prop-value(on-surface), 0.6) !default;

$fill-color: color.mix(
  variables.prop-value(on-surface),
  variables.prop-value(surface),
  4%
) !default;

// Disabled Styles
$disabled-label-color: rgba(variables.prop-value(on-surface), 0.38) !default;
$disabled-icon-color: rgba(variables.prop-value(on-surface), 0.38) !default;
$disabled-ink-color: rgba(variables.prop-value(on-surface), 0.38) !default;
$disabled-fill-color: color.mix(
  variables.prop-value(on-surface),
  variables.prop-value(surface),
  2%
) !default;
$disabled-fill-border: rgba(variables.prop-value(on-surface), 0.06) !default;
$disabled-helper-text-color: rgba(
  variables.prop-value(on-surface),
  0.38
) !default;
$disabled-bottom-line-color: rgba(
  variables.prop-value(on-surface),
  0.06
) !default;
$disabled-dropdown-icon-color: rgba(
  variables.prop-value(on-surface),
  0.38
) !default;
$disabled-outline-color: rgba(variables.prop-value(on-surface), 0.06) !default;

$outlined-idle-border: rgba(variables.prop-value(on-surface), 0.38) !default;
$outlined-hover-border: rgba(variables.prop-value(on-surface), 0.87) !default;

$label-position-y: 106% !default;
$outline-label-offset: 16px !default;
$outlined-label-position-y: get-outlined-label-position-y($height) !default;
$outlined-with-leading-icon-label-position-x: 32px !default;

$dropdown-transition-duration: 150ms !default;
// Transition durartions to active state
$icon-active-fade-out-duration: 0.33 * $dropdown-transition-duration !default;
$icon-active-fade-in-duration: 0.67 * $dropdown-transition-duration !default;
// Transition durartions to inactive state
$icon-inactive-fade-out-duration: 0.5 * $dropdown-transition-duration !default;
$icon-inactive-fade-in-duration: 0.5 * $dropdown-transition-duration !default;

// Error colors
$error-color: error !default;
