//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use "./keyframes";
@use "./mixins";
@use "./variables";
@use "@material/animation/variables" as animation-variables;
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/floating-label/mdc-floating-label";
@use "@material/typography/mixins" as mixins2;
@use "@material/ripple/common";
@use "@material/ripple/mixins" as ripple-mixins;
@use "@material/rtl/mixins" as rtl-mixins;
@forward "icon/mdc-select-icon";
@forward "helper-text/mdc-select-helper-text";
@use "./helper-text/mixins" as helper-text-mixins;
@use "@material/floating-label/mixins" as floating-label-mixins;
@use "@material/ripple/functions";
@use "@material/theme/mixins" as theme-mixins;
@use "@material/theme/variables" as theme-variables;

@forward "helper-text/mixins";
@forward "mixins";
@forward "variables";

// postcss-bem-linter: define select
.mdc-select {
  @include mixins.container-fill-color(variables.$fill-color);
  @include mixins.ink-color(variables.$ink-color);
  @include mixins.label-color(variables.$label-color);
  @include mixins.bottom-line-color(variables.$bottom-line-idle-color);
  @include helper-text-mixins.helper-text-color(variables.$helper-text-color);
  @include mixins.shape-radius(small);

  // Focused state colors
  @include mixins.focused-bottom-line-color(primary);
  @include mixins.focused-label-color(variables.$focused-label-color);

  // Hover state colors
  @include mixins.hover-bottom-line-color(variables.$bottom-line-hover-color);

  // Floating label private mixin
  @include mixins.floating-label_;

  position: relative; // Menu is absolutely positioned relative to this.

  &__dropdown-icon {
    @include mixins.dd-arrow-svg-bg_(variables.$dropdown-color, variables.$dropdown-opacity);
    @include rtl-mixins.reflexive(left, auto, right, 8px);

    position: absolute;
    bottom: 16px;
    width: 24px;
    height: 24px;
    transition: transform variables.$dropdown-transition-duration animation-variables.$standard-curve-timing-function;
    pointer-events: none;

    .mdc-select--focused & {
      @include mixins.dd-arrow-svg-bg_(theme-variables.prop-value(primary), 1);
    }

    .mdc-select--activated & {
      transform: rotate(180deg) translateY(-5px);
      transition: transform variables.$dropdown-transition-duration animation-variables.$standard-curve-timing-function;
    }
  }
}

.mdc-select__anchor {
  @include ripple-mixins.surface;
  @include ripple-mixins.radius-bounded;
  // Select intentionally omits press ripple, so each state needs to be specified individually.
  @include ripple-mixins.states-base-color(variables.$ink-color);
  @include ripple-mixins.states-hover-opacity(functions.states-opacity(variables.$ink-color, hover));
  @include ripple-mixins.states-focus-opacity(functions.states-opacity(variables.$ink-color, focus));
  @include floating-label-mixins.float-position(variables.$label-position-y);

  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  height: variables.$height;
  overflow: hidden;
  /* @alternate */
  will-change: opacity, transform, color;

  @include mixins.focused-line-ripple_ {
    &::after {
      transform: scale(1, 2);
      opacity: 1;
    }
  }
}

@include mixins.helper-text_;
@include mixins.text_();

.mdc-select--outlined {
  @include mixins.outlined_;
}

.mdc-select--invalid {
  @include mixins.label-color(variables.$error-color);
  @include mixins.bottom-line-color(variables.$error-color);
  @include mixins.focused-bottom-line-color(variables.$error-color);
  @include mixins.focused-label-color(variables.$error-color);
  @include helper-text-mixins.helper-text-validation-color(variables.$error-color);

  // Hover state colors
  @include mixins.hover-bottom-line-color(variables.$error-color);

  &.mdc-select--outlined {
    @include mixins.outline-color(variables.$error-color);
    @include mixins.hover-outline-color(variables.$error-color);
    @include mixins.focused-outline-color(variables.$error-color);
  }

  .mdc-select__dropdown-icon {
    @include mixins.dd-arrow-svg-bg_(variables.$error-color, 1);
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  + .mdc-select-helper-text--validation-msg {
    opacity: 1;
  }
}

.mdc-select--required {
  // stylelint-disable-next-line plugin/selector-bem-pattern
  .mdc-floating-label::after {
    content: "*";
  }
}

.mdc-select--disabled {
  @include mixins.disabled_;
}

.mdc-select--no-label {
  @include mixins.no-label_;
}

.mdc-select--with-leading-icon {
  @include mixins.with-leading-icon_;
}

.mdc-select__menu .mdc-list .mdc-list-item--selected {
  @include theme-mixins.prop(color, on-surface);
  @include ripple-mixins.states(on-surface);
}

@include floating-label-mixins.shake-keyframes(
  select-outlined-leading-icon,
  variables.$outlined-label-position-y,
  variables.$outlined-with-leading-icon-label-position-x
);
@include floating-label-mixins.shake-keyframes(
  select-outlined-leading-icon-rtl,
  variables.$outlined-label-position-y,
  -(variables.$outlined-with-leading-icon-label-position-x)
);
