//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "./keyframes";
@import "./mixins";
@import "./variables";
@import "@material/animation/variables";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/notched-outline/mdc-notched-outline";
@import "@material/floating-label/mdc-floating-label";
@import "@material/typography/mixins";
@import "@material/ripple/common";
@import "@material/ripple/mixins";
@import "@material/rtl/mixins";

// postcss-bem-linter: define select
.mdc-select {
  @include mdc-select-container-fill-color($mdc-select-box-fill-color);
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  // Select intentionally omits press ripple, so each state needs to be specified individually.
  @include mdc-states-base-color($mdc-select-ink-color);
  @include mdc-states-hover-opacity(mdc-states-opacity($mdc-select-ink-color, hover));
  @include mdc-states-focus-opacity(mdc-states-opacity($mdc-select-ink-color, focus));
  @include mdc-select-ink-color($mdc-select-ink-color);
  @include mdc-select-label-color($mdc-select-label-color);
  @include mdc-select-bottom-line-color($mdc-select-bottom-line-idle-color);
  @include mdc-select-shape-radius(medium);

  // Focused state colors
  @include mdc-select-focused-bottom-line-color(primary);
  @include mdc-select-focused-label-color($mdc-select-focused-label-color);

  // Hover state colors
  @include mdc-select-hover-bottom-line-color($mdc-select-bottom-line-hover-color);
  @include mdc-floating-label-float-position($mdc-select-label-position-y);
  @include mdc-select-floating-label_;

  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  height: $mdc-select-height;
  overflow: hidden;
  will-change: opacity, transform, color;

  @include mdc-rtl {
    background-position: left 10px center;
  }

  &__dropdown-icon {
    @include mdc-select-dd-arrow-svg-bg_($mdc-select-dropdown-color, $mdc-select-dropdown-opacity);
    @include mdc-rtl-reflexive(left, auto, right, 8px);

    position: absolute;
    bottom: 16px;
    width: 24px;
    height: 24px;
    transition: transform $mdc-select-dropdown-transition-duration $mdc-animation-standard-curve-timing-function;
    pointer-events: none;

    .mdc-select--focused & {
      transform: rotate(180deg) translateY(-5px);
      transition: transform $mdc-select-dropdown-transition-duration $mdc-animation-standard-curve-timing-function;
    }
  }

  &__selected-text {
    min-width: 200px;
    padding-top: 22px;
  }

  &__native-control {
    padding-top: 20px;
  }

  &__native-control,
  &__selected-text {
    @include mdc-rtl-reflexive-property(padding, $mdc-select-label-padding, $mdc-select-arrow-padding);
    @include mdc-typography(subtitle1);

    &::-ms-expand {
      display: none;
    }

    &::-ms-value {
      background-color: transparent;
      color: inherit;
    }

    // counteracts the extra text padding that Firefox adds by default
    @-moz-document url-prefix("") {
      text-indent: -2px;
    }

    // stylelint-disable-next-line selector-max-type, plugin/selector-bem-pattern
    > option {
      @include mdc-theme-prop(background-color, surface);

      color: inherit; // Override default user agent stylesheet
    }

    box-sizing: border-box;
    width: 100%;
    padding-bottom: 4px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    background-color: transparent;
    color: inherit; // Override default user agent stylesheet
    white-space: nowrap;
    cursor: pointer;
    appearance: none;
  }

  @include mdc-select-focused-line-ripple_ {
    &::after {
      transform: scale(1, 2);
      opacity: 1;
    }
  }
}

.mdc-select--outlined {
  @include mdc-select-container-fill-color(transparent);
  @include mdc-select-outline-color($mdc-select-outlined-idle-border);
  @include mdc-select-hover-outline-color($mdc-select-outlined-hover-border);
  @include mdc-select-focused-outline-color(primary);
  @include mdc-floating-label-float-position($mdc-select-outlined-label-position-y);
  @include mdc-floating-label-shake-animation(text-field-outlined);
  @include mdc-select-outline-shape-radius(medium);
  @include mdc-states-base-color(transparent);
  @include mdc-select-container-fill-color(transparent);

  border: none;
  overflow: visible;

  .mdc-select__native-control,
  .mdc-select__selected-text {
    @include mdc-rtl-reflexive-property(padding, $mdc-select-label-padding, $mdc-select-arrow-padding);

    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    background-color: transparent;
    z-index: 1;
  }

  .mdc-select__selected-text {
    padding-top: 14px;
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  .mdc-floating-label {
    bottom: 20px;
    line-height: 1.15rem;
    pointer-events: auto;
  }
}

.mdc-select--disabled {
  @include mdc-select-container-fill-color_($mdc-select-box-disabled-fill-color);

  .mdc-floating-label {
    @include mdc-floating-label-ink-color($mdc-select-disabled-label-color);
  }

  .mdc-select__dropdown-icon {
    @include mdc-select-dd-arrow-svg-bg_($mdc-select-dropdown-color, $mdc-select-disabled-dropdown-opacity);
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  .mdc-line-ripple {
    display: none;
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  .mdc-select__native-control,
  .mdc-select__selected-text {
    border-bottom-style: dotted;
    color: $mdc-select-disabled-ink-color;
  }

  .mdc-select__selected-text {
    pointer-events: none;
  }

  &.mdc-select--outlined {
    @include mdc-select-container-fill-color_(transparent);

    // stylelint-disable-next-line plugin/selector-bem-pattern
    .mdc-select__native-control,
    .mdc-select__selected-text {
      border-bottom-style: none;
    }

    @include mdc-select-outline-color_($mdc-select-outlined-disabled-border);
  }

  cursor: default;
  pointer-events: none;
}

.mdc-select__menu .mdc-list .mdc-list-item--selected {
  @include mdc-theme-prop(color, on-surface);
  @include mdc-states;
}
