//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "../../../../packages/mdc-icon-button/mixins";
@import "../../../../packages/mdc-theme/color-palette";
@import "../../../../packages/mdc-theme/mdc-theme";
@import "../mixins";

$custom-icon-button-icon-ink-color: $material-color-red-500;
$custom-icon-button-disabled-icon-ink-color: rgba(purple, .3);
$custom-icon-button-size: 36px;

.test-cell--icon-button {
  @include test-cell-size(91);
}

.custom-icon-button--ink-color {
  @include mdc-icon-button-ink-color($custom-icon-button-icon-ink-color);
  @include mdc-icon-button-disabled-ink-color($custom-icon-button-disabled-icon-ink-color);
}

.custom-icon-button--icon-size {
  @include mdc-icon-button-icon-size($custom-icon-button-size);
}

.custom-icon-button--density-1 {
  @include mdc-icon-button-density($density-scale: -1);
}

.custom-icon-button--density-2 {
  @include mdc-icon-button-density($density-scale: -2);
}

.custom-icon-button--density-3 {
  @include mdc-icon-button-density($density-scale: -3);
}

.custom-icon-button--density-4 {
  @include mdc-icon-button-density($density-scale: -4);
}
