//
// Copyright 2021 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

// stylelint-disable selector-class-pattern --
// Selector '.mdc-*' should only be used in this project.

@use 'sass:map';
@use '@material/theme/keys';
@use '@material/theme/theme';
@use '@material/theme/theme-color';

$light-theme: (
  active-indicator-color: theme-color.$primary,
  active-indicator-height: 3px,
  active-indicator-shape: (
    3px,
    3px,
    0,
    0,
  ),
);
$custom-property-prefix: 'tab-indicator';

@mixin theme($theme) {
  @include theme.validate-theme($light-theme, $theme);
  @include keys.declare-custom-properties(
    $theme,
    $prefix: $custom-property-prefix
  );
}

@mixin theme-styles($theme) {
  @include theme.validate-theme-styles($light-theme, $theme);
  $theme: keys.create-theme-properties(
    $theme,
    $prefix: $custom-property-prefix
  );
  @include _underline-color(map.get($theme, active-indicator-color));
  @include _underline-height(map.get($theme, active-indicator-height));
  @include _underline-shape(map.get($theme, active-indicator-shape));
}

@mixin _underline-color($color) {
  .mdc-tab-indicator__content--underline {
    @include theme.property(border-color, $color);
  }
}

@mixin _underline-height($height) {
  .mdc-tab-indicator__content--underline {
    @include theme.property(border-top-width, $height);
  }
}

@mixin _underline-shape($radius) {
  .mdc-tab-indicator__content--underline {
    @include theme.property(border-radius, $radius);
  }
}
