@use 'true' as test;
@use 'third_party/javascript/material_components_web/focus/focus-ring-theme';

@include test.describe('Calling focus-ring-theme') {
  @include test.describe('.theme') {
    @include test.it('returns nothing when no theme is provided.') {
      @include test.assert {
        @include test.output {
          @include focus-ring-theme.theme(());
        }

        @include test.expect {
          // No content. This is testing that an error isn't thrown.
        }
      }
    }

    @include test.it('returns the expected custom property declarations.') {
      @include test.assert {
        @include test.output {
          @include focus-ring-theme.theme(
            (
              'color': blue,
              'offset': 2px,
              'track-width': 3px,
              'target-shape': 5px,
            )
          );
        }

        @include test.expect {
          --mdc-focus-ring-color: blue;
          --mdc-focus-ring-offset: 2px;
          --mdc-focus-ring-track-width: 3px;
          --mdc-focus-ring-target-shape: 5px;
        }
      }
    }
  }

  @include test.describe('.theme-styles') {
    // TODO(b/263502978): Do not remove this first test until a more
    // deterministic way to test sass output with @keyframes is found.
    @include test.it('returns CSS for the underlying focus-ring structure.') {
      @include test.assert {
        @include test.output {
          @include focus-ring-theme.theme-styles(
            (
              'color': blue,
              'offset': 2px,
              'track-width': 3px,
              'target-shape': 5px,
            )
          );
        }

        @include test.contains {
          border-radius: calc(
            var(--mdc-focus-ring-target-shape, 5px) +
              var(--mdc-focus-ring-offset, 2px)
          );
          inset: calc(-1 * var(--mdc-focus-ring-offset, 2px));
          outline: var(--mdc-focus-ring-track-width, 3px) solid
            var(--mdc-focus-ring-color, blue);
        }
      }
    }

    @include test.it(
      'returns animation styles for newly visible focus-rings.'
    ) {
      @include test.assert {
        @include test.output {
          @include focus-ring-theme.theme-styles(
            (
              'color': blue,
              'offset': 2px,
              'track-width': 3px,
              'target-shape': 5px,
            )
          );
        }

        @include test.expect {
          border-radius: calc(
            var(--mdc-focus-ring-target-shape, 5px) +
              var(--mdc-focus-ring-offset, 2px)
          );
          inset: calc(-1 * var(--mdc-focus-ring-offset, 2px));
          outline: var(--mdc-focus-ring-track-width, 3px) solid
            var(--mdc-focus-ring-color, blue);
          animation-name: focus-ring-grows, focus-ring-shrinks;
          animation-duration: 150ms, 450ms;
          animation-delay: 0s, 150ms;
          animation-timing-function: cubic-bezier(0.2, 0, 0, 1),
            cubic-bezier(0.2, 0, 0, 1);

          @keyframes focus-ring-grows {
            from {
              outline-width: 0;
            }
            to {
              outline-width: 8px;
              inset: calc(
                -1 * var(--mdc-focus-ring-offset, 2px) + (
                    8px - var(--mdc-focus-ring-track-width, 3px)
                  ) / 2
              );
            }
          }

          @keyframes focus-ring-shrinks {
            from {
              outline-width: 8px;
              inset: calc(
                -1 * var(--mdc-focus-ring-offset, 2px) + (
                    8px - var(--mdc-focus-ring-track-width, 3px)
                  ) / 2
              );
            }
          }
          @media (prefers-reduced-motion) {
            animation: none;
          }
        } // end expect
      }
    }
  }
}
