@use '../mixins' as tab-indicator;
@use '@material/feature-targeting/feature-targeting';

@mixin test($query) {
  .test {
    @include tab-indicator.core-styles($query: $query);
  }
}

// This shouldn't output any CSS.
@include test(feature-targeting.any());
