/* stylelint-disable */

html, body {
  height: 100%;
  background-color: #f2f2f2;
}

.shrine-product-card {
  margin: 0 auto;
  width: 320px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: white;
}

.shrine-product-card__price {
  display: block;
  text-align: right;
}

.shrine-product-card__image {
  margin: 0 auto;
}
