@use '../data-table' as data-table;
@use '../data-table-theme' as data-table-theme;
@use '@material/feature-targeting/feature-targeting';

@mixin test($query) {
  .test {
    @include data-table.core-styles($query: $query);
    @include data-table.theme-baseline($query: $query);
    @include data-table-theme.fill-color(red, $query: $query);
    @include data-table-theme.header-row-fill-color(red, $query: $query);
    @include data-table-theme.row-fill-color(red, $query: $query);
    @include data-table-theme.selected-row-fill-color(red, $query: $query);
    @include data-table-theme.checked-icon-color(red, $query: $query);
    @include data-table-theme.divider-color(red, $query: $query);
    @include data-table-theme.divider-size(0, $query: $query);
    @include data-table-theme.row-hover-fill-color(red, $query: $query);
    @include data-table-theme.header-row-text-color(red, $query: $query);
    @include data-table-theme.row-text-color(red, $query: $query);
    @include data-table-theme.shape-radius(0, $query: $query);
    @include data-table-theme.stroke-size(0, $query: $query);
    @include data-table-theme.stroke-color(red, $query: $query);
    @include data-table-theme.header-row-height(0, $query: $query);
    @include data-table-theme.row-height(0, $query: $query);
    @include data-table-theme.cell-padding(0, $query: $query);
    @include data-table-theme.column-widths(0, $query: $query);
    @include data-table-theme.density(0, $query: $query);
    @include data-table-theme.sort-icon-color(red, $query: $query);
    @include data-table-theme.sort-icon-active-color(red, $query: $query);
    @include data-table-theme.max-height(99px, $query: $query);
  }
}

// This shouldn't output any CSS.
@include test(feature-targeting.any());
