@forward "@material/animation" as mdc-animation-*;
@forward "@material/density" as mdc-density-*;
@forward "@material/feature-targeting" as mdc-feature-*;
@forward "@material/base" as mdc-base-*;
@forward "@material/theme" as mdc-theme-*;
@forward "@material/ripple" as mdc-* hide $mdc-dark-ink-opacities, $mdc-fade-in-duration, $mdc-fade-out-duration, $mdc-light-ink-opacities, $mdc-pressed-dark-ink-opacity, $mdc-pressed-light-ink-opacity, $mdc-translate-duration, mdc-core-styles, mdc-common, mdc-surface, mdc-radius-bounded, mdc-radius-unbounded, mdc-target-selector, mdc-target-common, mdc-keyframes-;
@forward "@material/ripple" as mdc-ripple-* hide $mdc-ripple-states-wash-duration, mdc-ripple-states-base-color, mdc-ripple-states-opacities, mdc-ripple-states-hover-opacity, mdc-ripple-states-focus-opacity, mdc-ripple-states-focus-opacity-properties-, mdc-ripple-states-press-opacity, mdc-ripple-states, mdc-ripple-states-activated, mdc-ripple-states-selected, mdc-ripple-states-interactions-, mdc-ripple-states-opacity, mdc-ripple-states-opacities-;
@forward "@material/touch-target" as mdc-touch-target-* hide mdc-touch-target-touch-target;
@forward "@material/touch-target" as mdc-* hide mdc-margin, mdc-wrapper;
@forward "./index" as mdc-checkbox-*;
