@forward "@material/animation/variables" as mdc-animation-*;
@forward "@material/density/variables" as mdc-density-*;
@forward "@material/feature-targeting/variables" as mdc-feature-*;
@forward "@material/feature-targeting/mixins" as mdc-feature-*;
@forward "@material/base/mixins" as mdc-base-*;
@forward "@material/theme/variables" as mdc-theme-*;
@forward "@material/ripple/variables" as mdc-* hide $mdc-dark-ink-opacities, $mdc-fade-in-duration, $mdc-fade-out-duration, $mdc-light-ink-opacities, $mdc-pressed-dark-ink-opacity, $mdc-pressed-light-ink-opacity, $mdc-translate-duration;
@forward "@material/ripple/variables" as mdc-ripple-* hide $mdc-ripple-states-wash-duration;
@forward "@material/touch-target/variables" as mdc-touch-target-*;
@forward "variables" as mdc-checkbox-*;
@forward "mixins" as mdc-checkbox-*;
@forward "@material/theme/mixins" as mdc-theme-*;
@forward "@material/ripple/keyframes" as mdc-ripple-*;
@forward "@material/ripple/mixins" as mdc-* hide mdc-common, mdc-core-styles, mdc-radius-bounded, mdc-radius-unbounded, mdc-surface, mdc-target-common, mdc-target-selector;
@forward "@material/ripple/mixins" as mdc-ripple-* hide mdc-ripple-states, mdc-ripple-states-activated, mdc-ripple-states-base-color, mdc-ripple-states-focus-opacity, mdc-ripple-states-focus-opacity-properties-, mdc-ripple-states-hover-opacity, mdc-ripple-states-interactions-, mdc-ripple-states-opacities, mdc-ripple-states-press-opacity, mdc-ripple-states-selected;
@forward "@material/touch-target/mixins" as mdc-* hide mdc-margin, mdc-wrapper;
@forward "@material/touch-target/mixins" as mdc-touch-target-* hide mdc-touch-target-touch-target;
@forward "keyframes" as mdc-checkbox-*;
@forward "@material/animation/functions" as mdc-animation-*;
@forward "@material/density/functions" as mdc-density-*;
@forward "@material/feature-targeting/functions" as mdc-feature-*;
@forward "@material/theme/functions" as mdc-theme-*;
@forward "@material/ripple/functions" as mdc-*;
@forward "functions" as mdc-checkbox-*;
@forward "mdc-checkbox";
