@import "@material/button/mixins";
@import "@material/card/mixins";
@import "@material/checkbox/mixins";
@import "@material/chips/mixins";
@import "@material/dialog/mixins";
@import "@material/drawer/mixins";
@import "@material/elevation/mixins";
@import "@material/fab/mixins";
@import "@material/form-field/mixins";
@import "@material/grid-list/mixins";
@import "@material/icon-button/mixins";
@import "@material/image-list/mixins";
@import "@material/list/mixins";
@import "@material/menu-surface/mixins";
@import "@material/menu/mixins";
@import "@material/radio/mixins";
@import "@material/ripple/mixins";
@import "@material/shape/mixins";
@import "@material/slider/mixins";
@import "@material/snackbar/mixins";
@import "@material/switch/mixins";
@import "@material/tab-bar/mixins";
@import "@material/tab-scroller/mixins";
@import "@material/tab-indicator/mixins";
@import "@material/tab/mixins";
@import "@material/theme/mixins";
@import "@material/typography/mixins";
@import "@material/data-table/mixins";

@mixin mdc-feature-targeting-test($query) {
  .mdc-test {
    // Button
    @include mdc-button-core-styles($query: $query);
    @include mdc-button-filled-accessible(red, $query: $query);
    @include mdc-button-container-fill-color(red, $query: $query);
    @include mdc-button-outline-color(red, $query: $query);
    @include mdc-button-icon-color(red, $query: $query);
    @include mdc-button-ink-color(red, $query: $query);
    @include mdc-button-shape-radius(0, $query: $query);
    @include mdc-button-horizontal-padding(0, $query: $query);
    @include mdc-button-outline-width(0, $query: $query);
    @include mdc-button-ripple($query: $query);
    @include mdc-button-without-ripple($query: $query);

    // Card
    @include mdc-card-core-styles($query: $query);
    @include mdc-card-fill-color(red, $query: $query);
    @include mdc-card-outline(red, $query: $query);
    @include mdc-card-shape-radius(0, $query: $query);
    @include mdc-card-media-aspect-ratio(1, 1, $query: $query);
    @include mdc-card-ripple($query: $query);
    @include mdc-card-without-ripple($query: $query);

    // Checkbox
    @include mdc-checkbox-core-styles($query: $query);
    @include mdc-checkbox-container-colors($query: $query);
    @include mdc-checkbox-ink-color(red, $query: $query);
    @include mdc-checkbox-focus-indicator-color(red, $query: $query);
    @include mdc-checkbox-ripple($query: $query);
    @include mdc-checkbox-without-ripple($query: $query);
    @include mdc-checkbox-ripple-size(40px, $query: $query);
    @include mdc-checkbox-touch-target(48px, $query: $query);

    // Chips
    @include mdc-chip-core-styles($query: $query);
    @include mdc-chip-elevation-transition($query: $query);
    @include mdc-chip-fill-color(red, $query: $query);
    @include mdc-chip-fill-color-accessible(red, $query: $query);
    @include mdc-chip-height(0, $query: $query);
    @include mdc-chip-horizontal-padding(0, $query: $query);
    @include mdc-chip-ink-color(red, $query: $query);
    @include mdc-chip-leading-icon-color(red, $query: $query);
    @include mdc-chip-leading-icon-margin($query: $query);
    @include mdc-chip-leading-icon-size(0, $query: $query);
    @include mdc-chip-outline($query: $query);
    @include mdc-chip-outline-color(red, $query: $query);
    @include mdc-chip-outline-style(soild, $query: $query);
    @include mdc-chip-outline-width(0, $query: $query);
    @include mdc-chip-ripple($query: $query);
    @include mdc-chip-selected-ink-color(red, $query: $query);
    @include mdc-chip-set-core-styles($query: $query);
    @include mdc-chip-set-spacing(0, $query: $query);
    @include mdc-chip-shape-radius(0, $query: $query);
    @include mdc-chip-trailing-icon-color(red, $query: $query);
    @include mdc-chip-trailing-icon-margin($query: $query);
    @include mdc-chip-trailing-icon-size(0, $query: $query);
    @include mdc-chip-without-ripple($query: $query);

    // Data Table
    @include mdc-data-table-core-styles($query: $query);
    @include mdc-data-table-theme-baseline($query: $query);
    @include mdc-data-table-fill-color(red, $query: $query);
    @include mdc-data-table-header-row-fill-color(red, $query: $query);
    @include mdc-data-table-row-fill-color(red, $query: $query);
    @include mdc-data-table-selected-row-fill-color(red, $query: $query);
    @include mdc-data-table-checked-icon-color(red, $query: $query);
    @include mdc-data-table-divider-color(red, $query: $query);
    @include mdc-data-table-divider-size(0, $query: $query);
    @include mdc-data-table-row-hover-fill-color(red, $query: $query);
    @include mdc-data-table-header-row-text-color(red, $query: $query);
    @include mdc-data-table-row-text-color(red, $query: $query);
    @include mdc-data-table-shape-radius(0, $query: $query);
    @include mdc-data-table-stroke-size(0, $query: $query);
    @include mdc-data-table-stroke-color(red, $query: $query);
    @include mdc-data-table-header-row-height(0, $query: $query);
    @include mdc-data-table-row-height(0, $query: $query);
    @include mdc-data-table-cell-padding(0, $query: $query);
    @include mdc-data-table-column-widths(0, $query: $query);

    // Dialog
    @include mdc-dialog-core-styles($query: $query);
    @include mdc-dialog-container-fill-color(red, $query: $query);
    @include mdc-dialog-scrim-color(red, $query: $query);
    @include mdc-dialog-title-ink-color(red, $query: $query);
    @include mdc-dialog-content-ink-color(red, $query: $query);
    @include mdc-dialog-scroll-divider-color(red, $query: $query);
    @include mdc-dialog-shape-radius(0, $query: $query);
    @include mdc-dialog-min-width(0, $query: $query);
    @include mdc-dialog-max-width(0, 0, $query: $query);
    @include mdc-dialog-max-height(0, 0, $query: $query);

    // Drawer
    @include mdc-drawer-core-styles($query: $query);
    @include mdc-drawer-dismissible-core-styles($query: $query);
    @include mdc-drawer-modal-core-styles($query: $query);
    @include mdc-drawer-activated-overlay-color(red, $query: $query);
    @include mdc-drawer-border-color(red, $query: $query);
    @include mdc-drawer-item-shape-radius(42, $query: $query);
    @include mdc-drawer-shape-radius(42, $query: $query);
    @include mdc-drawer-divider-color(red, $query: $query);
    @include mdc-drawer-title-ink-color(red, $query: $query);
    @include mdc-drawer-subtitle-ink-color(red, $query: $query);
    @include mdc-drawer-fill-color-accessible(red, $query: $query);
    @include mdc-drawer-item-icon-ink-color(red, $query: $query);
    @include mdc-drawer-item-activated-icon-ink-color(red, $query: $query);
    @include mdc-drawer-item-activated-text-ink-color(red, $query: $query);
    @include mdc-drawer-item-text-ink-color(red, $query: $query);
    @include mdc-drawer-surface-fill-color(red, $query: $query);
    @include mdc-drawer-scrim-fill-color(red, $query: $query);
    @include mdc-drawer-z-index(1337, $query: $query);
    @include mdc-drawer-width(1337px, $query: $query);

    // Elevation
    @include mdc-elevation-core-styles($query: $query);
    @include mdc-elevation(0, $query: $query);

    // FAB
    @include mdc-fab-core-styles($query: $query);
    @include mdc-fab-without-ripple($query: $query);
    @include mdc-fab-ripple($query: $query);
    @include mdc-fab-accessible(red, $query: $query);
    @include mdc-fab-container-color(red, $query: $query);
    @include mdc-fab-icon-size(0, $query: $query);
    @include mdc-fab-ink-color(red, $query: $query);
    @include mdc-fab-extended-fluid($query: $query);
    @include mdc-fab-extended-padding(0, 0, $query: $query);
    @include mdc-fab-extended-label-padding(0, $query: $query);
    @include mdc-fab-shape-radius(0, $query: $query);
    @include mdc-fab-extended-shape-radius(0, $rtl-reflexive: false, $query: $query);

    // Form Field
    @include mdc-form-field-core-styles($query: $query);

    // Grid List
    @include mdc-grid-list-core-styles($query: $query);
    @include mdc-grid-list-tile-aspect(1, $query: $query);
    @include mdc-grid-list-tile-gutter(0, $query: $query);

    // Icon Button
    @include mdc-icon-button-core-styles($query: $query);
    @include mdc-icon-button-size(0, $query: $query);
    @include mdc-icon-button-ink-color(red, $query: $query);

    // Image List
    @include mdc-image-list-core-styles($query: $query);
    @include mdc-image-list-aspect(1, $query: $query);
    @include mdc-image-list-shape-radius(0, $query: $query);
    @include mdc-image-list-standard-columns(4, 4px, $query: $query);
    @include mdc-image-list-masonry-columns(4, 4px, $query: $query);

    // List
    @include mdc-list-core-styles($query: $query);
    @include mdc-list-item-primary-text-ink-color(red, $query: $query);
    @include mdc-list-item-secondary-text-ink-color(red, $query: $query);
    @include mdc-list-item-graphic-fill-color(red, $query: $query);
    @include mdc-list-item-graphic-ink-color(red, $query: $query);
    @include mdc-list-item-meta-ink-color(red, $query: $query);
    @include mdc-list-item-shape-radius(42, $rtl-reflexive: false, $query: $query);
    @include mdc-list-divider-color(red, $query: $query);
    @include mdc-list-group-subheader-ink-color(red, $query: $query);
    @include mdc-list-ripple($query: $query);
    @include mdc-list-without-ripple($query: $query);

    // Menu
    @include mdc-menu-core-styles($query: $query);
    @include mdc-menu-width(0, $query: $query);

    // Menu Surface
    @include mdc-menu-surface-core-styles($query: $query);
    @include mdc-menu-surface-fill-color(surface, $query: $query);
    @include mdc-menu-surface-ink-color(on-surface, $query: $query);
    @include mdc-menu-surface-shape-radius(medium, $query: $query);

    // Radio
    @include mdc-radio-core-styles($query: $query);
    @include mdc-radio-unchecked-stroke-color(red, $query: $query);
    @include mdc-radio-checked-stroke-color(red, $query: $query);
    @include mdc-radio-ink-color(red, $query: $query);
    @include mdc-radio-focus-indicator-color(red, $query: $query);
    @include mdc-radio-ripple($query: $query);
    @include mdc-radio-without-ripple($query: $query);

    // Ripple
    @include mdc-ripple-core-styles($query: $query);
    @include mdc-ripple-common($query: $query);
    @include mdc-ripple-surface($query: $query);
    @include mdc-ripple-target-common($query: $query);
    @include mdc-states-base-color(red, $query: $query);
    @include mdc-states-hover-opacity(1, $query: $query);
    @include mdc-states-focus-opacity(1, $query: $query);
    @include mdc-states-press-opacity(1, $query: $query);
    @include mdc-states($query: $query);
    @include mdc-states-activated(red, $query: $query);
    @include mdc-states-selected(red, $query: $query);
    @include mdc-ripple-radius-bounded($query: $query);
    @include mdc-ripple-radius-unbounded($query: $query);

    // Shape
    @include mdc-shape-radius(1px 2px, true, $query: $query);

    // Slider
    @include mdc-slider-core-styles($query: $query);
    @include mdc-slider-highlight-color(red, $query: $query);
    @include mdc-slider-rail-color(red, $query: $query);
    @include mdc-slider-rail-tick-mark-color(red, $query: $query);
    @include mdc-slider-thumb-color(red, $query: $query);
    @include mdc-slider-focus-halo-color(red, $query: $query);
    @include mdc-slider-value-pin-ink-color(red, $query: $query);
    @include mdc-slider-value-pin-fill-color(red, $query: $query);
    @include mdc-slider-value-pin-fill-color-accessible(red, $query: $query);
    @include mdc-slider-color-accessible(red, $query: $query);

    // Snackbar
    @include mdc-snackbar-core-styles($query: $query);
    @include mdc-snackbar-fill-color(red, $query: $query);
    @include mdc-snackbar-label-ink-color(red, $query: $query);
    @include mdc-snackbar-shape-radius(1337, $query: $query);
    @include mdc-snackbar-min-width(1337, $query: $query);
    @include mdc-snackbar-max-width(1337, $query: $query);
    @include mdc-snackbar-elevation(13, $query: $query);
    @include mdc-snackbar-viewport-margin(1337, $query: $query);
    @include mdc-snackbar-z-index(1337, $query: $query);
    @include mdc-snackbar-position-leading($query: $query);
    @include mdc-snackbar-layout-stacked($query: $query);

    // Switch
    @include mdc-switch-core-styles($query: $query);
    @include mdc-switch-toggled-on-color(on-surface, $query: $query);
    @include mdc-switch-toggled-off-color(on-surface, $query: $query);
    @include mdc-switch-toggled-on-ripple-color(on-surface, $query: $query);
    @include mdc-switch-toggled-off-ripple-color(on-surface, $query: $query);
    @include mdc-switch-toggled-on-track-color(on-surface, $query: $query);
    @include mdc-switch-toggled-on-thumb-color(on-surface, $query: $query);
    @include mdc-switch-toggled-off-track-color(on-surface, $query: $query);
    @include mdc-switch-toggled-off-thumb-color(on-surface, $query: $query);
    @include mdc-switch-ripple($query: $query);
    @include mdc-switch-without-ripple($query: $query);

    // Tabs
    @include mdc-tab-bar-core-styles($query: $query);
    @include mdc-tab-scroller-core-styles($query: $query);
    @include mdc-tab-indicator-core-styles($query: $query);
    @include mdc-tab-core-styles($query: $query);
    @include mdc-tab-without-ripple($query: $query);
    @include mdc-tab-ripple($query: $query);

    // Theme
    @include mdc-theme-core-styles($query: $query);

    // Typography
    @include mdc-typography-core-styles($query: $query);
    @include mdc-typography-base($query: $query);
    @include mdc-typography(button, $query: $query);
    @include mdc-typography-overflow-ellipsis($query: $query);
    @include mdc-typography-baseline-top(0, $query: $query);
    @include mdc-typography-baseline-bottom(0, $query: $query);
  }
}
