@forward "@material/density/variables" as mdc-density-*;
@forward "@material/rtl/variables" as mdc-rtl-*;
@forward "@material/theme/constants" as mdc-theme-*;
@forward "@material/theme/variables" as mdc-theme-*;
@forward "@material/feature-targeting/variables" as mdc-feature-*;
@forward "@material/feature-targeting/mixins" as mdc-feature-*;
@forward "@material/animation/variables" as mdc-animation-*;
@forward "@material/typography/variables" as mdc-typography-*;
@forward "@material/floating-label/variables" as mdc-floating-label-*;
@forward "@material/shape/variables" as mdc-shape-*;
@forward "@material/notched-outline/variables" as mdc-notched-outline-*;
@forward "@material/base/mixins" as mdc-base-*;
@forward "@material/ripple/variables" as mdc-* hide $mdc-dark-ink-opacities, $mdc-fade-in-duration, $mdc-fade-out-duration, $mdc-light-ink-opacities, $mdc-pressed-dark-ink-opacity, $mdc-pressed-light-ink-opacity, $mdc-translate-duration;
@forward "@material/ripple/variables" as mdc-ripple-* hide $mdc-ripple-states-wash-duration;
@forward "icon/variables" as mdc-text-field-*;
@forward "variables" as mdc-text-field-*;
@forward "@material/rtl/mixins" as mdc-* hide mdc-property-, mdc-reflexive, mdc-reflexive-box, mdc-reflexive-position, mdc-reflexive-property;
@forward "@material/rtl/mixins" as mdc-rtl-* hide mdc-rtl-rtl;
@forward "@material/theme/mixins" as mdc-theme-*;
@forward "@material/typography/mixins" as mdc-* hide mdc-base, mdc-baseline-bottom, mdc-baseline-strut-, mdc-baseline-top, mdc-core-styles, mdc-overflow-ellipsis;
@forward "@material/typography/mixins" as mdc-typography-* hide mdc-typography-typography;
@forward "@material/floating-label/mixins" as mdc-floating-label-*;
@forward "@material/line-ripple/mixins" as mdc-line-ripple-*;
@forward "@material/shape/mixins" as mdc-shape-*;
@forward "@material/notched-outline/mixins" as mdc-notched-outline-*;
@forward "@material/ripple/keyframes" as mdc-ripple-*;
@forward "@material/ripple/mixins" as mdc-* hide mdc-common, mdc-core-styles, mdc-radius-bounded, mdc-radius-unbounded, mdc-surface, mdc-target-common, mdc-target-selector;
@forward "@material/ripple/mixins" as mdc-ripple-* hide mdc-ripple-states, mdc-ripple-states-activated, mdc-ripple-states-base-color, mdc-ripple-states-focus-opacity, mdc-ripple-states-focus-opacity-properties-, mdc-ripple-states-hover-opacity, mdc-ripple-states-interactions-, mdc-ripple-states-opacities, mdc-ripple-states-press-opacity, mdc-ripple-states-selected;
@forward "helper-text/mixins" as mdc-text-field-*;
@forward "character-counter/mixins" as mdc-text-field-*;
@forward "icon/mixins" as mdc-text-field-*;
@forward "@material/density/functions" as mdc-density-*;
@forward "@material/theme/functions" as mdc-theme-*;
@forward "@material/feature-targeting/functions" as mdc-feature-*;
@forward "@material/typography/functions" as mdc-typography-*;
@forward "@material/line-ripple/functions" as mdc-line-ripple-*;
@forward "@material/shape/functions" as mdc-shape-*;
@forward "@material/animation/functions" as mdc-animation-*;
@forward "@material/ripple/functions" as mdc-*;
@forward "functions" as mdc-text-field-*;
@forward "mixins" hide bottom-line-color, bottom-line-color-, caret-color, dense-, dense-with-both-icons-, dense-with-leading-icon-, dense-with-trailing-icon-, density, disabled-, disabled-bottom-line-color, disabled-fill-color, disabled-ink-color, disabled-label-color, disabled-outline-color, disabled-placeholder-color, end-aligned-, fill-color, fill-color-, floating-label-, focused-, focused-outline-color, focused-outline-color-, fullwidth-, fullwidth-invalid-, height, hover-bottom-line-color, hover-bottom-line-color-, hover-outline-color, hover-outline-color-, if-disabled-, if-enabled-, ink-color, ink-color-, invalid-, label-color, label-ink-color-, line-ripple-color, line-ripple-color-, outline-color, outline-shape-radius, outlined-, outlined-dense-, outlined-dense-with-leading-icon-, outlined-density, outlined-disabled-, outlined-focused-, outlined-height, outlined-invalid-, outlined-with-leading-icon-, outlined-with-leading-icon-density, outlined-with-leading-icon-height, placeholder-color, placeholder-color-, shape-radius, textarea-, textarea-disabled-, textarea-invalid-, textarea-shape-radius, with-both-icons-, with-leading-icon-, with-trailing-icon-;
@forward "mixins" as mdc-text-field-* hide mdc-text-field-mdc-required-text-field-label-asterisk-;
