//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//
$mdc-text-field-error: error;
$mdc-text-field-fullwidth-bottom-line-color: rgba(mdc-theme-prop-value(on-surface), .12);
$mdc-text-field-disabled-border: rgba(mdc-theme-prop-value(on-surface), .06);
$mdc-text-field-disabled-icon: rgba(mdc-theme-prop-value(on-surface), .3);
$mdc-text-field-bottom-line-hover: rgba(mdc-theme-prop-value(on-surface), .87);
$mdc-text-field-bottom-line-idle: rgba(mdc-theme-prop-value(on-surface), .42);
$mdc-text-field-label: rgba(mdc-theme-prop-value(on-surface), .6);

$mdc-text-field-ink-color: rgba(mdc-theme-prop-value(on-surface), .87);
$mdc-text-field-helper-text-color: rgba(mdc-theme-prop-value(on-surface), .6);
$mdc-text-field-icon-color: rgba(mdc-theme-prop-value(on-surface), .54);
$mdc-text-field-focused-label-color: rgba(mdc-theme-prop-value(primary), .87);

$mdc-text-field-disabled-label-color: rgba(mdc-theme-prop-value(on-surface), .37);
$mdc-text-field-disabled-ink-color: rgba(mdc-theme-prop-value(on-surface), .37);
$mdc-text-field-disabled-helper-text-color: rgba(mdc-theme-prop-value(on-surface), .37);

$mdc-text-field-background: mix(mdc-theme-prop-value(on-surface), mdc-theme-prop-value(surface), 4%);
$mdc-text-field-disabled-background: mix(mdc-theme-prop-value(on-surface), mdc-theme-prop-value(surface), 2%);
$mdc-text-field-secondary-text: rgba(mdc-theme-prop-value(on-surface), .6);

$mdc-text-field-outlined-idle-border: rgba(mdc-theme-prop-value(on-surface), .24);
$mdc-text-field-outlined-disabled-border: rgba(mdc-theme-prop-value(on-surface), .06);
$mdc-text-field-outlined-hover-border: rgba(mdc-theme-prop-value(on-surface), .87);

$mdc-textarea-border: rgba(mdc-theme-prop-value(on-surface), .73);
$mdc-textarea-background: rgba(mdc-theme-prop-value(surface), 1);
$mdc-textarea-disabled-border-color: rgba(mdc-theme-prop-value(on-surface), .26);
// cannot be transparent because multiline textarea input
// will make text unreadable
$mdc-textarea-disabled-background: rgba(249, 249, 249, 1);

$mdc-text-field-height: 56px;
$mdc-text-field-label-position-y: 50%;
$mdc-text-field-dense-label-position-y: 70%;
$mdc-text-field-dense-label-scale: .923;
$mdc-text-field-outlined-label-position-y: 130%;
$mdc-text-field-outlined-dense-label-position-y: 110%;
$mdc-text-field-outlined-with-leading-icon-label-position-x: 32px;
$mdc-text-field-outlined-dense-with-leading-icon-label-position-x: 21px;
$mdc-text-field-textarea-label-position-y: 50%;
// Note that the scale factor is an eyeballed approximation of what's shown in the mocks.
$mdc-text-field-textarea-label-scale: .923;
