//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use "@material/animation/variables" as variables2;
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/ripple/common";
@use "@material/ripple/mixins" as ripple-mixins;
@use "@material/rtl/mixins" as mixins2;
@use "@material/theme/variables" as variables3;
@use "@material/typography/mixins" as typography-mixins;
@use "@material/typography/variables" as variables4;
@forward "variables";
@use "./functions";
@use "./helper-text/mdc-text-field-helper-text";
@use "./character-counter/mdc-text-field-character-counter";
@use "./icon/mdc-text-field-icon";
@use "./mixins";
@use "./variables";
@use "@material/floating-label/mixins" as floating-label-mixins;
@use "@material/ripple/functions" as ripple-functions;
@use "character-counter/mixins" as character-counter-mixins;
@use "helper-text/mixins" as helper-text-mixins;
@use "icon/mixins" as icon-mixins;
@forward "character-counter/mixins";
@forward "functions";
@forward "helper-text/mixins";
@forward "icon/mixins";
@forward "icon/variables";
@forward "mixins" hide mdc-required-text-field-label-asterisk-;

// postcss-bem-linter: define text-field

.mdc-text-field {
  @include ripple-mixins.surface;
  // Text Field intentionally omits press ripple, so each state needs to be specified individually.
  @include ripple-mixins.states-base-color(variables.$ink-color);
  @include ripple-mixins.states-hover-opacity(ripple-functions.states-opacity(variables.$ink-color, hover));
  @include ripple-mixins.states-focus-opacity(ripple-functions.states-opacity(variables.$ink-color, focus));
  @include ripple-mixins.radius-bounded;

  // Height
  @include mixins.height(variables.$height);

  // Shape
  @include mixins.shape-radius(small);

  // Colors
  @include mixins.label-color(variables.$label);
  @include mixins.ink-color(variables.$ink-color);
  @include mixins.placeholder-color(variables.$placeholder-ink-color);
  @include mixins.caret-color(primary);
  @include mixins.bottom-line-color(variables.$bottom-line-idle);
  @include mixins.hover-bottom-line-color(variables.$bottom-line-hover);
  @include mixins.line-ripple-color_(primary);
  @include helper-text-mixins.helper-text-color(variables.$helper-text-color);
  @include character-counter-mixins.character-counter-color(variables.$helper-text-color);
  @include icon-mixins.leading-icon-color(variables.$icon-color);
  @include icon-mixins.trailing-icon-color(variables.$icon-color);
  @include mixins.fill-color(variables.$background);

  // Floating Label
  @include mixins.floating-label_;

  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  /* @alternate */
  will-change: opacity, transform, color;
}

.mdc-text-field__input {
  // Exclude setting line-height to keep caret (text cursor) same height as the input text in iOS browser.
  @include typography-mixins.typography(subtitle1, $exclude-props: (line-height));

  align-self: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding:
    variables.$input-padding-top
    variables.$input-padding
    variables.$input-padding-bottom;
  transition: functions.transition(opacity);
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background: none;
  appearance: none;

  &::placeholder {
    transition: functions.transition(opacity, $duration: 67ms);
    opacity: 0;
  }

  // Always show placeholder for text fields that has no label and show only on focused state when label is present.
  .mdc-text-field--fullwidth &::placeholder,
  .mdc-text-field--no-label &::placeholder,
  .mdc-text-field--focused &::placeholder {
    transition-delay: 40ms;
    transition-duration: 110ms;
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  // Remove red outline on firefox
  &:invalid {
    box-shadow: none;
  }

  // Keep Chrome autofill behind the notched outline
  &:-webkit-autofill {
    z-index: auto !important;
  }

  // Vertically center aligns the text input placeholder and value for only filled variant.
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) & {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
// stylelint-disable-next-line plugin/selector-bem-pattern
// Move label when text-field gets auto-filled in Chrome.
.mdc-text-field__input:-webkit-autofill + .mdc-floating-label {
  transform: translateY(-50%) scale(.75);
  cursor: auto;
}

.mdc-text-field--outlined {
  @include mixins.outlined_;
}

.mdc-text-field--outlined.mdc-text-field--focused {
  @include mixins.outlined-focused_;
}

.mdc-text-field--outlined.mdc-text-field--disabled {
  @include mixins.outlined-disabled_;
}

.mdc-text-field--outlined.mdc-text-field--dense {
  @include mixins.outlined-dense_;
}

.mdc-text-field--with-leading-icon {
  @include mixins.with-leading-icon_;
}

.mdc-text-field--with-leading-icon.mdc-text-field--outlined {
  @include mixins.outlined-with-leading-icon_;
}

.mdc-text-field--with-leading-icon.mdc-text-field--outlined.mdc-text-field--dense {
  @include mixins.outlined-dense-with-leading-icon_;
}

.mdc-text-field--with-trailing-icon {
  @include mixins.with-trailing-icon_;
}

.mdc-text-field--with-leading-icon.mdc-text-field--with-trailing-icon {
  @include mixins.with-both-icons_;
}

// stylelint-disable plugin/selector-bem-pattern
.mdc-text-field--dense .mdc-text-field__icon {
  bottom: 16px;
  transform: scale(.8);
}
// stylelint-enable plugin/selector-bem-pattern

.mdc-text-field--with-leading-icon.mdc-text-field--dense {
  @include mixins.dense-with-leading-icon_;
}

.mdc-text-field--with-trailing-icon.mdc-text-field--dense {
  @include mixins.dense-with-trailing-icon_;
}

.mdc-text-field--with-leading-icon.mdc-text-field--with-trailing-icon.mdc-text-field--dense {
  @include mixins.dense-with-both-icons_;
}

.mdc-text-field--dense {
  @include mixins.dense_;
}

@include mixins.mdc-required-text-field-label-asterisk_ {
  margin-left: 1px;
  content: "*";
}

.mdc-text-field--textarea {
  @include mixins.textarea_;
}

.mdc-text-field--fullwidth {
  @include mixins.fullwidth_;
}

.mdc-text-field--fullwidth.mdc-text-field--invalid {
  @include mixins.fullwidth-invalid_;
}

// postcss-bem-linter: define text-field-helper-text
// stylelint-disable plugin/selector-bem-pattern
.mdc-text-field-helper-line {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  .mdc-text-field--dense + & {
    margin-bottom: 4px;
  }

  .mdc-text-field + & {
    padding-right: variables.$helper-line-padding;
    padding-left: variables.$helper-line-padding;
  }
}
// stylelint-enable plugin/selector-bem-pattern
// postcss-bem-linter: end

// mdc-form-field tweaks to align text field label correctly
// stylelint-disable selector-max-type
.mdc-form-field > .mdc-text-field + label {
  align-self: flex-start;
}
// stylelint-enable selector-max-type

.mdc-text-field--focused {
  @include mixins.focused_;
}

.mdc-text-field--invalid {
  @include mixins.invalid_;
}

.mdc-text-field--textarea.mdc-text-field--invalid {
  @include mixins.textarea-invalid_;
}

.mdc-text-field--outlined.mdc-text-field--invalid {
  @include mixins.outlined-invalid_;
}

.mdc-text-field--disabled {
  @include mixins.disabled_;
}

.mdc-text-field--textarea.mdc-text-field--disabled {
  @include mixins.textarea-disabled_;
}

.mdc-text-field--end-aligned {
  @include mixins.end-aligned_;
}

@include floating-label-mixins.shake-keyframes(
  text-field-dense,
  variables.$dense-label-position-y,
  0%,
  variables.$dense-label-scale
);
@include floating-label-mixins.shake-keyframes(text-field-outlined, variables.$outlined-label-position-y);
@include floating-label-mixins.shake-keyframes(
  text-field-outlined-dense,
  variables.$outlined-dense-label-position-y,
  0%,
  variables.$dense-label-scale
);
@include floating-label-mixins.shake-keyframes(
  text-field-outlined-leading-icon,
  variables.$outlined-label-position-y,
  variables.$outlined-with-leading-icon-label-position-x
);
@include floating-label-mixins.shake-keyframes(
  text-field-outlined-leading-icon-dense,
  variables.$outlined-dense-label-position-y,
  variables.$outlined-dense-with-leading-icon-label-position-x,
  variables.$dense-label-scale
);
@include floating-label-mixins.shake-keyframes(
  text-field-outlined-leading-icon-rtl,
  variables.$outlined-label-position-y,
  -(variables.$outlined-with-leading-icon-label-position-x)
);
@include floating-label-mixins.shake-keyframes(
  text-field-outlined-leading-icon-dense-rtl,
  variables.$outlined-dense-label-position-y,
  -(variables.$outlined-dense-with-leading-icon-label-position-x),
  variables.$dense-label-scale
);
@include floating-label-mixins.shake-keyframes(textarea, variables.$textarea-label-position-y, 0%);
