@use "../mixins" as circular-progress;
@use "@material/feature-targeting/feature-targeting";

@mixin test($query) {
  .test {
    @include circular-progress.core-styles($query: $query);
    @include circular-progress.color(red, $query: $query);
    @include circular-progress.indeterminate-colors(
      (red, blue, green, yellow),
      $query: $query
    );
  }
}

// This shouldn't output any CSS.
@include test(feature-targeting.any());
