//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/animation/functions";
@import "@material/elevation/mixins";
@import "@material/rtl/mixins";
@import "@material/shape/mixins";
@import "@material/theme/functions";
@import "@material/theme/mixins";
@import "@material/theme/variables";
@import "@material/typography/mixins";
@import "./mixins";
@import "./variables";

// postcss-bem-linter: define snackbar
.mdc-snackbar {
  @include mdc-snackbar-surface-color(surface);
  @include mdc-snackbar-overlay-color(on-surface);
  @include mdc-snackbar-label-ink-color(surface);
  @include mdc-snackbar-elevation(6);
  @include mdc-snackbar-shape-radius(small);

  position: fixed;
  bottom: 8px; // 24px for "wide" layout on desktop/tablet
  left: 50%;
  box-sizing: border-box;
  transform: /*translateX(-50%)*/ scale(.8);
  opacity: 0;

  //background-color: $mdc-snackbar-background-color;
  //color: $mdc-snackbar-foreground-color;
  //will-change: transform;
  //pointer-events: auto;

  //@media (max-width: ($mdc-snackbar-tablet-breakpoint - 1)) {
  //  left: 0;
  //  width: 100%;
  //  transform: translate(0, 100%);
  //}
  //
  //@media (min-width: $mdc-snackbar-tablet-breakpoint) {
  //  min-width: 288px;
  //  max-width: 568px;
  //  border-radius: 2px;
  //}
}

.mdc-snackbar--open {
  transform: /*translateX(-50%)*/ scale(1); // TODO(acdvorak): Find a better way to prevent GPU/CPU jank
  transition:
    mdc-animation-enter(opacity, 150ms),
    mdc-animation-enter(transform, 150ms);
  opacity: 1;
}

.mdc-snackbar--closing {
  transform: /*translateX(-50%)*/ scale(1); // TODO(acdvorak): Find a better way to prevent GPU/CPU jank
  transition: mdc-animation-exit-permanent(opacity, 75ms, 150ms);
}

.mdc-snackbar__container {
  display: flex;
  position: relative;
  //left: -50%;
  transform: translateX(-50%) scale(1);
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;

  // Prevent __overlay's background-color from bleeding past container's border-radius
  overflow: hidden;
}

.mdc-snackbar__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  //z-index: -1;
}

.mdc-snackbar__label {
  @include mdc-typography(body2);

  position: relative; // z-index above __overlay
  box-sizing: border-box;
  margin: 0;
  padding: 14px 16px; // TODO(acdvorak): Should be 16px on all sides, but we need height of snackbar to be 48px
}

.mdc-snackbar__actions {
  @include mdc-rtl-reflexive-property(margin, 0, 8px);

  position: relative; // z-index above __overlay
  box-sizing: border-box;
}

// postcss-bem-linter: end
