node_modules
.DS_Store
/build
/coverage
packages/*/dist
packages/**/*.js
!packages/**/*.ts
# must come after !*.ts
packages/**/*.d.ts
packages/**/*.js.map
out
*.log
.idea
*.sw*
.closure-tmp
.site-generator-tmp
.typescript-tmp
.vscode
