//
// Copyright 2016 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

/// @deprecated Import './radio' or './radio-theme' instead.
@forward './radio' show $ripple-target, core-styles, without-ripple, ripple;
@forward './radio-theme' show unchecked-stroke-color, checked-stroke-color, ink-color, disabled-unchecked-stroke-color, disabled-checked-stroke-color, disabled-ink-color, focus-indicator-color, touch-target, density, ripple-size, touch-target-reset_, if-enabled_, if-enabled-unchecked_, if-enabled-checked_, if-disabled_, if-disabled-unchecked_, if-disabled-checked_, ink-color_, stroke-color_;
