//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "../../../../packages/mdc-switch/mixins";
@import "../../../../packages/mdc-theme/color-palette";
@import "../mixins";

$custom-switch-color: $material-color-red-500;

.test-cell--switch {
  @include test-cell-size(101);

  position: relative;
  padding: 30px;
}

.test-switch-label {
  display: block;
  position: absolute;
  bottom: 11px;
  left: 11px;
  width: 69px;
  height: 19px;
  background: rgba($custom-switch-color, .4);
  text-align: center;
  cursor: pointer;
}

// stylelint-disable-next-line selector-class-pattern
.mdc-switch--disabled + .test-switch-label {
  background: rgba(0, 0, 0, .1);
  cursor: not-allowed;
}

.custom-switch--thumb-color {
  @include mdc-switch-toggled-on-thumb-color($custom-switch-color);
  @include mdc-switch-toggled-off-thumb-color($custom-switch-color);
}

.custom-switch--track-color {
  @include mdc-switch-toggled-on-track-color($custom-switch-color);
  @include mdc-switch-toggled-off-track-color($custom-switch-color);
}

.custom-switch--density-5 {
  @include mdc-switch-density(-5);
}

.custom-switch--density-2 {
  @include mdc-switch-density(-2);
}
