//
// Copyright 2020 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

// stylelint-disable selector-class-pattern
// NOTE: We disable `selector-class-pattern` above to allow using `mdc-` class
// selectors.

@use 'sass:list';
@use '@material/animation/functions';
@use '@material/checkbox/mixins' as checkbox-mixins;
@use '@material/density/functions' as density-functions;
@use '@material/dom/mixins' as dom;
@use '@material/elevation/mixins';
@use '@material/feature-targeting/functions' as feature-targeting-functions;
@use '@material/feature-targeting/mixins' as feature-targeting-mixins;
@use '@material/icon-button/mixins' as icon-button-mixins;
@use '@material/rtl/mixins' as rtl-mixins;
@use '@material/shape/mixins' as shape-mixins;
@use '@material/theme/mixins' as theme-mixins;
@use '@material/theme/variables' as variables2; // for mdc-theme-prop-value.
@use '@material/typography/mixins' as typography-mixins;
@use './data-table-theme';
@use './data-table-pagination';

@mixin core-styles($query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);
  $feat-typography: feature-targeting-functions.create-target(
    $query,
    typography
  );
  $feat-animation: feature-targeting-functions.create-target($query, animation);

  // postcss-bem-linter: define data-table

  .mdc-data-table__content {
    @include typography-mixins.typography(body2, $query: $query);
  }

  .mdc-data-table {
    @include data-table-theme.fill-color(
      data-table-theme.$fill-color,
      $query: $query
    );
    @include data-table-theme.shape-radius(
      data-table-theme.$shape-radius,
      $query: $query
    );
    @include data-table-theme.stroke-size(
      data-table-theme.$stroke-size,
      $query: $query
    );
    @include data-table-theme.stroke-color(
      data-table-theme.$stroke-color,
      $query: $query
    );

    @include feature-targeting-mixins.targets($feat-structure) {
      // Makes the table scroll smoothly in iOS.
      // NOTE: Root element should not be scrollable, added this for backward
      // compatibility.
      -webkit-overflow-scrolling: touch;
      display: inline-flex;
      flex-direction: column;
      box-sizing: border-box;
      position: relative;
    }
  }

  // Note that we don't output the color styles inside the `@at-root`,
  // because it makes it difficult to consume by projects that wrap their
  // themes in a class (e.g. `.my-theme { @include mdc-data-table-core-style() }`).
  @include data-table-theme.row-fill-color(
    data-table-theme.$row-fill-color,
    $query: $query
  );
  @include data-table-theme.header-row-fill-color(
    data-table-theme.$header-row-fill-color,
    $query: $query
  );
  @include data-table-theme.selected-row-fill-color(
    data-table-theme.$selected-row-fill-color,
    $query: $query
  );
  @include data-table-theme.divider-color(
    data-table-theme.$divider-color,
    $query: $query
  );
  @include data-table-theme.divider-size(
    data-table-theme.$divider-size,
    $query: $query
  );
  @include data-table-theme.row-hover-fill-color(
    data-table-theme.$row-hover-fill-color,
    $query: $query
  );
  @include data-table-theme.header-row-text-color(
    data-table-theme.$header-row-text-color,
    $query: $query
  );
  @include data-table-theme.row-text-color(
    data-table-theme.$row-text-color,
    $query: $query
  );
  @include data-table-theme.density(
    data-table-theme.$default-density-scale,
    $query: $query
  );
  @include data-table-theme.cell-padding(
    $leading-padding: data-table-theme.$cell-leading-padding,
    $trailing-padding: data-table-theme.$cell-trailing-padding,
    $query: $query
  );
  @include data-table-theme.sort-icon-color(
    data-table-theme.$sort-icon-color,
    $query: $query
  );
  @include data-table-theme.sort-icon-active-color(
    data-table-theme.$sort-icon-active-color,
    $query: $query
  );

  .mdc-data-table__table-container {
    @include feature-targeting-mixins.targets($feat-structure) {
      // Makes the table scroll smoothly in iOS.
      -webkit-overflow-scrolling: touch;
      overflow-x: auto;
      width: 100%;
    }
  }

  .mdc-data-table__table {
    @include feature-targeting-mixins.targets($feat-structure) {
      min-width: 100%; // Makes table full-width of its container (Firefox / IE11)
      border: 0;
      white-space: nowrap;
      border-collapse: collapse;
      /**
       * With table-layout:fixed, table and column widths are defined by the width
       * of the first row of cells. Cells in subsequent rows do not affect column
       * widths. This results in a predictable table layout and may also speed up
       * rendering.
       */
      table-layout: fixed;
    }
  }

  .mdc-data-table__cell {
    @include typography-mixins.typography(body2, $query: $query);

    @include feature-targeting-mixins.targets($feat-structure) {
      box-sizing: border-box;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
    }
  }

  .mdc-data-table__cell--numeric {
    @include feature-targeting-mixins.targets($feat-structure) {
      text-align: right;
    }

    @include feature-targeting-mixins.targets($feat-structure) {
      @include rtl-mixins.rtl {
        /* @noflip */
        text-align: left;
      }
    }
  }

  .mdc-data-table__header-cell {
    @include typography-mixins.typography(subtitle2, $query: $query);

    @include feature-targeting-mixins.targets($feat-structure) {
      box-sizing: border-box;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      outline: none;

      @include rtl-mixins.rtl {
        /* @noflip */
        text-align: right;
      }
    }
  }

  .mdc-data-table__header-cell--checkbox,
  .mdc-data-table__cell--checkbox {
    @include feature-targeting-mixins.targets($feat-structure) {
      // Set to lowest width to adapt to cell content. Cell width should adapt
      // to row checkbox size when it is dense.
      // NOTE: `min-width` does not seem to work on table cells.
      width: 1px;
    }
  }

  .mdc-data-table__header-cell--numeric {
    @include feature-targeting-mixins.targets($feat-structure) {
      text-align: right;
    }

    @include feature-targeting-mixins.targets($feat-structure) {
      @include rtl-mixins.rtl {
        /* @noflip */
        text-align: left;
      }
    }
  }

  .mdc-data-table__sort-icon-button {
    @include icon-button-mixins.density(
      $density-scale: data-table-theme.$sort-icon-density-scale,
      $query: $query
    );

    @include feature-targeting-mixins.targets($feat-structure) {
      @include rtl-mixins.reflexive-box(margin, left, 4px);
    }

    .mdc-data-table__header-cell--numeric & {
      @include feature-targeting-mixins.targets($feat-structure) {
        @include rtl-mixins.reflexive-box(margin, right, 4px);
      }
    }

    @include feature-targeting-mixins.targets($feat-animation) {
      transition: functions.standard(transform, $duration: 150ms);
    }

    .mdc-data-table__header-cell--sorted-descending & {
      @include feature-targeting-mixins.targets($feat-structure) {
        transform: rotate(-180deg);
      }
    }

    @include feature-targeting-mixins.targets($feat-structure) {
      opacity: 0;
    }

    &:focus,
    .mdc-data-table__header-cell:hover &,
    .mdc-data-table__header-cell--sorted & {
      @include feature-targeting-mixins.targets($feat-structure) {
        opacity: 1;
      }
    }
  }

  .mdc-data-table__header-cell-wrapper {
    @include feature-targeting-mixins.targets($feat-structure) {
      align-items: center;
      display: inline-flex;
      vertical-align: middle;
    }
  }

  .mdc-data-table__header-cell--with-sort {
    @include feature-targeting-mixins.targets($feat-structure) {
      cursor: pointer;
    }
  }

  .mdc-data-table__progress-indicator {
    @include feature-targeting-mixins.targets($feat-structure) {
      display: none;
      position: absolute;
      width: 100%;
    }

    .mdc-data-table--in-progress & {
      @include feature-targeting-mixins.targets($feat-structure) {
        display: block;
      }
    }
  }

  .mdc-data-table__scrim {
    @include feature-targeting-mixins.targets($feat-structure) {
      @include theme-mixins.prop('background-color', surface);

      height: 100%;
      // TODO(b/151453287): Set appropriate opacity value once we've a UX
      // guidance.
      opacity: 0.32;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .mdc-data-table__sort-status-label {
    @include dom.visually-hidden($query: $query);
  }

  @include data-table-pagination.core-styles($query: $query);
}

@mixin theme-baseline($query: feature-targeting-functions.all()) {
  @include data-table-theme.checked-icon-color(
    data-table-theme.$checked-icon-color,
    $query: $query
  );
}
