//
// Copyright 2020 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

// stylelint-disable selector-class-pattern
// NOTE: We disable `selector-class-pattern` above to allow using `mdc-` class
// selectors.

@use 'sass:list';
@use '@material/animation/functions';
@use '@material/density/functions' as density-functions;
@use '@material/dom/mixins' as dom;
@use '@material/feature-targeting/feature-targeting';
@use '@material/feature-targeting/mixins' as feature-targeting-mixins;
@use '@material/icon-button/mixins' as icon-button-mixins;
@use '@material/rtl/mixins' as rtl-mixins;
@use '@material/typography/mixins' as typography-mixins;
@use './data-table-theme';
@use './data-table-cell';

@mixin core-styles($query: feature-targeting.all()) {
  $feat-structure: feature-targeting.create-target($query, structure);
  $feat-animation: feature-targeting.create-target($query, animation);

  .mdc-data-table__header-cell {
    @include typography-mixins.typography(subtitle2, $query: $query);

    @include feature-targeting-mixins.targets($feat-structure) {
      box-sizing: border-box;
      text-overflow: ellipsis;
      overflow: hidden;
      outline: none;

      /* @noflip */
      text-align: left;

      @include rtl-mixins.rtl {
        /* @noflip */
        text-align: right;
      }
    }
  }

  .mdc-data-table__header-cell--checkbox {
    @include data-table-cell.adaptive-width($query: $query);
  }

  .mdc-data-table__header-cell--numeric {
    @include feature-targeting-mixins.targets($feat-structure) {
      text-align: right;
    }

    @include feature-targeting-mixins.targets($feat-structure) {
      @include rtl-mixins.rtl {
        /* @noflip */
        text-align: left;
      }
    }
  }

  .mdc-data-table__sort-icon-button {
    @include icon-button-mixins.density(
      $density-scale: data-table-theme.$sort-icon-density-scale,
      $query: $query
    );

    @include feature-targeting-mixins.targets($feat-structure) {
      // Apply dummy `transform` to avoid pixel shift on sort down animation.
      transform: rotate(0.0001deg);
    }

    @include feature-targeting-mixins.targets($feat-structure) {
      @include rtl-mixins.reflexive-box(margin, left, 4px);
    }

    .mdc-data-table__header-cell--numeric & {
      @include feature-targeting-mixins.targets($feat-structure) {
        @include rtl-mixins.reflexive-box(margin, right, 4px);
      }
    }

    @include feature-targeting-mixins.targets($feat-animation) {
      transition: functions.standard(transform, $duration: 150ms);
    }

    .mdc-data-table__header-cell--sorted-descending & {
      @include feature-targeting-mixins.targets($feat-structure) {
        transform: rotate(-180deg);
      }
    }

    @include feature-targeting-mixins.targets($feat-structure) {
      opacity: 0;
    }

    &:focus,
    .mdc-data-table__header-cell:hover &,
    .mdc-data-table__header-cell--sorted & {
      @include feature-targeting-mixins.targets($feat-structure) {
        opacity: 1;
      }
    }
  }

  .mdc-data-table__header-cell-wrapper {
    @include feature-targeting-mixins.targets($feat-structure) {
      align-items: center;
      display: inline-flex;
      vertical-align: middle;
    }
  }

  .mdc-data-table__header-cell--with-sort {
    @include feature-targeting-mixins.targets($feat-structure) {
      cursor: pointer;
    }
  }

  .mdc-data-table__sort-status-label {
    @include dom.visually-hidden($query: $query);
  }
}

/// Sets header cell in sticky position on table content vertical scroll.
@mixin header-cell-sticky($query: $query) {
  $feat-structure: feature-targeting.create-target($query, structure);

  .mdc-data-table__header-cell {
    @include feature-targeting-mixins.targets($feat-structure) {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }

  // Use pseudo element to set border to bottom side of header cell.
  // Applying `border-bottom` to header cell element does not work on vertical
  // scroll for header row is sticky and table is set to
  // `border-collapse: collapse`.
  .mdc-data-table__header-cell:after {
    @include feature-targeting-mixins.targets($feat-structure) {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}
