@forward "@material/animation" as mdc-animation-*;
@forward "@material/base" as mdc-base-*;
@forward "@material/feature-targeting" as mdc-feature-*;
@forward "@material/theme" as mdc-theme-*;
@forward "@material/elevation" as mdc-elevation-* hide mdc-elevation-elevation;
@forward "@material/elevation" as mdc-* hide mdc-core-styles, mdc-overlay-common, mdc-overlay-dimensions, mdc-overlay-fill-color, mdc-overlay-opacity, mdc-overlay-selector-, mdc-overlay-surface-position, mdc-shadow, mdc-transition-value, mdc-overlay-transition-value;
@forward "@material/density" as mdc-density-*;
@forward "@material/ripple" as mdc-* hide $mdc-dark-ink-opacities, $mdc-fade-in-duration, $mdc-fade-out-duration, $mdc-light-ink-opacities, $mdc-pressed-dark-ink-opacity, $mdc-pressed-light-ink-opacity, $mdc-translate-duration, mdc-core-styles, mdc-common, mdc-surface, mdc-radius-bounded, mdc-radius-unbounded, mdc-target-selector, mdc-target-common, mdc-keyframes-;
@forward "@material/ripple" as mdc-ripple-* hide $mdc-ripple-states-wash-duration, mdc-ripple-states-base-color, mdc-ripple-states-opacities, mdc-ripple-states-hover-opacity, mdc-ripple-states-focus-opacity, mdc-ripple-states-focus-opacity-properties-, mdc-ripple-states-press-opacity, mdc-ripple-states, mdc-ripple-states-activated, mdc-ripple-states-selected, mdc-ripple-states-interactions-, mdc-ripple-states-opacity, mdc-ripple-states-opacities-;
@forward "@material/touch-target" as mdc-touch-target-* hide mdc-touch-target-touch-target;
@forward "@material/touch-target" as mdc-* hide mdc-margin, mdc-wrapper;
@forward "@material/checkbox" as mdc-checkbox-*;
@forward "@material/rtl" as mdc-rtl-* hide mdc-rtl-rtl;
@forward "@material/rtl" as mdc-* hide mdc-property-, mdc-reflexive, mdc-reflexive-box, mdc-reflexive-position, mdc-reflexive-property;
@forward "@material/shape" as mdc-shape-*;
@forward "@material/typography" as mdc-typography-* hide mdc-typography-typography;
@forward "@material/typography" as mdc-* hide mdc-base, mdc-baseline-bottom, mdc-baseline-strut-, mdc-baseline-top, mdc-core-styles, mdc-overflow-ellipsis, mdc-get-global-variable-, mdc-set-styles-, mdc-get-letter-spacing-;
@forward "./index" as mdc-data-table-*;
