@use "../mixins" as select;
@use "../helper-text/mixins" as helper-text;
@use "../icon/mixins" as icon;
@use "@material/feature-targeting/functions" as feature;

@mixin test($query) {
  .test {
    @include select.core-styles($query: $query);
    @include select.without-ripple($query: $query);
    @include select.ink-color(red, $query: $query);
    @include select.container-fill-color(red, $query: $query);
    @include select.focused-label-color(red, $query: $query);
    @include select.hover-bottom-line-color(red, $query: $query);
    @include select.bottom-line-color(red, $query: $query);
    @include select.focused-bottom-line-color(red, $query: $query);
    @include select.label-color(red, $query: $query);
    @include select.outline-color(red, $query: $query);
    @include select.hover-outline-color(red, $query: $query);
    @include select.focused-outline-color(red, $query: $query);
    @include select.filled-shape-radius(42px, $query: $query);
    @include select.outline-shape-radius(42px, $query: $query);

    @include helper-text.helper-text-core-styles($query: $query);
    @include helper-text.helper-text-color(red, $query: $query);
    @include helper-text.helper-text-validation-color(red, $query: $query);

    @include icon.icon-core-styles($query: $query);
    @include icon.icon-color(red, $query: $query);
  }
}

// This shouldn't output any CSS.
@include test(feature.any());
