//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/theme/variables";

// Colors
$mdc-drawer-divider-color: mdc-theme-prop-value(on-surface);
$mdc-drawer-activated-ink-color: mdc-theme-prop-value(primary);
$mdc-drawer-subtitle-ink-color: mdc-theme-prop-value(on-surface);
$mdc-drawer-surface-fill-color: mdc-theme-prop-value(surface);
$mdc-drawer-icon-ink-color: mdc-theme-prop-value(on-surface);
$mdc-drawer-inactive-ink-color: mdc-theme-prop-value(on-surface);

// Opacity
$mdc-drawer-divider-opacity: .12;
$mdc-drawer-activated-ink-opacity: 1;
$mdc-drawer-subtitle-ink-opacity: .6;
$mdc-drawer-surface-fill-opacity: 1;
$mdc-drawer-icon-ink-opacity: .6;
$mdc-drawer-inactive-ink-opacity: 1;

// Widths
$mdc-drawer-width: 256px;
$mdc-drawer-list-item-spacing: 4px;
$mdc-drawer-surface-padding: 16px;

// Animations
$mdc-drawer-animation-enter: 250ms;
$mdc-drawer-animation-exit: 200ms;
