//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/side-sheet/mixins";
@import "@material/side-sheet/variables";
@import "@material/typography/mixins";
@import "./mixins";
@import "./variables";

// postcss-bem-linter: define drawer

.mdc-drawer {
  @include mdc-side-sheet-base_;
  @include mdc-side-sheet-transitions_(leading);
  @include mdc-side-sheet-outline-width_(1px, leading);
  @include mdc-drawer-title-ink-color($mdc-drawer-title-ink-color);
  @include mdc-drawer-subtitle-ink-color($mdc-drawer-subtitle-ink-color);
  @include mdc-drawer-outline-color($mdc-drawer-divider-color);
  @include mdc-drawer-surface-fill-color($mdc-drawer-surface-fill-color);
  @include mdc-drawer-item-icon-ink-color($mdc-drawer-item-inactive-ink-color);
  @include mdc-drawer-item-text-ink-color($mdc-drawer-item-inactive-ink-color);
  @include mdc-drawer-item-activated-icon-ink-color($mdc-drawer-item-activated-ink-color);
  @include mdc-drawer-item-activated-text-ink-color($mdc-drawer-item-activated-ink-color);
  @include mdc-drawer-shape-radius(large);
  @include mdc-drawer-item-shape-radius(4px);
  @include mdc-drawer-z-index($mdc-drawer-z-index);
  @include mdc-drawer-width($mdc-drawer-width);

  // postcss-bem-linter: ignore
  .mdc-list-item {
    @include mdc-typography(subtitle2);

    height: calc(48px - 2 * #{$mdc-drawer-list-item-spacing});
    // To accomodate margin conflict.
    margin: ($mdc-drawer-list-item-spacing * 2) 8px;
    padding: 0 $mdc-drawer-surface-padding / 2;
  }

  // postcss-bem-linter: ignore
  .mdc-list-item:nth-child(1) {
    margin-top: 2px;
  }

  // postcss-bem-linter: ignore
  .mdc-list-item:nth-last-child(1) {
    margin-bottom: 0;
  }

  // postcss-bem-linter: ignore
  .mdc-list-group__subheader {
    @include mdc-typography(body2);
    @include mdc-typography-baseline-top(24px);

    margin: 0;
    padding: 0 $mdc-drawer-surface-padding;
  }

  // postcss-bem-linter: ignore
  .mdc-list-divider {
    margin: 3px 0 4px 0;
  }

  // Prevents list item children from being included in the click target.
  // postcss-bem-linter: ignore
  .mdc-list-item__text,
  .mdc-list-item__graphic {
    pointer-events: none;
  }
}

.mdc-drawer__header {
  flex-shrink: 0;
  box-sizing: border-box;
  min-height: 64px; // same as $mdc-top-app-bar-row-height
  padding: 0 $mdc-drawer-surface-padding 4px;
}

.mdc-drawer__title {
  @include mdc-typography(headline6);
  @include mdc-typography-baseline-top(36px);
  @include mdc-typography-baseline-bottom(20px);
}

.mdc-drawer__subtitle {
  @include mdc-typography(body2);
  @include mdc-typography-baseline-top(20px);

  margin-bottom: 0;
}

.mdc-drawer__content {
  @include mdc-side-sheet-content_;
}

.mdc-drawer--dismissible {
  @include mdc-side-sheet-dismissible_("mdc-drawer", leading);
}

.mdc-drawer--modal {
  @include mdc-side-sheet-modal_("mdc-drawer", leading);
  @include mdc-drawer-scrim-fill-color($mdc-side-sheet-modal-scrim-color);
}

.mdc-drawer-scrim {
  @include mdc-side-sheet-scrim_("mdc-drawer");
}

// postcss-bem-linter: end
