// Copyright 2016 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@use 'sass:list';
@use 'sass:map';
@use '@material/density/functions' as density-functions;
@use '@material/dom/mixins' as dom-mixins;
@use '@material/rtl/mixins' as rtl-mixins;
@use '@material/theme/theme';
@use '@material/shape/functions' as shape-functions;
@use '@material/shape/mixins' as shape-mixins;
@use '@material/ripple/ripple';
@use '@material/ripple/ripple-theme';
@use '@material/typography/typography';
@use '@material/feature-targeting/feature-targeting';
@use './variables';
@use '@material/theme/theme-color';

//
// Public
//

@mixin core-styles($query: feature-targeting.all()) {
  @include without-ripple($query);
  @include ripple($query);
}

// This API is intended for use by frameworks that may want to separate the ripple-related styles from the other
// list styles. It is recommended that most users use `mdc-list-core-styles` instead.
@mixin without-ripple($query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);
  $feat-structure: feature-targeting.create-target($query, structure);
  $feat-typography: feature-targeting.create-target($query, typography);

  $divider-color: if(
    theme-color.tone(theme-color.$background) == 'dark',
    variables.$divider-color-on-dark-bg,
    variables.$divider-color-on-light-bg
  );

  .mdc-list {
    @include base_($query);
  }

  @include single-line-density(
    variables.$single-line-density-scale,
    $query: $query
  );
  @include item-secondary-text-ink-color(text-secondary-on-background, $query);
  @include item-graphic-fill-color(transparent, $query);
  @include item-graphic-ink-color(text-icon-on-background, $query);
  @include item-meta-ink-color(text-hint-on-background, $query);
  @include group-subheader-ink-color(text-primary-on-background, $query);
  @include item-disabled-text-opacity(variables.$text-disabled-opacity, $query);
  @include item-disabled-text-color(variables.$text-disabled-color, $query);
  @include item-selected-text-color(variables.$text-selected-color, $query);

  .mdc-list--dense {
    @include feature-targeting.targets($feat-structure) {
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 0.812rem;
    }
  }

  .mdc-list-item {
    @include feature-targeting.targets($feat-structure) {
      @include item-base_;
    }

    // For components using aria-activedescendant, the focus pseudoclass is
    // never applied and use `.mdc-ripple-upgraded--background-focused` instead.
    &:not(.mdc-list-item--selected):focus::before,
    &.mdc-ripple-upgraded--background-focused::before {
      @include dom-mixins.transparent-border($query: $query);
    }

    &.mdc-list-item--selected::before {
      @include dom-mixins.transparent-border(
        $border-width: 3px,
        $border-style: double,
        $query: $query
      );
    }

    @include list-item-padding-variant(
      variables.$textual-variant-config,
      $query
    );
    @include list-item-height-variant(
      variables.$textual-variant-config,
      $query
    );

    .mdc-list--icon-list & {
      @include list-item-padding-variant(
        variables.$icon-variant-config,
        $query
      );
      @include list-item-height-variant(variables.$icon-variant-config, $query);
    }

    .mdc-list--avatar-list & {
      @include list-item-padding-variant(
        variables.$avatar-variant-config,
        $query
      );
      @include list-item-height-variant(
        variables.$avatar-variant-config,
        $query
      );
    }

    .mdc-list--thumbnail-list & {
      @include list-item-padding-variant(
        variables.$thumbnail-variant-config,
        $query
      );
      @include list-item-height-variant(
        variables.$thumbnail-variant-config,
        $query
      );
    }

    .mdc-list--image-list & {
      @include list-item-padding-variant(
        variables.$image-variant-config,
        $query
      );
      @include list-item-height-variant(
        variables.$image-variant-config,
        $query
      );
    }

    .mdc-list--video-list & {
      @include list-item-padding-variant(
        variables.$video-variant-config,
        $query
      );
      @include list-item-height-variant(
        variables.$video-variant-config,
        $query
      );
    }
  }

  // This is included here to preserve expected specificity behavior (avatar
  // graphic styles must take priority).
  // TODO(b/157038316): regroup this with density styles when nesting is fixed.
  .mdc-list--dense .mdc-list-item__graphic {
    @include graphic-size-dense_(20px, $query);
  }

  .mdc-list-item__graphic {
    @include feature-targeting.targets($feat-structure) {
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      fill: currentColor;
      object-fit: cover;
    }

    // TODO(b/156624966): this retains legacy spacing but should be updated.
    @include graphic-size-variant(variables.$deprecated-graphic-config, $query);

    .mdc-list--icon-list & {
      @include graphic-size-variant(variables.$icon-variant-config, $query);
    }

    .mdc-list--avatar-list & {
      @include graphic-size-variant(variables.$avatar-variant-config, $query);
      @include feature-targeting.targets($feat-structure) {
        border-radius: 50%;
      }
    }

    .mdc-list--thumbnail-list & {
      @include graphic-size-variant(
        variables.$thumbnail-variant-config,
        $query
      );
    }

    .mdc-list--image-list & {
      @include graphic-size-variant(variables.$image-variant-config, $query);
    }

    .mdc-list--video-list & {
      @include graphic-size-variant(variables.$video-variant-config, $query);
    }
  }

  // Extra specificity is to override .material-icons display style if used in
  // conjunction with mdc-list-item__graphic
  // stylelint-disable plugin/selector-bem-pattern
  .mdc-list .mdc-list-item__graphic {
    @include feature-targeting.targets($feat-structure) {
      display: inline-flex;
    }
  }
  // stylelint-enable plugin/selector-bem-pattern

  .mdc-list-item__meta {
    // stylelint-disable selector-class-pattern
    &:not(.material-icons) {
      @include typography.typography(caption, $query);
    }
    // stylelint-enable selector-class-pattern

    @include feature-targeting.targets($feat-structure) {
      @include rtl-mixins.reflexive-property(margin, auto, 0, '.mdc-list-item');
    }
  }

  .mdc-list-item__text {
    @include typography.overflow-ellipsis($query);
  }

  // Disable interaction on label elements that may automatically
  // toggle corresponding checkbox / radio input.
  .mdc-list-item__text[for] {
    @include feature-targeting.targets($feat-structure) {
      pointer-events: none;
    }
  }

  .mdc-list-item__primary-text {
    @include typography.overflow-ellipsis($query);
    @include typography.text-baseline(
      $top: variables.$item-primary-text-baseline-height,
      $bottom: variables.$item-secondary-text-baseline-height,
      $display: block,
      $query: $query
    );

    .mdc-list--video-list &,
    .mdc-list--image-list &,
    .mdc-list--thumbnail-list &,
    .mdc-list--avatar-list &,
    .mdc-list--icon-list & {
      @include typography.text-baseline(
        $top: variables.$item-primary-text-baseline-height-with-graphic,
        $bottom: variables.$item-secondary-text-baseline-height,
        $query: $query
      );
    }

    // stylelint-disable plugin/selector-bem-pattern
    .mdc-list--dense & {
      @include typography.text-baseline(
        $top: variables.$dense-item-primary-text-baseline-height,
        $bottom: variables.$item-secondary-text-baseline-height,
        $query: $query
      );
    }
    // stylelint-enable plugin/selector-bem-pattern
  }

  .mdc-list-item__secondary-text {
    @include typography.typography(body2, $query);
    @include typography.overflow-ellipsis($query);
    @include typography.text-baseline(
      $top: variables.$item-secondary-text-baseline-height,
      $display: block,
      $query: $query
    );

    // stylelint-disable plugin/selector-bem-pattern
    .mdc-list--dense & {
      @include feature-targeting.targets($feat-structure) {
        font-size: inherit;
      }
    }
    // stylelint-enable plugin/selector-bem-pattern
  }

  // stylelint-disable plugin/selector-bem-pattern
  .mdc-list--dense .mdc-list-item {
    @include feature-targeting.targets($feat-structure) {
      height: 40px;
    }
  }

  .mdc-list--two-line .mdc-list-item__text {
    @include feature-targeting.targets($feat-structure) {
      align-self: flex-start;
    }
  }

  .mdc-list--two-line {
    .mdc-list-item {
      @include feature-targeting.targets($feat-structure) {
        height: variables.$two-line-height;
      }
    }

    &.mdc-list--video-list .mdc-list-item,
    &.mdc-list--image-list .mdc-list-item,
    &.mdc-list--thumbnail-list .mdc-list-item,
    &.mdc-list--avatar-list .mdc-list-item,
    &.mdc-list--icon-list .mdc-list-item {
      @include feature-targeting.targets($feat-structure) {
        height: variables.$two-line-graphic-height;
      }
    }

    // Icons in multiline lists are the only graphic that isn't centered.
    &.mdc-list--icon-list .mdc-list-item__graphic {
      @include feature-targeting.targets($feat-structure) {
        align-self: flex-start;
        margin-top: variables.$two-line-icon-top-margin;
      }
    }
  }

  .mdc-list--two-line.mdc-list--dense .mdc-list-item,
  .mdc-list--avatar-list.mdc-list--dense .mdc-list-item {
    @include feature-targeting.targets($feat-structure) {
      height: 60px;
    }
  }

  .mdc-list--avatar-list.mdc-list--dense .mdc-list-item__graphic {
    @include graphic-size-dense_(36px, $query);
  }

  // Only change mouse cursor for list items which are not disabled.
  :not(.mdc-list-item--disabled).mdc-list-item {
    @include feature-targeting.targets($feat-structure) {
      cursor: pointer;
    }
  }

  // Override anchor tag styles for the use-case of a list being used for navigation
  // stylelint-disable selector-max-type,selector-no-qualifying-type
  a.mdc-list-item {
    @include feature-targeting.targets($feat-structure) {
      color: inherit;
      text-decoration: none;
    }
  }
  // stylelint-enable selector-max-type,selector-no-qualifying-type

  .mdc-list-divider {
    @include feature-targeting.targets($feat-structure) {
      height: 0;
      margin: 0;
      border: none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
  }

  // Note: ideally we'd be able to hoist this to the top-level `$feat-color`, but doing so
  // will cause the `border` declaration on `.mdc-list-divider` above to override it.
  @include divider-color($divider-color, $query);

  // Deprecated. Use the specialized inset classes instead.
  // Items are fully inset using padding.
  .mdc-list-divider--padded {
    @include divider-inset-variant(
      variables.$textual-variant-config,
      $use-padding: true,
      $query: $query
    );
  }

  // Deprecated. Use the specialized inset classes instead.
  // Items's leading, but not trailing, edge is inset to account for *avatar*
  // width.
  .mdc-list-divider--inset {
    @include divider-inset-variant(
      variables.$avatar-variant-config,
      $trailing: false,
      $query: $query
    );
  }

  // Deprecated. Use the specialized inset classes instead.
  // Item's leading and trailing edges are inset to account for *avatar* width.
  .mdc-list-divider--inset.mdc-list-divider--padded {
    @include divider-inset-variant(
      variables.$avatar-variant-config,
      $query: $query
    );
  }

  .mdc-list {
    @include divider-insets-variant(
      variables.$textual-variant-config,
      $query: $query
    );
  }

  .mdc-list--icon-list {
    @include divider-insets-variant(
      variables.$icon-variant-config,
      $query: $query
    );
  }

  .mdc-list--avatar-list {
    @include divider-insets-variant(
      variables.$avatar-variant-config,
      $query: $query
    );
  }

  .mdc-list--thumbnail-list {
    @include divider-insets-variant(
      variables.$thumbnail-variant-config,
      $query: $query
    );
  }

  .mdc-list--image-list {
    @include divider-insets-variant(
      variables.$image-variant-config,
      $query: $query
    );
  }

  .mdc-list--video-list {
    @include divider-insets-variant(
      variables.$video-variant-config,
      $query: $query
    );
  }

  .mdc-list-group {
    @include feature-targeting.targets($feat-structure) {
      // Cancel top/bottom padding on individual lists within group
      .mdc-list {
        padding: 0;
      }
    }
  }

  .mdc-list-group__subheader {
    $mdc-list-subheader-virtual-height: 3rem;
    $mdc-list-subheader-leading: map.get(
      map.get(typography.$styles, body1),
      line-height
    );
    $mdc-list-subheader-margin: calc(
      (#{$mdc-list-subheader-virtual-height} - #{$mdc-list-subheader-leading}) /
        2
    );

    @include typography.typography(subtitle1, $query);

    @include feature-targeting.targets($feat-structure) {
      margin: $mdc-list-subheader-margin variables.$side-padding;
    }
  }

  // TODO(b/168039222): apply feature targetting to final styles.
  .mdc-evolution-list {
    @include base_($query);
  }

  .mdc-evolution-list-item {
    @include feature-targeting.targets($feat-structure) {
      @include item-base_;

      align-items: stretch;
      padding-left: 16px;
      height: 48px;
    }
  }

  // Each variant increases specificity by one so that overriding the default
  // styles with a single custom class does not accidentally override variant
  // styles (since these will have >1 specificity).
  .mdc-evolution-list-item.mdc-evolution-list-item--with-leading-avatar,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-leading-checkbox,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-leading-icon,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-leading-radio,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-leading-switch,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-leading-thumbnail {
    @include feature-targeting.targets($feat-structure) {
      padding-left: 0px;
      height: 56px;
    }
  }

  .mdc-evolution-list-item.mdc-evolution-list-item--with-leading-image,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-leading-video {
    @include feature-targeting.targets($feat-structure) {
      padding-left: 0px;
      height: 72px;
    }
  }

  .mdc-evolution-list-item.mdc-evolution-list-item--with-two-lines {
    @include feature-targeting.targets($feat-structure) {
      height: 64px;
    }
  }

  .mdc-evolution-list-item.mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-avatar,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-checkbox,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-icon,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-image,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-radio,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-switch,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-thumbnail,
  .mdc-evolution-list-item.mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-video {
    @include feature-targeting.targets($feat-structure) {
      height: 72px;
    }
  }

  .mdc-evolution-list-item.mdc-evolution-list-item--with-three-lines {
    @include feature-targeting.targets($feat-structure) {
      height: 88px;
    }
  }

  .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      margin-left: 16px;
      margin-right: 16px;
      align-self: center;
    }
  }

  .mdc-evolution-list-item--with-leading-avatar
    .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      border-radius: 50%;
    }
  }

  .mdc-evolution-list-item--with-leading-avatar .mdc-evolution-list-item__start,
  .mdc-evolution-list-item--with-leading-thumbnail
    .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      width: 40px;
      height: 40px;
    }
  }

  .mdc-evolution-list-item--with-leading-radio .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      width: 24px;
      height: 24px;
    }
  }

  .mdc-evolution-list-item--with-leading-checkbox
    .mdc-evolution-list-item__start {
    // The checkbox component is 40dp square, but the spec allocates only 24dp
    // for the control. We adjust the margins to achieve the intended visual
    // alignment.
    @include feature-targeting.targets($feat-structure) {
      margin-right: absorb-overflow(32px, $size: 40px, $available: 24px);
      margin-left: absorb-overflow(16px, $size: 40px, $available: 24px);
      width: 40px;
      height: 40px;
    }
  }

  .mdc-evolution-list-item--with-leading-icon .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      margin-right: 32px;
      width: 24px;
      height: 24px;
    }
  }

  .mdc-evolution-list-item--with-leading-image .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      width: 56px;
      height: 56px;
    }
  }

  .mdc-evolution-list-item--with-leading-switch
    .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      width: 36px;
      height: 20px;
    }
  }

  .mdc-evolution-list-item--with-leading-video .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      width: 100px;
      height: 56px;
      margin-left: 0px;
    }
  }

  .mdc-evolution-list-item--with-two-lines .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      align-self: start;
      margin-top: 16px;
    }
  }

  .mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-video
    .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      margin-top: 8px;
    }
  }

  .mdc-evolution-list-item--with-three-lines .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      align-self: start;
      margin-top: 16px;
    }
  }

  .mdc-evolution-list-item--with-three-lines.mdc-evolution-list-item--with-leading-video
    .mdc-evolution-list-item__start {
    @include feature-targeting.targets($feat-structure) {
      margin-right: 20px;
    }
  }

  .mdc-evolution-list-item__end {
    @include feature-targeting.targets($feat-structure) {
      margin-left: 16px;
      margin-right: 16px;
      align-self: center;
    }
  }

  .mdc-evolution-list-item--with-trailing-meta .mdc-evolution-list-item__end {
    @include typography.typography(caption, $query);

    @include feature-targeting.targets($feat-structure) {
      margin-left: 28px;
    }
  }

  .mdc-evolution-list-item--with-trailing-checkbox
    .mdc-evolution-list-item__end {
    @include feature-targeting.targets($feat-structure) {
      // Checkboxes are 40dp, but the spec allocates only 24dp.
      width: 40px;
      height: 40px;
      margin-left: absorb-overflow(16px, $size: 40px, $available: 24px);
      margin-right: absorb-overflow(16px, $size: 40px, $available: 24px);
    }
  }

  .mdc-evolution-list-item--with-trailing-icon .mdc-evolution-list-item__end,
  .mdc-evolution-list-item--with-trailing-radio .mdc-evolution-list-item__end {
    @include feature-targeting.targets($feat-structure) {
      width: 24px;
      height: 24px;
    }
  }

  .mdc-evolution-list-item--with-trailing-switch .mdc-evolution-list-item__end {
    @include feature-targeting.targets($feat-structure) {
      width: 36px;
      height: 20px;
    }
  }

  .mdc-evolution-list-item--with-three-lines .mdc-evolution-list-item__end {
    @include feature-targeting.targets($feat-structure) {
      align-self: start;
      margin-top: 16px;
    }
  }

  .mdc-evolution-list-item--with-three-lines.mdc-evolution-list-item--with-trailing-checkbox
    .mdc-evolution-list-item__end {
    @include feature-targeting.targets($feat-structure) {
      margin-top: absorb-overflow(16px, $size: 40px, $available: 24px);
      margin-left: absorb-overflow(16px, $size: 40px, $available: 24px);
      margin-right: absorb-overflow(16px, $size: 40px, $available: 24px);
    }
  }

  .mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-trailing-meta
    .mdc-evolution-list-item__end,
  .mdc-evolution-list-item--with-three-lines.mdc-evolution-list-item--with-trailing-meta
    .mdc-evolution-list-item__end {
    @include typography.text-baseline(
      $top: 28px,
      $display: block,
      $query: $query
    );

    @include feature-targeting.targets($feat-structure) {
      align-self: start;
    }
  }

  .mdc-evolution-list-item__content {
    @include typography.overflow-ellipsis($query);

    @include feature-targeting.targets($feat-structure) {
      align-self: center;
      min-width: 50%;
      flex: 1;
    }
  }

  .mdc-evolution-list-item--with-two-lines .mdc-evolution-list-item__content,
  .mdc-evolution-list-item--with-three-lines .mdc-evolution-list-item__content {
    @include feature-targeting.targets($feat-structure) {
      align-self: stretch;
    }
  }

  .mdc-evolution-list-item__primary-text {
    @include typography.typography(subtitle1, $query);
    @include typography.overflow-ellipsis($query);
  }

  .mdc-evolution-list-item--with-two-lines
    .mdc-evolution-list-item__primary-text {
    @include typography.text-baseline(
      $top: 28px,
      $bottom: 20px,
      $query: $query
    );
  }

  .mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-avatar
    .mdc-evolution-list-item__primary-text,
  .mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-checkbox
    .mdc-evolution-list-item__primary-text,
  .mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-icon
    .mdc-evolution-list-item__primary-text,
  .mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-image
    .mdc-evolution-list-item__primary-text,
  .mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-radio
    .mdc-evolution-list-item__primary-text,
  .mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-switch
    .mdc-evolution-list-item__primary-text,
  .mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-thumbnail
    .mdc-evolution-list-item__primary-text,
  .mdc-evolution-list-item--with-two-lines.mdc-evolution-list-item--with-leading-video
    .mdc-evolution-list-item__primary-text {
    @include typography.text-baseline(
      $top: 32px,
      $bottom: 20px,
      $query: $query
    );
  }

  .mdc-evolution-list-item--with-three-lines
    .mdc-evolution-list-item__primary-text {
    @include typography.text-baseline(
      $top: 28px,
      $bottom: 20px,
      $query: $query
    );
  }

  .mdc-evolution-list-item__secondary-text {
    @include typography.typography(body2, $query);
    // TODO (b/168048902): disable this for three-line (multi-line) lists.
    @include typography.overflow-ellipsis($query);
  }

  .mdc-evolution-list-item--with-two-lines
    .mdc-evolution-list-item__secondary-text,
  .mdc-evolution-list-item--with-three-lines
    .mdc-evolution-list-item__secondary-text {
    @include typography.text-baseline(
      $top: 20px,
      $display: block,
      $query: $query
    );
  }

  .mdc-evolution-list-item__overline-text {
    @include typography.overflow-ellipsis($query);
    // TODO (b/168043604): add styles for overline.
  }

  .mdc-evolution-list-item--with-two-lines
    .mdc-evolution-list-item__overline-text,
  .mdc-evolution-list-item--with-three-lines
    .mdc-evolution-list-item__overline-text {
    @include typography.text-baseline(
      $top: 24px,
      $bottom: 20px,
      $display: block,
      $query: $query
    );
  }
}

///
/// Adjusts an offset (i.e., margin) to accomodate contents that are larger than
/// the space allocated by the specification.
///
/// For instance, the specification provides 24x24dp for a checkbox with a 16dp
/// margin. However, checkboxes are actually 40x40dp. To ensure that the
/// checkbox is positioned correctly, the margin is reduced by 8dp to reflect
/// that the margin is already "baked into" the checkbox.
///
/// Concretely, 40dp - 24dp = 16dp. Assuming that the control is symmetrical,
/// half of the overflow (8dp) is on the leading side and half on the trailing
/// side. Therefore, the leading and trailing margins are reduced by 8dp.
///
/// Note: this might be more useful if it's added into the leading/trailing
/// margin mixins as a parameter.
///
@function absorb-overflow($offset, $size, $available, $symmetric: true) {
  @if $size <= $available {
    @return $offset;
  }
  $overflow: $size - $available;
  @return $offset - $overflow / if($symmetric, 2, 1);
}

// This API is intended for use by frameworks that may want to separate the ripple-related styles from the other
// list styles. It is recommended that most users use `mdc-list-core-styles` instead.
@mixin ripple($query: feature-targeting.all()) {
  @include ripple.common($query); // COPYBARA_COMMENT_THIS_LINE

  // List items should support states by default, but it should be possible to opt out.
  :not(.mdc-list-item--disabled).mdc-evolution-list-item,
  :not(.mdc-list-item--disabled).mdc-list-item {
    @include item-interactive-ripple_($query);
  }

  // Set styles only for focus state on disabled list item.
  .mdc-list-item--disabled {
    @include ripple.surface(
      $ripple-target: variables.$ripple-target,
      $query: $query
    );
    @include ripple.radius-bounded(
      $ripple-target: variables.$ripple-target,
      $query: $query
    );
    @include ripple-theme.states-base-color(
      theme-color.prop-value(on-surface),
      $ripple-target: variables.$ripple-target,
      $query: $query
    );
    @include ripple-theme.states-focus-opacity(
      ripple-theme.states-opacity(primary, focus),
      $ripple-target: variables.$ripple-target,
      $query: $query
    );

    #{variables.$ripple-target} {
      @include ripple.target-common($query: $query);
    }
  }
}

///
/// Sets ripple color for a list item.
///
@mixin ripple-states($color, $query: feature-targeting.all()) {
  @include ripple-theme.states(
    $color: $color,
    $query: $query,
    $ripple-target: variables.$ripple-target
  );
}

/// Sets the text color of the list item in selected or activated state.
/// @param {color} $color - The desired text color.
@mixin item-selected-text-color($color, $query: feature-targeting.all()) {
  // "Selected" is ephemeral and likely to change soon. E.g., selecting one or more photos to share in Google Photos.
  // "Activated" is more permanent. E.g., the currently highlighted navigation destination in a drawer.
  .mdc-list-item--selected,
  .mdc-list-item--activated {
    @include item-primary-text-ink-color($color, $query: $query);
    @include item-graphic-ink-color($color, $query: $query);
  }
}

@mixin item-primary-text-ink-color($color, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  @include feature-targeting.targets($feat-color) {
    @include theme.prop(color, $color);
  }
}

@mixin item-secondary-text-ink-color($color, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  .mdc-list-item__secondary-text {
    @include feature-targeting.targets($feat-color) {
      @include theme.prop(color, $color);
    }
  }
}

@mixin item-graphic-fill-color($color, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  .mdc-list-item__graphic {
    @include feature-targeting.targets($feat-color) {
      @include theme.prop(background-color, $color);
    }
  }
}

@mixin item-graphic-ink-color($color, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  .mdc-list-item__graphic {
    @include feature-targeting.targets($feat-color) {
      @include theme.prop(color, $color);
    }
  }
}

@mixin item-meta-ink-color($color, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  .mdc-list-item__meta {
    @include feature-targeting.targets($feat-color) {
      @include theme.prop(color, $color);
    }
  }
}

///
/// Sets shape radius (rounded) to single line list variant.
///
/// @param {Number | List<Number>} $radius Radius size in `px` or percentage. It can be 4 value corner or single radius.
///     Set to `50%` for rounded shape.
/// @param {Boolean} $rtl-reflexive Set to true to flip border radius in RTL context. Defaults to `false`.
/// @param {Number} $density-scale Density scale of single line list. Set this only when custom density is applied.
///     Defaults to `$mdc-list-single-line-density-scale`.
///
/// @access public
///
@mixin single-line-shape-radius(
  $radius,
  $rtl-reflexive: false,
  $density-scale: variables.$single-line-density-scale,
  $query: feature-targeting.all()
) {
  $height: density-functions.prop-value(
    $density-config: variables.$single-line-density-config,
    $density-scale: $density-scale,
    $property-name: height,
  );

  .mdc-list-item {
    @include shape-mixins.radius(
      $radius,
      $rtl-reflexive,
      $component-height: $height,
      $query: $query
    );
  }
}

@mixin divider-color($color, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  .mdc-list-divider {
    @include feature-targeting.targets($feat-color) {
      @include theme.prop(border-bottom-color, $color);
    }
  }
}

@mixin group-subheader-ink-color($color, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  .mdc-list-group__subheader {
    @include feature-targeting.targets($feat-color) {
      @include theme.prop(color, $color);
    }
  }
}

@mixin item-disabled-text-opacity($opacity, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  .mdc-list-item--disabled .mdc-list-item__text {
    @include feature-targeting.targets($feat-color) {
      opacity: $opacity;
    }
  }
}

@mixin item-disabled-text-color($color, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  .mdc-list-item--disabled {
    .mdc-list-item__text,
    .mdc-list-item__primary-text,
    .mdc-list-item__secondary-text {
      @include feature-targeting.targets($feat-color) {
        @include theme.prop(color, $color);
      }
    }
  }
}

///
/// Establishes each list item's padding using a variant config.
///
/// @param {Map} $variant-config The list variant's configuration.
///
/// @access public
///
@mixin list-item-padding-variant(
  $variant-config,
  $query: feature-targeting.all()
) {
  $leading-padding: map.get($variant-config, leading-padding);
  @include list-item-padding($leading-padding, $query);
}

///
/// Establishes each list item's padding.
///
/// @param {Number} $leading-padding The item's leading padding.
///
/// @access public
///
@mixin list-item-padding($leading-padding, $query: feature-targeting.all()) {
  $feat-structure: feature-targeting.create-target($query, structure);

  @include feature-targeting.targets($feat-structure) {
    @include rtl-mixins.reflexive-property(
      padding,
      $leading-padding,
      variables.$trailing-padding
    );
  }
}

///
/// Establishes each list item's single line height using a variant config.
///
/// @param {Map} $variant-config The list variant's configuration.
///
/// @access public
///
@mixin list-item-height-variant(
  $variant-config,
  $query: feature-targeting.all()
) {
  $single-line-height: map.get($variant-config, single-line-height);
  @include list-item-height($single-line-height, $query);
}

///
/// Establishes each list item's height.
///
/// @param {Number} $height The item's height.
///
/// @access public
///
@mixin list-item-height($height, $query: feature-targeting.all()) {
  $feat-structure: feature-targeting.create-target($query, structure);

  @include feature-targeting.targets($feat-structure) {
    height: $height;
  }
}

///
/// Sets the trailing margin used by icons.
///
/// @param {Number} $margin The trailing margin applied to icons.
///
/// @access public
///
@mixin icon-margin($margin, $query: feature-targeting.all()) {
  $feat-structure: feature-targeting.create-target($query, structure);

  @include feature-targeting.targets($feat-structure) {
    .mdc-list-item__graphic {
      @include rtl-mixins.reflexive-box(margin, right, $margin);
    }
  }
}

///
/// Sets divider inset sizes for each list variant.
///
/// @param {Map} $variant-config The list variant's configuration.
///
/// @access public
///
@mixin divider-insets-variant(
  $variant-config,
  $query: feature-targeting.all()
) {
  $leading-padding: map.get($variant-config, leading-padding);
  $text-offset: map.get($variant-config, text-offset);
  @include divider-insets($leading-padding, $text-offset, $query);
}

///
/// Sets divider inset sizes for each list variant.
///
/// @param {Number} $leading-padding The item's leading padding.
/// @param {Number} $text-offset The item's text offset.
///
/// @access public
///
@mixin divider-insets(
  $leading-padding,
  $text-offset,
  $query: feature-targeting.all()
) {
  .mdc-list-divider--inset-leading {
    @include divider-inset(
      $leading-padding,
      $text-offset,
      $trailing: false,
      $query: $query
    );
  }

  .mdc-list-divider--inset-trailing {
    @include divider-inset(
      $leading-padding,
      $text-offset,
      $leading: false,
      $query: $query
    );
  }

  .mdc-list-divider--inset-leading.mdc-list-divider--inset-trailing {
    @include divider-inset($leading-padding, $text-offset, $query: $query);
  }

  .mdc-list-divider--inset-leading.mdc-list-divider--padding {
    @include divider-inset(
      $leading-padding,
      $text-offset,
      $trailing: false,
      $use-padding: true,
      $query: $query
    );
  }

  .mdc-list-divider--inset-leading.mdc-list-divider--inset-trailing.mdc-list-divider--inset-padding {
    @include divider-inset(
      $leading-padding,
      $text-offset,
      $use-padding: true,
      $query: $query
    );
  }
}

// Sets the width and height of the graphic element using a variant config.
@mixin graphic-size-variant($variant-config, $query: feature-targeting.all()) {
  $leading-padding: map.get($variant-config, leading-padding);
  $text-offset: map.get($variant-config, text-offset);
  $width: map.get(map.get($variant-config, graphic-size), width);
  $height: map.get(map.get($variant-config, graphic-size), height);

  @include graphic-size(
    $leading-padding,
    $text-offset,
    $width,
    $height,
    $query
  );
}

// Sets the width and height of the graphic element, as well as calculates the
// trailing margin for the graphic element such that the text is always offset
// from the item's leading edge by 72px, which is defined within the spec. If
// height isn't specified, the graphic is assumed to be square.
// TODO(b/155397992): restructure to use symmetric margins.
@mixin graphic-size(
  $leading-padding,
  $text-offset,
  $width,
  $height,
  $query: feature-targeting.all()
) {
  $feat-structure: feature-targeting.create-target($query, structure);
  $margin-value: max(
    $text-offset - $leading-padding - $width,
    $leading-padding
  );
  @include feature-targeting.targets($feat-structure) {
    @include rtl-mixins.reflexive-box(margin, right, $margin-value);
    width: $width;
    height: $height;
  }
}

// Deprecated. Supports legacy density styles.
@mixin graphic-size-dense_($size, $query: feature-targeting.all()) {
  @include graphic-size(
    $leading-padding: 16px,
    $text-offset: 16px,
    $width: $size,
    $height: $size,
    $query: $query
  );
}

///
/// Computes the appropriate leading inset for a divider based on list type.
///
/// @param {String}  $variant-config The list variant configuration.
/// @param {Boolean} $leading Whether to apply the leading inset.
/// @param {Boolean} $trailing Whether to apply the trailing inset.
/// @param {Boolean} $use-padding Whether to align with padding vs. text offset.
///
/// @access private
///
@mixin divider-inset-variant(
  $variant-config,
  $leading: true,
  $trailing: true,
  $use-padding: false,
  $query: feature-targeting.all()
) {
  $leading-padding: map.get($variant-config, leading-padding);
  $text-offset: map.get($variant-config, text-offset);

  @include divider-inset(
    $leading-padding,
    $text-offset,
    $leading,
    $trailing,
    $use-padding,
    $query
  );
}

@mixin divider-inset(
  $leading-padding,
  $text-offset,
  $leading: true,
  $trailing: true,
  $use-padding: false,
  $query: feature-targeting.all()
) {
  $feat-structure: feature-targeting.create-target($query, structure);
  $trailing-inset: if($trailing, variables.$trailing-padding, 0);
  $leading-inset: if(
    $leading,
    if($use-padding, $leading-padding, $text-offset),
    0
  );

  @include feature-targeting.targets($feat-structure) {
    @if $leading {
      @include rtl-mixins.reflexive-box(margin, left, $leading-inset);
    }
    width: calc(100% - #{$leading-inset + $trailing-inset});
  }
}

///
/// Sets density scale to single line list variant.
///
/// @param {Number} $density-scale Density scale for list. Supported density scales are `-4`, `-3`, `-2`, `-1` and  `0`.
///
/// @access public
///
@mixin single-line-density($density-scale, $query: feature-targeting.all()) {
  $height: density-functions.prop-value(
    $density-config: variables.$single-line-density-config,
    $density-scale: $density-scale,
    $property-name: height,
  );

  .mdc-list-item {
    @include single-line-height($height, $query: $query);
  }
}

///
/// Sets height to single line list variant.
///
/// @param {Number} $height Height value in `px`.
///
/// @access public
///
@mixin single-line-height($height, $query: feature-targeting.all()) {
  $feat-structure: feature-targeting.create-target($query, structure);

  @include feature-targeting.targets($feat-structure) {
    height: $height;
  }
}

//
// Private
//

@mixin base_($query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);
  $feat-structure: feature-targeting.create-target($query, structure);
  $feat-typography: feature-targeting.create-target($query, typography);

  @include typography.typography(subtitle1, $query);

  @include feature-targeting.targets($feat-typography) {
    // According to the mocks and stickersheet, the line-height is
    // adjusted to 24px for text content, same as for body1.
    /* @alternate */
    line-height: map.get(map.get(typography.$styles, body1), line-height);
  }

  @include feature-targeting.targets($feat-structure) {
    margin: 0;
    padding: 8px 0;
    list-style-type: none;

    &:focus {
      outline: none;
    }
  }

  @include item-primary-text-ink-color(text-primary-on-background, $query);
}

@mixin item-base_ {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;

  &:focus {
    outline: none;
  }
}

// Ripple styles for an interactive list item (one that is enabled and inside an interactive list).
@mixin item-interactive-ripple_($query: feature-targeting.all()) {
  @include ripple.surface(
    $ripple-target: variables.$ripple-target,
    $query: $query
  );
  @include ripple.radius-bounded(
    $ripple-target: variables.$ripple-target,
    $query: $query
  );
  @include ripple-theme.states(
    theme-color.prop-value(on-surface),
    false,
    $ripple-target: variables.$ripple-target,
    $query: $query
  );
  @include ripple-theme.states-activated(
    primary,
    false,
    $ripple-target: variables.$ripple-target,
    $query: $query
  );
  @include ripple-theme.states-selected(
    primary,
    false,
    $ripple-target: variables.$ripple-target,
    $query: $query
  );

  #{variables.$ripple-target} {
    @include ripple.target-common($query: $query);
  }
}
