//
// Copyright 2020 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use "@material/feature-targeting/functions" as feature-targeting-functions;
@use "@material/animation/functions" as animation-functions;
@use "@material/feature-targeting/mixins" as feature-targeting-mixins;
@use "@material/typography/mixins" as typography-mixins;
@use "./tooltip-theme";

$_padding-x: 4px;
$_padding-y: 8px;
$_max-width: 120px;
$_min-width: 40px;
$_label-type-scale: caption;

$enter-duration: 150ms;
$exit-duration: 75ms;

@mixin core-styles($query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);
  $feat-animation: feature-targeting-functions.create-target($query, animation);

  @include tooltip-theme.shape-radius(
    tooltip-theme.$border-radius,
    $query: $query
  );
  @include tooltip-theme.label-ink-color(
    tooltip-theme.$label-color,
    $query: $query
  );
  @include tooltip-theme.fill-color(
    tooltip-theme.$background-color,
    $query: $query
  );

  .mdc-tooltip {
    @include feature-targeting-mixins.targets($feat-structure) {
      position: fixed;
      display: none;
    }
  }

  .mdc-tooltip--shown,
  .mdc-tooltip--showing,
  .mdc-tooltip--hide {
    @include feature-targeting-mixins.targets($feat-structure) {
      display: inline-flex;
    }
  }

  .mdc-tooltip__surface {
    @include typography-mixins.typography($_label-type-scale, $query: $query);

    @include feature-targeting-mixins.targets($feat-structure) {
      padding: $_padding-x $_padding-y;
      min-width: $_min-width;
      max-width: $_max-width;
      transform: scale(0.8);
      opacity: 0;
    }

    .mdc-tooltip--shown & {
      @include feature-targeting-mixins.targets($feat-structure) {
        transform: scale(1);
        opacity: 1;
      }

      @include feature-targeting-mixins.targets($feat-animation) {
        transition: animation-functions.enter(opacity, $enter-duration),
          animation-functions.enter(transform, $enter-duration);
      }
    }

    .mdc-tooltip--hide & {
      @include feature-targeting-mixins.targets($feat-structure) {
        transform: scale(1);
      }

      @include feature-targeting-mixins.targets($feat-animation) {
        transition: animation-functions.exit-permanent(opacity, $exit-duration);
      }
    }
  }
}
