@use "../mixins" as menu-surface;
@use "@material/feature-targeting/functions" as feature;

@mixin test($query) {
  .test {
    @include menu-surface.core-styles($query: $query);
    @include menu-surface.fill-color(surface, $query: $query);
    @include menu-surface.ink-color(on-surface, $query: $query);
    @include menu-surface.shape-radius(medium, $query: $query);
  }
}

// This shouldn't output any CSS.
@include test(feature.any());
