@import './variables';

@function mdc-shape-get-radius($category, $radius: null, $top-left: null, $top-right: null, $bottom-right: null, $bottom-left: null) {
  @if $radius != null {
    @return $radius;
  }

  $mdc-shape-baseline_: map-get($mdc-shape-category, $category);
  $mdc-shape-overrides_: (
    top-left: $top-left,
    top-right: $top-right,
    bottom-right: $bottom-right,
    bottom-left: $bottom-left
  );

  $mdc-shape-radius_: map-merge($mdc-shape-baseline_, $mdc-shape-overrides_);
  @return map-get($mdc-shape-radius_, 'top-left')
      map-get($mdc-shape-radius_, 'top-right')
      map-get($mdc-shape-radius_, 'bottom-right')
      map-get($mdc-shape-radius_, 'bottom-left');
}