@forward "@material/feature-targeting/variables" as mdc-feature-*;
@forward "@material/feature-targeting/mixins" as mdc-feature-*;
@forward "@material/rtl/variables" as mdc-rtl-*;
@forward "variables" as mdc-shape-*;
@forward "@material/rtl/mixins" as mdc-* hide mdc-property-, mdc-reflexive, mdc-reflexive-box, mdc-reflexive-position, mdc-reflexive-property;
@forward "@material/rtl/mixins" as mdc-rtl-* hide mdc-rtl-rtl;
@forward "@material/feature-targeting/functions" as mdc-feature-*;
@forward "functions" as mdc-shape-*;
@forward "mixins" as mdc-shape-*;
