//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

// Component heights
$mdc-shape-extended-fab-height: 48px;
$mdc-shape-button-height: 36px;
$mdc-shape-button-dense-height: 32px;
$mdc-shape-text-field-outlined-height: 56px;
$mdc-shape-text-field-outlined-dense-height: 48px;

// Shape categories
$mdc-shape-small-radius: 4px !default;
$mdc-shape-medium-radius: 4px !default;
$mdc-shape-large-radius: 24px !default;

// Components which support pill shape radius.
$mdc-shape-height-values: (
  extended-fab: $mdc-shape-extended-fab-height,
  button: $mdc-shape-button-height,
  button-dense: $mdc-shape-button-dense-height,
  text-field-outlined: $mdc-shape-text-field-outlined-height,
  text-field-outlined-dense: $mdc-shape-text-field-outlined-dense-height,
);

// Shape category baseline values.
$mdc-shape-category-values: (
  small: $mdc-shape-small-radius,
  medium: $mdc-shape-medium-radius,
  large: $mdc-shape-large-radius,
);
