//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

.mdc-shape-container {
  display: inline-block;
  position: relative;
  overflow: hidden; // Prevent overflowed borders from encroaching on surrounding elements
}

.mdc-shape-container__corner {
  position: absolute;
  // IE and Edge require z-index set to 1 to properly mask ripple.
  z-index: 1;
}

.mdc-shape-container__corner::before,
.mdc-shape-container__corner::after {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  content: "";
}

.mdc-shape-container__corner--top-left {
  transform: rotate(-45deg);
}

.mdc-shape-container__corner--top-right {
  transform: rotate(45deg);
}

.mdc-shape-container__corner--bottom-right {
  transform: rotate(135deg);
}

.mdc-shape-container__corner--bottom-left {
  transform: rotate(-135deg);
}
