@forward "@material/base/mixins" as mdc-base-*;
@forward "@material/feature-targeting/variables" as mdc-feature-*;
@forward "@material/feature-targeting/mixins" as mdc-feature-*;
@forward "@material/theme/constants" as mdc-theme-*;
@forward "@material/theme/variables" as mdc-theme-*;
@forward "@material/animation/variables" as mdc-animation-*;
@forward "variables" as mdc-elevation-*;
@forward "@material/theme/mixins" as mdc-theme-*;
@forward "mixins" as mdc-* hide mdc-core-styles, mdc-overlay-common, mdc-overlay-dimensions, mdc-overlay-fill-color, mdc-overlay-opacity, mdc-overlay-selector-, mdc-overlay-surface-position, mdc-shadow;
@forward "mixins" as mdc-elevation-* hide mdc-elevation-elevation;
@forward "@material/feature-targeting/functions" as mdc-feature-*;
@forward "@material/theme/functions" as mdc-theme-*;
@forward "functions" as mdc-elevation-*;
@forward "mdc-elevation";
