@use "../mixins" as menu;
@use "@material/feature-targeting/feature-targeting";

@mixin test($query) {
  .test {
    @include menu.core-styles($query: $query);
    @include menu.width(0, $query: $query);
  }
}

// This shouldn't output any CSS.
@include test(feature-targeting.any());
