@use 'sass:map';
@use 'sass:list';
@use 'sass:meta';

@use '@material/theme/keys';
@use '@material/theme/theme';
@use '@material/theme/css';

$_prefix: 'focus-ring';

$_offset-horizontal-key: 'offset-horizontal';
$_offset-vertical-key: 'offset-vertical';
$_track-width-key: 'track-width';
$_ring-color-key: 'ring-color';
$_ring-border-start-start-radius-key: 'ring-border-start-start-radius';
$_ring-border-start-end-radius-key: 'ring-border-start-end-radius';
$_ring-border-end-end-radius-key: 'ring-border-end-end-radius';
$_ring-border-end-start-radius-key: 'ring-border-end-start-radius';

$default-theme: (
  $_offset-horizontal-key: 2px,
  $_offset-vertical-key: 2px,
  $_track-width-key: 3px,
  $_ring-color-key: 'secondary',
  $_ring-border-start-start-radius-key: inherit,
  $_ring-border-start-end-radius-key: inherit,
  $_ring-border-end-end-radius-key: inherit,
  $_ring-border-end-start-radius-key: inherit,
);

/// Generates CSS custom properties that are consumed by the focus ring styles.
/// Intended to be used directly by Material Design customers, as the only
/// formally supported means of customizing the focus ring.
///
/// @param {Map} $theme - A map with one or more of the keys of $default-theme.
@mixin theme($theme) {
  @include theme.validate-theme($default-theme, $theme);
  @include keys.declare-custom-properties($theme, $_prefix);
}

@mixin theme-styles($theme: $default-theme) {
  @include theme.validate-theme-styles($default-theme, $theme);

  $ring-color: map.get($theme, $_ring-color-key);
  $track-width: map.get($theme, $_track-width-key);
  $offset-vertical: map.get($theme, $_offset-vertical-key);
  $offset-horizontal: map.get($theme, $_offset-horizontal-key);
  $border-start-start-radius: map.get(
    $theme,
    $_ring-border-start-start-radius-key
  );
  $border-start-end-radius: map.get($theme, $_ring-border-start-end-radius-key);
  $border-end-start-radius: map.get($theme, $_ring-border-end-start-radius-key);
  $border-end-end-radius: map.get($theme, $_ring-border-end-end-radius-key);

  @include theme.property(
    border,
    'border-width solid border-color',
    $replace: ('border-width': $track-width, 'border-color': $ring-color)
  );

  @include theme.property(
    border-start-start-radius,
    $border-start-start-radius
  );
  @include theme.property(border-start-end-radius, $border-start-end-radius);
  @include theme.property(border-end-start-radius, $border-end-start-radius);
  @include theme.property(border-end-end-radius, $border-end-end-radius);

  @include theme.property(
    inset-block,
    'calc(-1 * (offset-vertical + border-width))',
    $replace: (
      'offset-vertical': $offset-vertical,
      'border-width': $track-width
    )
  );

  @include theme.property(
    inset-inline,
    'calc(-1 * (offset-horizontal + border-width))',
    $replace: (
      'offset-horizontal': $offset-horizontal,
      'border-width': $track-width
    )
  );
}

/// In the case of many components, the focus ring is expected to simply mold
/// around their shape, parallel to their borders. In this case, setting the
/// focus ring's corner radii to 'inherit' is unfortunately not enough. The focus
/// ring has a track width as well as an offset to its component's border, and
/// its corners consequently look sharper than expected under
/// 'border-radius: inherit'. Keeping in mind that each rounded corner of an
/// element is the arc of a circle, we can nicely mold each corner of the focus
/// ring by ensuring that the center of the circle which generates it coincides
/// with the center of the circle of its corresponding container corner.
/// To achieve this, we can calculate the focus ring's corner radii by adding up
/// the focus ring's track width and offset to the container's border radii.
/// Diagram: https://screenshot.googleplex.com/BkMF8drenrSoSyv.png
///
/// @param {Number | List} $container-shape - A number or a list of
/// 1 to 4 values, describing the shape  of the element that the focus ring
/// applies to. If provided, the focus ring will try to mold itself around
/// this shape, similar to the way in which the a css:outline is drawn parallel
/// to the border of the element it applies to.
///
/// @param { Number } $focus-ring-offset-horizontal - The distance between
/// the left and right edges of the focus ring and the left and right
/// edges of the component it applies to.
///
/// @param { Number } $focus-ring-offset-vertical - The distance between
/// the upper and lower edges of the focus ring and the upper and lower
/// edges of the component it applies to.
///
/// @return { Map } - Values for the 4 corners of the focus ring:
/// { 'ring-border-start-start-radius'
///   'ring-border-start-end-radius'
///   'ring-border-end-end-radius'
///   'ring-border-end-start-radius' }
/// This map can be used as a focus ring theme.
@function compute-focus-ring-border-radii-from-container-shape(
  $container-shape,
  $focus-ring-track-width: map.get($default-theme, $_track-width-key),
  $focus-ring-offset-horizontal:
    map.get($default-theme, $_offset-horizontal-key),
  $focus-ring-offset-vertical: map.get($default-theme, $_offset-vertical-key)
) {
  @if $container-shape == null {
    @error '$container-shape is null. Expected a size value or a list of 1 to 4 size values.';
  }

  $container-border-radii: _unpack-border-radii($container-shape);
  $ring-average-offset: calc(
    ($focus-ring-offset-horizontal + $focus-ring-offset-vertical) / 2
  );

  @return (
    $_ring-border-start-start-radius-key:
      calc(
        list.nth($container-border-radii, 1) + $ring-average-offset +
          $focus-ring-track-width
      ),
    $_ring-border-start-end-radius-key:
      calc(
        list.nth($container-border-radii, 2) + $ring-average-offset +
          $focus-ring-track-width
      ),
    $_ring-border-end-end-radius-key:
      calc(
        list.nth($container-border-radii, 3) + $ring-average-offset +
          $focus-ring-track-width
      ),
    $_ring-border-end-start-radius-key:
      calc(
        list.nth($container-border-radii, 4) + $ring-average-offset +
          $focus-ring-track-width
      )
  );
}

/// This should be applied to the focus ring element when the focus ring
/// should be shown (e.g. based on `:focus-visible` pseudoclass).
@mixin show-focus-ring() {
  display: block;
}

/// Examples:
/// 0 -> (0px 0px 0px 0px)
/// 1px -> (1px 1px 1px 1px)
/// (0px 0px) -> (0px 0px 0px 0px)
/// (1px 2rem 50%) -> (1px 2rem 50% 2rem)
/// (2px 2px 0 2px) -> (2px 2px 0px 2px)
@function _unpack-border-radii($shape) {
  $border-radii: css.unpack-value($shape);
  $sanitized-border-radii: ();

  @each $border-radius in $border-radii {
    $sanitized-border-radii: list.append(
      $sanitized-border-radii,
      if($border-radius == 0, 0px, $border-radius)
    );
  }

  @return $sanitized-border-radii;
}
