// Styles for a focus ring that animates outwards.

@use 'sass:map';
@use 'sass:list';
@use 'sass:meta';

@use '@material/theme/keys';
@use '@material/theme/validate';
@use './focus-ring-shared-theme';

$_custom-property-prefix: 'focus-ring-outward';

/// Generates CSS custom properties that are consumed by the focus ring styles.
/// Intended to be used directly by Material Design customers, as the only
/// formally supported means of customizing the focus ring.
///
/// @param {Map} $theme - A map with one or more of the keys of $default-theme.
@mixin theme($theme) {
  $theme: validate.theme(focus-ring-shared-theme.$default-theme, $theme);
  @include keys.declare-custom-properties($theme, $_custom-property-prefix);
}

@mixin theme-styles($theme: focus-ring-shared-theme.$default-theme) {
  $theme: validate.theme-styles(focus-ring-shared-theme.$default-theme, $theme);
  $theme: keys.create-theme-vars($theme, $_custom-property-prefix);

  $ring-color: map.get($theme, focus-ring-shared-theme.$ring-color-key);
  $ring-offset: map.get($theme, focus-ring-shared-theme.$ring-offset-key);
  $track-width: map.get($theme, focus-ring-shared-theme.$track-width-key);
  $target-shape: map.get($theme, focus-ring-shared-theme.$target-shape-key);

  /// Mold the focus ring to the target shape.
  /// See the diagram for insights into why the border-radius calc is needed:
  /// http://screen/9J9CzpCxJxxDHCb.png
  border-radius: calc($target-shape + $ring-offset);
  inset: calc(-1 * $ring-offset);
  box-shadow: 0 0 0 $track-width $ring-color;
  // HCM ignores box-shadow, so a transparent outline is added to ensure
  // focus ring is shown in HCM.
  outline: $track-width solid transparent;

  @include _focus-ring-animation-keyframes($theme);
  @include focus-ring-shared-theme.focus-ring-animation(
    $grow-animation-name: focus-ring-grows,
    $shrink-animation-name: focus-ring-shrinks
  );
}

@mixin _focus-ring-animation-keyframes($theme) {
  $track-width: map.get($theme, focus-ring-shared-theme.$track-width-key);
  $ring-color: map.get($theme, focus-ring-shared-theme.$ring-color-key);

  $start-border-width: 0;
  $midpoint-border-width: 8px;

  @keyframes focus-ring-grows {
    from {
      box-shadow: 0 0 0 $start-border-width $ring-color;
    }
    to {
      box-shadow: 0 0 0 $midpoint-border-width $ring-color;
    }
  }

  @keyframes focus-ring-shrinks {
    from {
      box-shadow: 0 0 0 $midpoint-border-width $ring-color;
    }
  }
}
