@use 'sass:map';
@use 'sass:list';
@use 'sass:meta';

@use '@material/theme/keys';
@use '@material/theme/validate';

$_custom-property-prefix: 'focus-ring';
$_ring-offset-key: 'offset';
$_ring-color-key: 'color';
$_track-width-key: 'track-width';
$_target-shape-key: 'target-shape';

$default-theme: (
  $_ring-offset-key: 2px,
  $_track-width-key: 3px,
  $_ring-color-key: 'secondary',
  $_target-shape-key: 0px,
);

/// Generates CSS custom properties that are consumed by the focus ring styles.
/// Intended to be used directly by Material Design customers, as the only
/// formally supported means of customizing the focus ring.
///
/// @param {Map} $theme - A map with one or more of the keys of $default-theme.
@mixin theme($theme) {
  $theme: validate.theme($default-theme, $theme);
  @include keys.declare-custom-properties($theme, $_custom-property-prefix);
}

@mixin theme-styles($theme: $default-theme) {
  $theme: validate.theme-styles($default-theme, $theme);
  $theme: keys.create-theme-vars($theme, $_custom-property-prefix);

  $ring-color: map.get($theme, $_ring-color-key);
  $ring-offset: map.get($theme, $_ring-offset-key);
  $track-width: map.get($theme, $_track-width-key);
  $target-shape: map.get($theme, $_target-shape-key);

  /// Mold the focus ring to the target shape.
  /// See the diagram for insights into why the border-radius calc is needed:
  /// https://screenshot.googleplex.com/3cYw8Pi8WQNa3h8.png
  border: $track-width solid $ring-color;
  border-radius: calc($target-shape + $track-width + $ring-offset);
  inset-block: calc(-1 * ($ring-offset + $track-width));
  inset-inline: calc(-1 * ($ring-offset + $track-width));
}

/// This should be applied to the focus ring element when the focus ring
/// should be shown (e.g. based on `:focus-visible` pseudoclass).
@mixin show-focus-ring() {
  display: block;
}
