@forward "@material/feature-targeting/mixins" as mdc-feature-*;
@forward "@material/theme/variables" as mdc-theme-*;
@forward "@material/rtl/variables" as mdc-rtl-*;
@forward "@material/shape/variables" as mdc-shape-*;
@forward "@material/animation/variables" as mdc-animation-*;
@forward "@material/base/mixins" as mdc-base-*;
@forward "@material/elevation/variables" as mdc-elevation-*;
@forward "variables" as mdc-menu-surface-*;
@forward "@material/theme/mixins" as mdc-theme-*;
@forward "@material/rtl/mixins" as mdc-* hide mdc-property-, mdc-reflexive, mdc-reflexive-box, mdc-reflexive-position, mdc-reflexive-property;
@forward "@material/rtl/mixins" as mdc-rtl-* hide mdc-rtl-rtl;
@forward "@material/shape/mixins" as mdc-shape-*;
@forward "@material/elevation/mixins" as mdc-* hide mdc-core-styles, mdc-overlay-common, mdc-overlay-dimensions, mdc-overlay-fill-color, mdc-overlay-opacity, mdc-overlay-selector-, mdc-overlay-surface-position, mdc-shadow;
@forward "@material/elevation/mixins" as mdc-elevation-* hide mdc-elevation-elevation;
@forward "mixins" as mdc-menu-surface-*;
@forward "@material/feature-targeting/functions" as mdc-feature-*;
@forward "@material/theme/functions" as mdc-theme-*;
@forward "@material/shape/functions" as mdc-shape-*;
@forward "@material/elevation/functions" as mdc-elevation-*;
@forward "mdc-menu-surface";
