//  Copyright 2018 Google Inc.
//
//  Permission is hereby granted, free of charge, to any person obtaining a copy
//  of this software and associated documentation files (the "Software"), to deal
//  in the Software without restriction, including without limitation the rights
//  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
//  copies of the Software, and to permit persons to whom the Software is
//  furnished to do so, subject to the following conditions:/
//
//  The above copyright notice and this permission notice shall be included in
//  all copies or substantial portions of the Software./
//
//  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
//  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
//  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
//  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
//  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
//  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
//  THE SOFTWARE.
//

@use "@material/rtl/mixins" as rtl-mixins;
@use "@material/theme/mixins" as theme-mixins;
@use "./variables";

// Public mixins

@mixin icon-color($color) {
  &:not(.mdc-select--disabled) {
    @include icon-color_($color);
  }
}

// Private mixins

@mixin icon_ {
  @include icon-color(on-surface);

  .mdc-select__icon {
    display: inline-block;
    position: absolute;
    bottom: 16px;
    box-sizing: border-box;
    width: variables.$icon-size;
    height: variables.$icon-size;
    border: none;
    background-color: transparent;
    fill: currentColor;
    opacity: variables.$icon-opacity;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
  }
}

@mixin icon-color_($color) {
  .mdc-select__icon {
    @include theme-mixins.prop(color, $color);
  }
}

@mixin icon-horizontal-position_($iconPosition, $inputPadding) {
  .mdc-select__icon {
    @include rtl-mixins.reflexive-position(left, $iconPosition);
  }

  // Move the input's position, to allow room for the icon
  .mdc-select__selected-text {
    @include rtl-mixins.reflexive-property(
      padding,
      $inputPadding /* left */,
      variables.$icon-right-padding /* right */
    );
  }
}
