@import "@material/ripple/common";
@import "@material/ripple/mixins";
@import "@material/typography/mixins";
@import "@material/rtl/mixins";

$mdc-purple: #6200ee;
$mdc-gray: #191919;
$mdc-light-gray: rgba(229, 229, 229, 1);
$mdc-dark-gray: rgba(0, 0, 0, .87);
$mdc-height: 2px;
$mdc-color: $mdc-purple;

@mixin mdc-tabz-background($background) {
  .mdc-tabz-container {
    background: $background;
  }
}

@mixin mdc-tabz-ink($color) {
  .mdc-tabz__content {
    color: $color;
  }
}

@mixin mdc-tabz-active-ink($color) {
  .mdc-tabz--active .mdc-tabz__content {
    color: $color;
  }
}

@mixin mdc-tabz-active-bold {
  .mdc-tabz--active .mdc-tabz__content {
    font-weight: bold;
  }
}

@mixin mdc-tabz-indicator($color: null, $height: null) {
  .mdc-tabz__indicator {
    @if ($color) {
      color: $color;
    }

    @if ($height) {
      height: $height;
    }
  }

  .mdc-tabz-indicator {
    @if ($color) {
      background: $color;
    }

    @if ($height) {
      height: $height;
    }
  }
}

@mixin mdc-tabz-indicator-icon {
  .mdc-tabz-indicator--icon {
    @content;
  }
}

@mixin mdc-tabz-indicator-customization {
  .mdc-tabz-indicator--custom {
    @content;
  }
}

/**
 * Items
 */
.mdc-tabz {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  @include mdc-states(primary);

  display: flex;
  position: relative;
  flex: 1 0 auto;
  justify-content: center;
  box-sizing: border-box;
  height: 48px;
  padding: 0 24px;
  border: none;
  background: none;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;

  &:focus {
    outline: none;
  }

  &--active {
    color: $mdc-color;
  }

  &__content {
    display: flex;
    position: relative;
    justify-content: center;
    color: #616161;
    z-index: 1;
  }

  &__indicator {
    position: absolute;
    align-self: center;
    justify-content: center;
    opacity: 0;
  }

  &--active &__content {
    color: $mdc-color;
  }

  &--animating-activate &__content {
    transition: 150ms color linear;
    transition-delay: 100ms;
  }

  &--animating-activate &__indicator {
    transition: 150ms opacity linear;
    transition-delay: 100ms;
  }

  &--animating-deactivate &__content {
    transition: 100ms color linear;
    transition-delay: 0ms;
  }

  &--animating-deactivate &__indicator {
    transition: 100ms opacity linear;
    transition-delay: 0ms;
  }

  &--active &__indicator {
    opacity: 1;
  }

  &--upgraded:not(.mdc-tabz--custom-indicator) &__indicator {
    display: none;
  }

  &__text-label {
    display: inline-block;
    padding: 16px 0 20px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    padding: 12px 0;
  }

  &__icon + &__text-label {
    @include mdc-rtl-reflexive-box(padding, left, 8px);
  }

  .mdc-tabz-bar--two-lines & {
    height: 72px;
  }

  .mdc-tabz-bar--two-lines &__content {
    flex-direction: column;
    align-items: center;
  }

  .mdc-tabz-bar--two-lines &__icon {
    padding: 12px 0 8px;
  }

  .mdc-tabz-bar--two-lines &__text-label {
    padding: 0 0 16px;
    line-height: 12px;
  }
}

.mdc-tabz-pager {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: none;
  z-index: 2;

  &:focus {
    outline: none;
  }

  &--previous {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }

  &--next {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }

  &--hide {
    visibility: hidden;
  }
}

.mdc-tabz-container {
  -webkit-overflow-scrolling: touch;
  display: flex;
  position: relative;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__inner {
    display: flex;
    position: relative;
    flex: 1 0 auto;
    transform-origin: left;
  }

  &--animating &__inner {
    transition: 250ms transform cubic-bezier(0, 0, .2, 1);
  }
}

/**
 * Top-Level Element
 */
.mdc-tabz-bar {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, .12);

  &--paging .mdc-tabz-container {
    overflow-x: hidden;
  }

  &--cluster-left,
  &--cluster-center,
  &--cluster-right {
    border-bottom: none;

    .mdc-tabz-container__inner {
      flex: 0 0 auto;
    }

    .mdc-tabz {
      flex: 0 1 auto;
    }
  }

  &--cluster-left .mdc-tabz-container {
    justify-content: flex-start;
  }

  &--cluster-center .mdc-tabz-container {
    justify-content: center;
  }

  &--cluster-right .mdc-tabz-container {
    justify-content: flex-end;
  }

  &--fixed-width {
    border-bottom: none;
  }

  &--fixed-width .mdc-tabz-container {
    @include mdc-rtl-reflexive-box(padding, left, 56px);

    border-bottom: none;
  }

  &--fixed-width .mdc-tabz {
    flex: 1 0 auto;
    min-width: 110px;
  }
}

.mdc-tabz-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 2px;
  transform-origin: left;
  background-color: $mdc-purple;
  opacity: 0;
  will-change: transform;
  z-index: 1;

  &--upgraded {
    opacity: 1;
  }

  &--animating {
    transition: 250ms transform cubic-bezier(0, 0, .2, 1);
  }

  &--animating-icon {
    transition: 150ms opacity linear;
  }

  &--custom,
  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 100%;
    background: none;
    z-index: auto;
  }

  &--icon-hide {
    opacity: 0;
  }
}

@media screen and (max-width: 599px) {
  .mdc-tabz-bar--scrollable-fixed .mdc-tabz__container {
    padding-left: 52px;
  }

  .mdc-tabz {
    padding-right: 12px;
    padding-left: 12px;
  }
}
