//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use "@material/feature-targeting/functions";
@use "@material/feature-targeting/mixins" as feature-targeting-mixins;
@use "@material/ripple/mixins" as ripple-mixins;
@use "@material/theme/mixins" as theme-mixins;
@use "@material/typography/mixins" as typography-mixins;
@use "@material/rtl/mixins" as rtl-mixins;
@use "@material/tab-indicator/mixins" as tab-indicator-mixins;
@use "./variables";

// Public mixins

@mixin core-styles($query: functions.all()) {
  @include without-ripple($query);
  @include ripple($query);
}

// This API is intended for use by frameworks that may want to separate the ripple-related styles
// from the other tah styles. It is recommended that most users use `mdc-tab-core-styles` instead.
@mixin without-ripple($query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);
  $feat-animation: functions.create-target($query, animation);

  // postcss-bem-linter: define tab

  .mdc-tab {
    @include base_($query);
  }

  .mdc-tab--min-width {
    @include feature-targeting-mixins.targets($feat-structure) {
      flex: 0 1 auto;
    }
  }

  .mdc-tab__content {
    @include content_($query);
  }

  .mdc-tab__text-label {
    @include feature-targeting-mixins.targets($feat-animation) {
      transition: 150ms color linear;
    }

    @include feature-targeting-mixins.targets($feat-structure) {
      display: inline-block;
      // Setting line-height here overrides the line-height from the typography
      // mixin above. The line-height needs to be overridden so that the spacing
      // between the text label and the icon as well as the text label and the
      // bottom of the tab remain the same.
      line-height: 1;
      z-index: 2;
    }
  }

  .mdc-tab__icon {
    @include feature-targeting-mixins.targets($feat-animation) {
      transition: 150ms color linear;
    }

    @include feature-targeting-mixins.targets($feat-structure) {
      width: variables.$icon-size;
      height: variables.$icon-size;
      font-size: variables.$icon-size;
      z-index: 2;
    }
  }

  .mdc-tab--stacked {
    @include stacked_($query);
  }

  .mdc-tab--active {
    @include active_($query);
  }

  .mdc-tab:not(.mdc-tab--stacked) .mdc-tab__icon + .mdc-tab__text-label {
    @include feature-targeting-mixins.targets($feat-structure) {
      @include rtl-mixins.reflexive-box(padding, left, 8px);
    }
  }

  // postcss-bem-linter: end
}

// This API is intended for use by frameworks that may want to separate the ripple-related styles
// from the other tah styles. It is recommended that most users use `mdc-tab-core-styles` instead.
@mixin ripple($query: functions.all()) {
  @include ripple-mixins.common($query); // COPYBARA_COMMENT_THIS_LINE

  .mdc-tab__ripple {
    @include ripple_($query);
  }
}

@mixin horizontal-padding($padding, $query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);

  @include feature-targeting-mixins.targets($feat-structure) {
    padding-right: $padding;
    padding-left: $padding;
  }
}

@mixin text-label-color($color, $query: functions.all()) {
  $feat-color: functions.create-target($query, color);

  .mdc-tab__text-label {
    @include feature-targeting-mixins.targets($feat-color) {
      @include theme-mixins.prop(color, $color);
    }
  }
}

@mixin icon-color($color, $query: functions.all()) {
  $feat-color: functions.create-target($query, color);

  .mdc-tab__icon {
    @include feature-targeting-mixins.targets($feat-color) {
      @include theme-mixins.prop(color, $color);

      fill: currentColor;
    }
  }
}

@mixin states-color($color, $query: functions.all()) {
  .mdc-tab__ripple {
    @include ripple-mixins.states($color, $query: $query);
  }
}

@mixin ink-color($color, $query: functions.all()) {
  @include icon-color($color, $query);
  @include states-color($color, $query);
  @include text-label-color($color, $query);
}

@mixin active-text-label-color($color, $query: functions.all()) {
  &.mdc-tab--active {
    @include text-label-color($color, $query);
  }
}

@mixin active-icon-color($color, $query: functions.all()) {
  &.mdc-tab--active {
    @include icon-color($color, $query);
  }
}

@mixin active-states-color($color, $query: functions.all()) {
  &.mdc-tab--active {
    @include states-color($color, $query);
  }
}

@mixin parent-positioning($query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);

  @include feature-targeting-mixins.targets($feat-structure) {
    position: relative;
  }
}

@mixin fixed-width($width, $query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);

  @include feature-targeting-mixins.targets($feat-structure) {
    flex: 0 1 $width;
  }
}

///
/// Sets tab height
///
/// @param {Number} $height Height value in `px`.
///
@mixin height($height, $query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);

  @include feature-targeting-mixins.targets($feat-structure) {
    height: $height;
  }
}

///
/// Sets tab text transform
///
/// @param {String} $transform The text-transform property to apply.
///
@mixin text-transform($transform, $query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);

  @include feature-targeting-mixins.targets($feat-structure) {
    text-transform: $transform;
  }
}

//
// Private
//

@mixin base_($query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);

  @include typography-mixins.typography(button, $query);
  @include text-label-color(variables.$text-label-color-default, $query);
  @include icon-color(variables.$icon-color-default, $query);
  @include horizontal-padding(variables.$horizontal-padding, $query);
  @include tab-indicator-mixins.surface($query);

  @include feature-targeting-mixins.targets($feat-structure) {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    box-sizing: border-box;
    // Explicitly setting margin to 0 is to override safari default margin for button elements.
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    outline: none;
    background: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    z-index: 1;

    // Firefox still draws a dotted border around focused buttons unless specifically overridden.
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }
}

@mixin ripple_($query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);

  @include ripple-mixins.surface($query);
  @include ripple-mixins.radius-bounded($query: $query);
  @include ripple-mixins.states($color: primary, $query: $query);

  @include feature-targeting-mixins.targets($feat-structure) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@mixin content_($query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);

  @include tab-indicator-mixins.surface($query);

  @include feature-targeting-mixins.targets($feat-structure) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    pointer-events: none;
  }
}

@mixin stacked_($query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);

  @include feature-targeting-mixins.targets($feat-structure) {
    .mdc-tab__content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .mdc-tab__text-label {
      padding-top: 6px;
      padding-bottom: 4px;
    }
  }
}

@mixin active_($query: functions.all()) {
  $feat-animation: functions.create-target($query, animation);

  @include text-label-color(variables.$text-label-color-active, $query);
  @include icon-color(variables.$icon-color-active, $query);

  .mdc-tab__text-label,
  .mdc-tab__icon {
    @include feature-targeting-mixins.targets($feat-animation) {
      transition-delay: 100ms;
    }
  }
}
