//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "../../packages/mdc-theme/color-palette";
@import "../../packages/mdc-theme/mixins";
@import "../../packages/mdc-menu-surface/mixins";

//
// Toolbar and menu
//

.demo-theme-menu {
  @include mdc-menu-width(6);
}

.demo-theme-menu__list-item--selected {
  background-color: $material-color-grey-400;
}

.demo-theme-list {
  text-overflow: ellipsis;
  white-space: nowrap;
}

//
// Radios
//

.demo-theme-color-radio {
  display: block;
  border: 1px solid $material-color-grey-500;
  border-radius: 50%;
}

.demo-theme-color-radio__inner {
  display: block;
  border: 11px solid;
  border-radius: 50%;
}

[data-theme="baseline"] .demo-theme-color-radio__inner {
  border-color: $material-color-deep-purple-a700 $material-color-teal-a400 $material-color-teal-a400 $material-color-deep-purple-a700;
}

[data-theme="black"] .demo-theme-color-radio__inner {
  border-color: $material-color-grey-900 $material-color-light-green-a700 $material-color-light-green-a700 $material-color-grey-900;
}

[data-theme="dark"] .demo-theme-color-radio__inner {
  border-color: $material-color-amber-300 $material-color-pink-400 $material-color-pink-400 $material-color-amber-300;
}

[data-theme="shrine"] .demo-theme-color-radio__inner {
  border-color: #442B2D #FCB8AB #FCB8AB #442B2D;
}
