@forward "./index" as mdc-circular-progress-* hide mdc-circular-progress-core-styles, mdc-circular-progress-color, mdc-circular-progress-indeterminate-colors, mdc-circular-progress-size-, mdc-circular-progress-indeterminate-animations-;
