//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use "sass:map";
@use "sass:string";
@use "./functions";

$font-family: string.unquote('Roboto, sans-serif') !default;

// Override styles
$styles-headline1: () !default;
$styles-headline2: () !default;
$styles-headline3: () !default;
$styles-headline4: () !default;
$styles-headline5: () !default;
$styles-headline6: () !default;
$styles-subtitle1: () !default;
$styles-subtitle2: () !default;
$styles-body1: () !default;
$styles-body2: () !default;
$styles-caption: () !default;
$styles-button: () !default;
$styles-overline: () !default;

$base: (
  font-family: $font-family,
) !default;

$font-weight-values: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900,
) !default;

// font-size / line-height

// 96sp / 96sp
$_headline1: (
  font-size: 6rem,
  line-height: 6rem,
  font-weight: map.get($font-weight-values, light),
  letter-spacing: functions.get-letter-spacing_(-1.5, 6),
  text-decoration: inherit,
  text-transform: inherit,
);
// 60sp / 60sp
$_headline2: (
  font-size: 3.75rem,
  line-height: 3.75rem,
  font-weight: map.get($font-weight-values, light),
  letter-spacing: functions.get-letter-spacing_(-0.5, 3.75),
  text-decoration: inherit,
  text-transform: inherit,
);
// 48sp / 50sp
$_headline3: (
  font-size: 3rem,
  line-height: 3.125rem,
  font-weight: map.get($font-weight-values, regular),
  letter-spacing: normal,
  text-decoration: inherit,
  text-transform: inherit,
);
// 34sp / 40sp
$_headline4: (
  font-size: 2.125rem,
  line-height: 2.5rem,
  font-weight: map.get($font-weight-values, regular),
  letter-spacing: functions.get-letter-spacing_(0.25, 2.125),
  text-decoration: inherit,
  text-transform: inherit,
);
// 24sp / 32sp
$_headline5: (
  font-size: 1.5rem,
  line-height: 2rem,
  font-weight: map.get($font-weight-values, regular),
  letter-spacing: normal,
  text-decoration: inherit,
  text-transform: inherit,
);
// 20sp / 32sp
$_headline6: (
  font-size: 1.25rem,
  line-height: 2rem,
  font-weight: map.get($font-weight-values, medium),
  letter-spacing: functions.get-letter-spacing_(0.25, 1.25),
  text-decoration: inherit,
  text-transform: inherit,
);
// 16sp / 28sp
$_subtitle1: (
  font-size: 1rem,
  line-height: 1.75rem,
  font-weight: map.get($font-weight-values, regular),
  letter-spacing: functions.get-letter-spacing_(0.15, 1),
  text-decoration: inherit,
  text-transform: inherit,
);
// 14sp / 22sp
$_subtitle2: (
  font-size: 0.875rem,
  line-height: 1.375rem,
  font-weight: map.get($font-weight-values, medium),
  letter-spacing: functions.get-letter-spacing_(0.1, 0.875),
  text-decoration: inherit,
  text-transform: inherit,
);
// 16sp / 24sp
$_body1: (
  font-size: 1rem,
  line-height: 1.5rem,
  font-weight: map.get($font-weight-values, regular),
  letter-spacing: functions.get-letter-spacing_(0.5, 1),
  text-decoration: inherit,
  text-transform: inherit,
);
// 14sp / 20sp
$_body2: (
  font-size: 0.875rem,
  line-height: 1.25rem,
  font-weight: map.get($font-weight-values, regular),
  letter-spacing: functions.get-letter-spacing_(0.25, 0.875),
  text-decoration: inherit,
  text-transform: inherit,
);
// 12sp / 20sp
$_caption: (
  font-size: 0.75rem,
  line-height: 1.25rem,
  font-weight: map.get($font-weight-values, regular),
  letter-spacing: functions.get-letter-spacing_(0.4, 0.75),
  text-decoration: inherit,
  text-transform: inherit,
);
// 14sp / 36sp
$_button: (
  font-size: 0.875rem,
  line-height: 2.25rem,
  font-weight: map.get($font-weight-values, medium),
  letter-spacing: functions.get-letter-spacing_(1.25, 0.875),
  text-decoration: none,
  text-transform: uppercase,
);
// 12sp / 32sp
$_overline: (
  font-size: 0.75rem,
  line-height: 2rem,
  font-weight: map.get($font-weight-values, medium),
  letter-spacing: functions.get-letter-spacing_(2, 0.75),
  text-decoration: none,
  text-transform: uppercase,
);

$styles: functions.set-styles_(
  $base,
  (
    headline1: $_headline1,
    headline2: $_headline2,
    headline3: $_headline3,
    headline4: $_headline4,
    headline5: $_headline5,
    headline6: $_headline6,
    subtitle1: $_subtitle1,
    subtitle2: $_subtitle2,
    body1: $_body1,
    body2: $_body2,
    caption: $_caption,
    button: $_button,
    overline: $_overline,
  ),
  (
    headline1: $styles-headline1,
    headline2: $styles-headline2,
    headline3: $styles-headline3,
    headline4: $styles-headline4,
    headline5: $styles-headline5,
    headline6: $styles-headline6,
    subtitle1: $styles-subtitle1,
    subtitle2: $styles-subtitle2,
    body1: $styles-body1,
    body2: $styles-body2,
    caption: $styles-caption,
    button: $styles-button,
    overline: $styles-overline,
  )
) !default;
