//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use "sass:map";
@use "sass:string";
@use "@sass-collective/sass-em";
@use "@sass-collective/sass-rem";
@use "./functions";

$font-family: string.unquote("Roboto, sans-serif") !default;

// Override styles
$styles-headline1: () !default;
$styles-headline2: () !default;
$styles-headline3: () !default;
$styles-headline4: () !default;
$styles-headline5: () !default;
$styles-headline6: () !default;
$styles-subtitle1: () !default;
$styles-subtitle2: () !default;
$styles-body1: () !default;
$styles-body2: () !default;
$styles-caption: () !default;
$styles-button: () !default;
$styles-overline: () !default;

$base: (
  font-family: $font-family
) !default;

$font-weight-values: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
) !default;

$styles: functions.set-styles_(
  $base,
  (
    headline1: (
      font-size: sass-rem.rem(96), // 96sp
      line-height: sass-rem.rem(96),
      font-weight: map.get($font-weight-values, light),
      letter-spacing: sass-em.em(-1.5, 96),
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline2: (
      font-size: sass-rem.rem(60), // 60sp
      line-height: sass-rem.rem(60),
      font-weight: map.get($font-weight-values, light),
      letter-spacing: sass-em.em(-.5, 60),
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline3: (
      font-size: sass-rem.rem(48), // 48sp
      line-height: sass-rem.rem(50), // 50sp
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: normal,
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline4: (
      font-size: sass-rem.rem(34), // 34sp
      line-height: sass-rem.rem(40), // 40sp
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: sass-em.em(.25, 34),
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline5: (
      font-size: sass-rem.rem(24), // 24sp
      line-height: sass-rem.rem(32), // 32sp
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: normal,
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline6: (
      font-size: sass-rem.rem(20), // 20sp
      line-height: sass-rem.rem(32), // 32sp
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: sass-em.em(.25, 20),
      text-decoration: inherit,
      text-transform: inherit
    ),
    subtitle1: (
      font-size: sass-rem.rem(16), // 16sp
      line-height: sass-rem.rem(28), // 28sp
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: sass-em.em(.15, 16),
      text-decoration: inherit,
      text-transform: inherit
    ),
    subtitle2: (
      font-size: sass-rem.rem(14), // 14sp
      line-height: sass-rem.rem(22), // 22sp
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: sass-em.em(.1, 14),
      text-decoration: inherit,
      text-transform: inherit
    ),
    body1: (
      font-size: sass-rem.rem(16), // 16sp
      line-height: sass-rem.rem(24), // 24sp
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: sass-em.em(.5, 16),
      text-decoration: inherit,
      text-transform: inherit
    ),
    body2: (
      font-size: sass-rem.rem(14), // 14sp
      line-height: sass-rem.rem(20), // 20sp
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: sass-em.em(.25, 14),
      text-decoration: inherit,
      text-transform: inherit
    ),
    caption: (
      font-size: sass-rem.rem(12), // 12sp
      line-height: sass-rem.rem(20), // 20sp
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: sass-em.em(.4, 12),
      text-decoration: inherit,
      text-transform: inherit
    ),
    button: (
      font-size: sass-rem.rem(14), // 14sp
      line-height: sass-rem.rem(36), // 36sp
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: sass-em.em(1.25, 14),
      text-decoration: none,
      text-transform: uppercase
    ),
    overline: (
      font-size: sass-rem.rem(12), // 12sp
      line-height: sass-rem.rem(32), // 32sp
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: sass-em.em(2, 12),
      text-decoration: none,
      text-transform: uppercase
    ),
  ),
  (
    headline1: $styles-headline1,
    headline2: $styles-headline2,
    headline3: $styles-headline3,
    headline4: $styles-headline4,
    headline5: $styles-headline5,
    headline6: $styles-headline6,
    subtitle1: $styles-subtitle1,
    subtitle2: $styles-subtitle2,
    body1: $styles-body1,
    body2: $styles-body2,
    caption: $styles-caption,
    button: $styles-button,
    overline: $styles-overline,
  )
) !default;
