/**
 * Copyright 2020 Google Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

@use "../mdc-button";
@use "../mdc-theme/variables" as theme-variables;


@use "../mdc-feature-targeting/functions" as feature-targeting-functions;
@use "../mdc-typography/mixins" as typography-mixins;

// Style for when element is on
.mdc-segmented-button__segment--selected {
    @include mdc-button.ink-color(rgba(theme-variables.prop-value(primary), 1));
    @include mdc-button.outline-color(rgba(theme-variables.prop-value(primary), 1));
    @include mdc-button.container-fill-color(rgba(theme-variables.prop-value(primary), .08));

    // Avoids double borders
    +.mdc-segmented-button__segment {
        border-left: hidden;
    }
}

.mdc-segmented-button {
    font-size: 0;
    display: inline-block;
}

// TODO: include test for element resizing besides the left/right border
.mdc-segmented-button__segment {
    @include typography-mixins.typography(button, feature-targeting-functions.all());

    height: 36px;
    min-width: 48px;
    padding-left: 12px;
    padding-right: 12px;

    // Mimicking mdc-button and mdc-button--outlined
    border-width: 1px;
    vertical-align: top;

    display: inline-flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline-width: 0;
    }

    // Style for when element is not on
    &:not(.mdc-segmented-button__segment--selected) {
        @include mdc-button.ink-color(rgba(theme-variables.prop-value(on-surface), .6));
        @include mdc-button.outline-color(rgba(theme-variables.prop-value(on-surface), .12));
        @include mdc-button.container-fill-color(rgba(theme-variables.prop-value(surface), 1));

        // Avoids double borders
        &:not(:last-child) {
            border-right: hidden;
        }
    }

    &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &:last-child {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
}

.mdc-segmented-button__icon {
    width: 24px;
    font-size: 18px;
}

.mdc-segmented-button__icon + .mdc-segmented-button__label{
    padding-left: 6;
}
