//
// Copyright 2021 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

// Selector '.mdc-*' should only be used in this project.
// stylelint-disable selector-class-pattern

@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use '@material/density/functions' as density-functions;
@use '@material/density/variables' as density-variables;
@use '@material/elevation/elevation-theme';
@use '@material/feature-targeting/feature-targeting';
@use '@material/ripple/ripple-theme';
@use '@material/rtl/rtl';
@use '@material/theme/keys';
@use '@material/theme/state';
@use '@material/theme/theme';
@use '@material/theme/theme-color';
@use '@material/tokens/resolvers';

$ripple-target: '.mdc-icon-button__ripple';

$icon-size: 24px !default;
$size: 48px !default;
$minimum-height: 28px !default;
$maximum-height: $size !default;
$container-shape: 50%;
$density-scale: density-variables.$default-scale !default;
$density-config: (
  size: (
    default: $size,
    maximum: $maximum-height,
    minimum: $minimum-height,
  ),
) !default;

$_custom-property-prefix: 'icon-button';

$light-theme: (
  container-color: transparent,
  container-elevation: 0,
  container-height: $size,
  container-shadow-color: null,
  container-shape: $container-shape,
  container-width: $size,
  disabled-container-color: transparent,
  disabled-container-elevation: 0,
  disabled-icon-color: null,
  icon-color: null,
  icon-size: $icon-size,
  focus-container-elevation: 0,
  focus-icon-color: null,
  focus-state-layer-color: theme-color.$on-surface,
  focus-state-layer-opacity: 0.12,
  hover-container-elevation: 0,
  hover-icon-color: null,
  hover-state-layer-color: theme-color.$on-surface,
  hover-state-layer-opacity: 0.04,
  pressed-container-elevation: 0,
  pressed-icon-color: null,
  pressed-state-layer-color: theme-color.$on-surface,
  pressed-state-layer-opacity: 0.1,
);

@mixin theme($theme, $resolver: resolvers.$material) {
  @include theme.validate-theme($light-theme, $theme);

  $theme: _resolve-theme($theme, $resolver: $resolver);
  @include keys.declare-custom-properties(
    $theme,
    $prefix: $_custom-property-prefix
  );
}

@mixin theme-styles($theme, $resolver: resolvers.$material) {
  @include theme.validate-theme($light-theme, $theme);

  $theme: keys.create-theme-properties(
    $theme,
    $prefix: $_custom-property-prefix
  );

  // Container styles
  @include _container-color-with-map(
    (
      default: map.get($theme, container-color),
      disabled: map.get($theme, disabled-container-color),
    )
  );
  @include _container-size(
    $width: map.get($theme, container-width),
    $height: map.get($theme, container-height)
  );
  @include _container-shape(
    $shape: map.get($theme, container-shape) or $container-shape
  );
  @include _container-elevation(
    $resolver,
    $elevation-map: (
      default: map.get($theme, container-elevation),
      disabled: map.get($theme, disabled-container-elevation),
      focus: map.get($theme, focus-container-elevation),
      hover: map.get($theme, hover-container-elevation),
      pressed: map.get($theme, pressed-container-elevation)
    ),
    $shadow-color: map.get($theme, container-shadow-color)
  );

  // Icon styles
  @include _icon-size(map.get($theme, icon-size));
  @include _icon-color-with-map(
    (
      default: map.get($theme, icon-color),
      disabled: map.get($theme, disabled-icon-color),
      focus: map.get($theme, focus-icon-color),
      hover: map.get($theme, hover-icon-color),
      pressed: map.get($theme, pressed-icon-color),
    )
  );

  // States styles
  @include ripple-theme.theme-styles(
    (
      focus-state-layer-color: map.get($theme, focus-state-layer-color),
      focus-state-layer-opacity: map.get($theme, focus-state-layer-opacity),
      hover-state-layer-color: map.get($theme, hover-state-layer-color),
      hover-state-layer-opacity: map.get($theme, hover-state-layer-opacity),
      pressed-state-layer-color: map.get($theme, pressed-state-layer-color),
      pressed-state-layer-opacity: map.get($theme, pressed-state-layer-opacity),
    ),
    $ripple-target: $ripple-target
  );
}

///
/// Sets the density scale for icon button.
///
/// @param {Number | String} $density-scale - Density scale value for component.
///     Supported density scale values range from `-5` to `0`, with `0` being the default.
///
@mixin density($density-scale, $query: feature-targeting.all()) {
  $size: density-functions.prop-value(
    $density-config: $density-config,
    $density-scale: $density-scale,
    $property-name: size,
  );

  @include size($size, $query: $query);

  &.mdc-icon-button--touch {
    @if $density-scale != 0 {
      @include _touch-target-reset($query: $query);
    }
  }
}

///
/// Sets the size of the icon-button.
///
/// @param {Number} $size - Size value for icon-button.
///     Size will set the width, height, and padding for the overall component.
///
@mixin size($size, $query: feature-targeting.all()) {
  $feat-structure: feature-targeting.create-target($query, structure);

  @include feature-targeting.targets($feat-structure) {
    width: $size;
    height: $size;
    padding: math.div($size - $icon-size, 2);
  }
}

///
/// Resets touch target-related styles. This is called from the density mixin to
/// automatically remove the increased touch target, since dense components
/// don't have the same default a11y requirements.
/// @access private
///
@mixin _touch-target-reset($query: feature-targeting.all()) {
  $feat-structure: feature-targeting.create-target($query, structure);

  @include feature-targeting.targets($feat-structure) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mdc-icon-button__touch {
    @include feature-targeting.targets($feat-structure) {
      display: none;
    }
  }
}

///
/// Sets the width, height and padding of icon button. Also changes the size of
/// the icon itself based on button size.
///
/// @param {Number} $width - Width value for icon-button.
/// @param {Number} $height - Height value for icon-button. (default: $width)
/// @param {Number} $padding - Padding value for icon-button. (default: max($width, $height) / 2)
/// @deprecated
///     This mixin provides too much of low level customization.
///     Please use mdc-icon-button-size instead.
///
@mixin icon-size(
  $width,
  $height: $width,
  $padding: math.div(math.max($width, $height), 2),
  $query: feature-targeting.all()
) {
  $feat-structure: feature-targeting.create-target($query, structure);

  @include feature-targeting.targets($feat-structure) {
    width: $width + $padding * 2;
    height: $height + $padding * 2;
    padding: $padding;
    font-size: math.max($width, $height);
  }

  // stylelint-disable-next-line selector-max-type
  svg,
  img {
    @include feature-targeting.targets($feat-structure) {
      width: $width;
      height: $height;
    }
  }
}

///
/// Sets the font color and the ripple color to the provided color value.
/// @param {Color} $color - The desired font and ripple color.
///
@mixin ink-color($color, $query: feature-targeting.all()) {
  @include ink-color_($color, $query: $query);
  @include ripple-theme.states(
    $color,
    $query: $query,
    $ripple-target: $ripple-target
  );
}

///
/// Flips icon only in RTL context.
///
@mixin flip-icon-in-rtl($query: feature-targeting.all()) {
  $feat-structure: feature-targeting.create-target($query, structure);

  .mdc-button__icon {
    @include rtl.rtl {
      @include feature-targeting.targets($feat-structure) {
        @include rtl.ignore-next-line();
        transform: rotate(180deg);
      }
    }
  }
}

///
/// Sets the font color to the provided color value for a disabled icon button.
/// @param {Color} $color - The desired font color.
///
@mixin disabled-ink-color($color, $query: feature-targeting.all()) {
  @include if-disabled_ {
    @include ink-color_($color, $query: $query);
  }
}

///
/// Includes ad-hoc high contrast mode support.
///
@mixin high-contrast-mode-shim($query: feature-targeting.all()) {
  $feat-structure: feature-targeting.create-target($query, structure);

  @include feature-targeting.targets($feat-structure) {
    // TODO(b/175806874): Use the DOM border mixin after the ripple is moved
    // away from :before to a dedicated element.
    outline: solid 3px transparent;

    &:focus {
      outline: double 5px transparent;
    }
  }
}

///
/// Sets the font color to the provided color value. This can be wrapped in
/// a state qualifier such as `mdc-icon-button-if-disabled_`.
/// @access private
///
@mixin ink-color_($color, $query: feature-targeting.all()) {
  $feat-color: feature-targeting.create-target($query, color);

  @include feature-targeting.targets($feat-color) {
    @include theme.property(color, $color);
  }
}

///
/// Sets the container fill color to the given color.
/// @param {map} $color-map - The desired container fill color,
///     specified as a map of colors with states {default, disabled} as keys.
/// @access private
///
@mixin _container-color-with-map($color-map) {
  $default: state.get-default-state($color-map);
  @if $default {
    @include _container-color($color: $default);
  }

  $disabled: state.get-disabled-state($color-map);
  @if $disabled {
    &:disabled {
      @include _container-color($color: $disabled);
    }
  }
}

@mixin _container-color($color) {
  @include theme.property(background-color, $color);
}

@mixin _container-size($width, $height) {
  @include theme.property(height, $height);
  @include theme.property(width, $width);
}

@mixin _container-shape($shape) {
  @include theme.property(border-radius, $shape);
}

@mixin _container-elevation($resolver, $shadow-color, $elevation-map) {
  $elevation-resolver: map.get($resolver, elevation);

  @if $shadow-color {
    $default: state.get-default-state($elevation-map);
    @if $default != null {
      @include elevation-theme.with-resolver(
        $elevation-resolver,
        $elevation: $default,
        $shadow-color: $shadow-color
      );
    }

    $disabled: state.get-disabled-state($elevation-map);
    @if $disabled != null {
      &:disabled {
        @include elevation-theme.with-resolver(
          $elevation-resolver,
          $elevation: $disabled,
          $shadow-color: $shadow-color
        );
      }
    }

    $focus: state.get-focus-state($elevation-map);
    @if $focus != null {
      @include ripple-theme.focus {
        @include elevation-theme.with-resolver(
          $elevation-resolver,
          $elevation: $focus,
          $shadow-color: $shadow-color
        );
      }
    }

    $hover: state.get-hover-state($elevation-map);
    @if $hover != null {
      &:hover {
        @include elevation-theme.with-resolver(
          $elevation-resolver,
          $elevation: $hover,
          $shadow-color: $shadow-color
        );
      }
    }

    $pressed: state.get-pressed-state($elevation-map);
    @if $pressed != null {
      @include ripple-theme.active {
        @include elevation-theme.with-resolver(
          $elevation-resolver,
          $elevation: $pressed,
          $shadow-color: $shadow-color
        );
      }
    }
  }
}

@mixin _icon-size($size) {
  @include theme.property(font-size, $size);

  svg,
  img {
    @include theme.property(width, $size);
    @include theme.property(height, $size);
  }
}

///
/// Sets the icon color to the given color.
/// @param {map} $color-map - The desired icon color, specified as a map of
///     colors with states {default, disabled, focus, hover, pressed} as keys.
/// @access private
///
@mixin _icon-color-with-map($color-map) {
  @include ink-color_(state.get-default-state($color-map));

  $disabled: state.get-disabled-state($color-map);
  @if $disabled {
    &:disabled {
      @include ink-color_($disabled);
    }
  }

  $focus: state.get-focus-state($color-map);
  @if $focus {
    @include ripple-theme.focus {
      @include ink-color_($focus);
    }
  }

  $hover: state.get-hover-state($color-map);
  @if $hover {
    &:hover {
      @include ink-color_($hover);
    }
  }

  $pressed: state.get-pressed-state($color-map);
  @if $pressed {
    @include ripple-theme.active {
      @include ink-color_($pressed);
    }
  }
}

@mixin _states-colors($color-map) {
  // TODO(b/191298796): support focused & pressed key colors.

  $hover: map.get($color-map, hover);
  @if $hover {
    @include ripple-theme.states-base-color(
      $color: $hover,
      $ripple-target: $ripple-target
    );
  }
}

///
/// Helps style the icon button in its disabled state.
/// @access private
///
@mixin if-disabled_ {
  &:disabled {
    @content;
  }
}

@function _resolve-theme($theme, $resolver) {
  @return map.merge(
    $theme,
    _resolve-theme-elevation(
      $theme,
      map.get($resolver, elevation),
      container-elevation,
      disabled-container-elevation,
      focus-container-elevation,
      hover-container-elevation,
      pressed-container-elevation
    )
  );
}

@function _resolve-theme-elevation($theme, $resolver, $keys...) {
  @if $resolver == null {
    @return $theme;
  }

  @each $key in $keys {
    // Resolve the value for each state key.
    $resolved-value: map.get(
      meta.call(
        $resolver,
        $elevation: map.get($theme, $key),
        $shadow-color: map.get($theme, container-shadow-color)
      ),
      shadow
    );

    // Update the theme with the resolved value.
    $theme: map.set($theme, $key, $resolved-value);
  }

  @return $theme;
}
