//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "../../../../packages/mdc-checkbox/mixins";
@import "../mixins";

$custom-checkbox-color: crimson;

.test-cell--checkbox {
  @include test-cell-size(91);
}

.custom-checkbox--container-colors {
  @include mdc-checkbox-focus-indicator-color($custom-checkbox-color);
  @include mdc-checkbox-container-colors(
    $marked-stroke-color: $custom-checkbox-color,
    $marked-fill-color: $custom-checkbox-color
  );
}

.custom-checkbox--ink-color {
  @include mdc-checkbox-ink-color($custom-checkbox-color);
}

.test-checkbox-touch-dimension {
  @include mdc-checkbox-touch-dimension(48px);
}
