@use "../mixins" as tab-scroller;
@use "@material/feature-targeting/feature-targeting";

@mixin test($query) {
  .test {
    @include tab-scroller.core-styles($query: $query);
  }
}

// This shouldn't output any CSS.
@include test(feature-targeting.any());
