//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/animation/variables";
@import "@material/base/mixins";
@import "@material/rtl/mixins";
@import "./mixins";
@import "./variables";

// Notched Outline is intended for use by multiple components, but its styles should only be emitted once when bundled
@include mdc-base-emit-once("mdc-notched-outline") {
  .mdc-notched-outline,
  .mdc-notched-outline__idle {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .mdc-notched-outline {
    transition: opacity $mdc-notched-outline-transition-duration $mdc-animation-standard-curve-timing-function;
    opacity: 0;
    text-align: left;
    overflow: hidden;

    @include mdc-rtl {
      text-align: right;
    }

    // stylelint-disable selector-max-type
    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    // stylelint-enable selector-max-type
  }

  .mdc-notched-outline__idle {
    transition:
      opacity $mdc-notched-outline-transition-duration $mdc-animation-standard-curve-timing-function,
      border-color $mdc-notched-outline-transition-duration $mdc-animation-standard-curve-timing-function;
    border: 1px solid;
    opacity: 1;
  }

  .mdc-notched-outline__path {
    stroke-width: 1px;
    transition:
      stroke $mdc-notched-outline-transition-duration $mdc-animation-standard-curve-timing-function,
      stroke-width $mdc-notched-outline-transition-duration $mdc-animation-standard-curve-timing-function;
    fill: transparent;
  }

  .mdc-notched-outline--notched {
    opacity: 1;
  }

  .mdc-notched-outline--notched ~ .mdc-notched-outline__idle {
    opacity: 0;
  }
}
