@forward "@material/base/mixins" as mdc-base-*;
@forward "@material/theme/variables" as mdc-theme-*;
@forward "@material/rtl/variables" as mdc-rtl-*;
@forward "@material/shape/variables" as mdc-shape-*;
@forward "@material/animation/variables" as mdc-animation-*;
@forward "@material/typography/variables" as mdc-typography-*;
@forward "@material/floating-label/variables" as mdc-floating-label-*;
@forward "variables" as mdc-notched-outline-*;
@forward "@material/theme/mixins" as mdc-theme-*;
@forward "@material/rtl/mixins" as mdc-* hide mdc-property-, mdc-reflexive, mdc-reflexive-box, mdc-reflexive-position, mdc-reflexive-property;
@forward "@material/rtl/mixins" as mdc-rtl-* hide mdc-rtl-rtl;
@forward "@material/shape/mixins" as mdc-shape-*;
@forward "@material/typography/mixins" as mdc-* hide mdc-base, mdc-baseline-bottom, mdc-baseline-strut-, mdc-baseline-top, mdc-core-styles, mdc-overflow-ellipsis;
@forward "@material/typography/mixins" as mdc-typography-* hide mdc-typography-typography;
@forward "@material/floating-label/mixins" as mdc-floating-label-*;
@forward "mixins" as mdc-notched-outline-*;
@forward "@material/feature-targeting/functions" as mdc-feature-*;
@forward "@material/theme/functions" as mdc-theme-*;
@forward "@material/shape/functions" as mdc-shape-*;
@forward "@material/typography/functions" as mdc-typography-*;
@forward "mdc-notched-outline";
