@forward "@material/feature-targeting" as mdc-feature-*;
@forward "@material/rtl" as mdc-rtl-* hide mdc-rtl-rtl;
@forward "@material/rtl" as mdc-* hide mdc-property-, mdc-reflexive, mdc-reflexive-box, mdc-reflexive-position, mdc-reflexive-property;
@forward "@material/theme" as mdc-theme-*;
@forward "@material/typography" as mdc-typography-* hide mdc-typography-typography;
@forward "@material/typography" as mdc-* hide mdc-base, mdc-baseline-bottom, mdc-baseline-strut-, mdc-baseline-top, mdc-core-styles, mdc-overflow-ellipsis, mdc-get-global-variable-, mdc-set-styles-, mdc-get-letter-spacing-;
@forward "./index" as mdc-form-field-*;
