<footer class="report-toolbar">
  <div class="report-toolbar__column report-toolbar__column--hidden" id="report-toolbar__approval-column">
    <div class="report-toolbar__column-content">
      <button class="report-toolbar__button report-toolbar__button--approve"
              id="report-toolbar__approve-selected-button"
              onclick="mdc.reportUi.approveSelected()">
        ✔ Approve
      </button>
      <button class="report-toolbar__button report-toolbar__button--retry"
              id="report-toolbar__retry-selected-button"
              onclick="mdc.reportUi.retrySelected()">
        ✘ Retry
      </button>
    </div>
    <span class="report-toolbar__column-label">
      <span id="report-toolbar__selected-count"></span>
      <span>selected screenshots</span>
    </span>
  </div>
  <div class="report-toolbar__column report-toolbar__column--hidden" id="report-toolbar__selection-column">
    <span class="report-toolbar__column-label">Select:</span>
    <div class="report-toolbar__column-content">
      <button class="report-toolbar__button"
              id="report-toolbar__select-all-button"
              onclick="mdc.reportUi.selectAll()">
        ☑ All
      </button>
      <button class="report-toolbar__button"
              id="report-toolbar__select-none-button"
              onclick="mdc.reportUi.selectNone()">
        ☐ None
      </button>
      <button class="report-toolbar__button"
              id="report-toolbar__select-inverse-button"
              onclick="mdc.reportUi.selectInverse()">
        ↷ Inverse
      </button>
      <button class="report-toolbar__button"
              id="report-toolbar__select-unreviewed-button"
              onclick="mdc.reportUi.selectUnreviewed()">
        ? Unreviewed
      </button>
    </div>
  </div>
  <div class="report-toolbar__column">
    <span class="report-toolbar__column-label">Collapse:</span>
    <div class="report-toolbar__column-content">
      <button class="report-toolbar__button" onclick="mdc.reportUi.collapseAll()">
        ▶ All
      </button>
      <button class="report-toolbar__button" onclick="mdc.reportUi.collapseNone()">
        ▼ None
      </button>
      <button class="report-toolbar__button" onclick="mdc.reportUi.collapseImages()">
        🌅 Images
      </button>
    </div>
  </div>
</footer>
