<aside class="report-cli-modal" id="report-cli-modal" data-state="closed">
  <div class="report-cli-modal__window">
    <div class="report-cli-modal__title">
      CLI Command
    </div>
    <div class="report-cli-modal__content">
      <textarea class="report-cli-modal__command" id="report-cli-modal__command" readonly></textarea>
    </div>
    <div class="report-cli-modal__footer">
      <button class="report-cli-modal__button report-cli-modal__button--copy"
              id="report-cli-modal__button--copy">Copy</button>
      <button class="report-cli-modal__button report-cli-modal__button--close"
              id="report-cli-modal__button--close">Close</button>
    </div>
  </div>
</aside>
