<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{getPageTitle}} - Screenshot Test Report - MDC Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../out/report/report.css">
  </head>
  <body class="report-body">
    <h1>
      Screenshot Test Report for
      <a href="https://github.com/material-components/material-components-web" target="_blank">MDC Web</a>
    </h1>

    {{> metadata}}
    {{> collections}}
    {{> footer}}
    {{> modal}}

    <!-- TODO(acdvorak): Download clipboard.js and browser icons to the repo instead of using a CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script src="../infra/lib/duration.js"></script>
    <script src="../out/report/report.js"></script>
  </body>
</html>
