<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{getPageTitle}} - Screenshot Test Report - MDC Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../out/report/report.css">
  </head>
  <body class="report-body">
    <h1>
      Screenshot Test Report for
      <a href="https://github.com/material-components/material-components-web" target="_blank">MDC Web</a>
    </h1>

    {{> metadata}}

    {{> collection
        heading="Changed"
        screenshotPageMap=screenshots.changed_screenshot_page_map
        screenshotArray=screenshots.changed_screenshot_list}}
    {{> collection
        heading="Added"
        screenshotPageMap=screenshots.added_screenshot_page_map
        screenshotArray=screenshots.added_screenshot_list}}
    {{> collection
        heading="Removed"
        screenshotPageMap=screenshots.removed_screenshot_page_map
        screenshotArray=screenshots.removed_screenshot_list}}
    {{> collection
        heading="Skipped"
        screenshotPageMap=screenshots.skipped_screenshot_page_map
        screenshotArray=screenshots.skipped_screenshot_list}}
    {{> collection
        heading="Unchanged"
        screenshotPageMap=screenshots.unchanged_screenshot_page_map
        screenshotArray=screenshots.unchanged_screenshot_list}}

    <!-- TODO(acdvorak): Download clipboard.js and browser icons to the repo instead of using a CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script src="./report.js"></script>
  </body>
</html>
