@use '../mixins' as tab-bar;
@use '@material/feature-targeting/feature-targeting';

@mixin test($query) {
  .test {
    @include tab-bar.core-styles($query: $query);
    @include tab-bar.density(0, $query: $query);
    @include tab-bar.stacked-density(0, $query: $query);
    @include tab-bar.tab-scroller-transition(0, $query: $query);
  }
}

// This shouldn't output any CSS.
@include test(feature-targeting.any());
