//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use "@material/rtl/mixins" as rtl-mixins;
@use "@material/theme/variables" as variables2;
@use "@material/theme/mixins" as theme-mixins;
@use "@material/feature-targeting/functions";
@use "@material/feature-targeting/mixins" as feature-targeting-mixins;
@use "@material/animation/variables" as animation-variables;
@use "@material/typography/mixins" as typography-mixins;
@use "@sass-collective/sass-rem";
@use "./variables";

@mixin core-styles($query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);
  $feat-animation: functions.create-target($query, animation);

  // postcss-bem-linter: define floating-label
  .mdc-floating-label {
    @include typography-mixins.typography(subtitle1, $exclude-props: (line-height), $query: $query);

    @include feature-targeting-mixins.targets($feat-structure) {
      position: absolute;
      /* @noflip */
      left: 0;
      /* @noflip */
      transform-origin: left top;
      line-height: sass-rem.rem(18.4);
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: text;
      overflow: hidden;

      /* @alternate */
      // Force the label into its own layer to prevent visible layer promotion adjustments
      // when the ripple is activated behind it.
      will-change: transform;

      @include rtl-mixins.rtl {
        /* @noflip */
        right: 0;
        /* @noflip */
        left: auto;
        /* @noflip */
        transform-origin: right top;
        /* @noflip */
        text-align: right;
      }
    }

    @include feature-targeting-mixins.targets($feat-animation) {
      transition:
        transform variables.$transition-duration animation-variables.$standard-curve-timing-function,
        color variables.$transition-duration animation-variables.$standard-curve-timing-function;
    }
  }

  .mdc-floating-label--float-above {
    @include feature-targeting-mixins.targets($feat-structure) {
      cursor: auto;
    }
  }

  @at-root {
    @include float-position(variables.$position-y, $query: $query);
    @include shake-animation(standard, $query: $query);
  }

  @include shake-keyframes(standard, variables.$position-y, $query: $query);
}

@mixin ink-color($color, $query: functions.all()) {
  $feat-color: functions.create-target($query, color);

  @include feature-targeting-mixins.targets($feat-color) {
    @include theme-mixins.prop(color, $color);
  }
}

// Used for textarea in case of scrolling
@mixin fill-color($color, $query: functions.all()) {
  $feat-color: functions.create-target($query, color);

  @include feature-targeting-mixins.targets($feat-color) {
    @include theme-mixins.prop(background-color, $color);
  }
}

@mixin shake-keyframes(
  $modifier, $positionY, $positionX: 0%, $scale: .75, $query: functions.all()) {
  $feat-animation: functions.create-target($query, animation);

  @include feature-targeting-mixins.targets($feat-animation) {
    @keyframes mdc-floating-label-shake-float-above-#{$modifier} {
      0% {
        transform: translateX(calc(0 - #{$positionX})) translateY(-#{$positionY}) scale(#{$scale});
      }

      33% {
        animation-timing-function: cubic-bezier(.5, 0, .701732, .495819);
        transform: translateX(calc(4% - #{$positionX})) translateY(-#{$positionY}) scale(#{$scale});
      }

      66% {
        animation-timing-function: cubic-bezier(.302435, .381352, .55, .956352);
        transform: translateX(calc(-4% - #{$positionX})) translateY(-#{$positionY}) scale(#{$scale});
      }

      100% {
        transform: translateX(calc(0 - #{$positionX})) translateY(-#{$positionY}) scale(#{$scale});
      }
    }
  }
}

@mixin float-position($positionY, $positionX: 0%, $scale: .75, $query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);

  .mdc-floating-label--float-above {
    @include feature-targeting-mixins.targets($feat-structure) {
      @if $positionX > 0 or $positionX < 0 {
        transform: translateY(-1 * $positionY) translateX(-1 * $positionX) scale($scale);

        @include rtl-mixins.rtl {
          transform: translateY(-1 * $positionY) translateX($positionX) scale($scale);
        }
      } @else {
        transform: translateY(-1 * $positionY) scale($scale);
      }
    }
  }
}

@mixin shake-animation($modifier, $query: functions.all()) {
  $feat-animation: functions.create-target($query, animation);

  .mdc-floating-label--shake {
    @include feature-targeting-mixins.targets($feat-animation) {
      animation: mdc-floating-label-shake-float-above-#{$modifier} 250ms 1;
    }
  }
}

@mixin max-width($max-width, $query: functions.all()) {
  $feat-structure: functions.create-target($query, structure);

  @include feature-targeting-mixins.targets($feat-structure) {
    max-width: $max-width;
  }
}
