//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use "@material/feature-targeting/functions" as feature-targeting-functions;
@use "@material/feature-targeting/mixins" as feature-targeting-mixins;
@use "@material/theme/functions" as theme-functions;
@use "@material/theme/mixins" as theme-mixins;
@use "@material/theme/variables" as theme-variables; // for mdc-theme-prop-value
@use "@material/typography/mixins" as typography-mixins;
@use "@material/rtl/mixins" as rtl-mixins;
@use "./variables";
@use "./keyframes";

//
// Public
//
@mixin core-styles($query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);
  $feat-animation: feature-targeting-functions.create-target($query, animation);

  // postcss-bem-linter: define slider

  @include feature-targeting-mixins.targets($feat-animation) {
    @include keyframes.emphasize-keyframes_;
  }

  .mdc-slider {
    @include color-accessible(secondary, $query: $query);

    &--disable-touch-action {
      @include feature-targeting-mixins.targets($feat-structure) {
        touch-action: none;
      }
    }

    &--disabled {
      $disabled-color: #9a9a9a;

      @include highlight-color_($disabled-color, $query: $query);
      @include rail-color_($disabled-color, $query: $query);
      @include rail-tick-mark-color_($disabled-color, $query: $query);
      @include thumb-color_($disabled-color, $query: $query);
      @include thumb-stroke-cutout_(white, $query: $query);

      @include feature-targeting-mixins.targets($feat-structure) {
        cursor: auto;
      }
    }

    @include feature-targeting-mixins.targets($feat-structure) {
      position: relative;
      width: 100%;
      height: 48px;
      cursor: pointer;
      touch-action: pan-x;
      -webkit-tap-highlight-color: rgba(black, 0);

      &:focus {
        outline: none;
      }
    }

    @include track_($query: $query);
    @include track-marker_($query: $query);
    @include thumb_($query: $query);
    @include focus-ring_($query: $query);
    @include pin_($query: $query);
  }

  .mdc-slider--active {
    .mdc-slider__thumb {
      @include feature-targeting-mixins.targets($feat-structure) {
        transform: scale3d(1, 1, 1);
      }
    }
  }

  .mdc-slider--focus {
    .mdc-slider__thumb {
      @include feature-targeting-mixins.targets($feat-animation) {
        animation: mdc-slider-emphasize 266.67ms linear;
      }
    }

    .mdc-slider__focus-ring {
      @include feature-targeting-mixins.targets($feat-structure) {
        transform: scale3d(1.55, 1.55, 1.55);
        opacity: .25;
      }
    }
  }

  .mdc-slider--in-transit {
    .mdc-slider__thumb {
      @include feature-targeting-mixins.targets($feat-animation) {
        transition-delay: 140ms;
      }
    }
  }

  // NOTE(traviskaufman): There are multiple cases where we want the slider to
  // transition seamlessly even though we're jumping to a spot. The selectors
  // below highlight these cases. The selectors are supplemented by a comment
  // denoting their semantic meaning within the slider.

  // When a user clicks somewhere on the track that is not directly the slider
  // thumb container, we transition to the place where the user clicked.
  .mdc-slider--in-transit,
  // When a user is using the arrow keys to modify the value of the slider rather
  // than dragging with a pointer, we transition from one value to another.
  .mdc-slider:focus:not(.mdc-slider--active) {
    .mdc-slider__thumb-container,
    .mdc-slider__track {
      @include feature-targeting-mixins.targets($feat-animation) {
        transition: transform 80ms ease;
      }
    }
  }

  .mdc-slider--discrete {
    // stylelint-disable plugin/selector-bem-pattern
    &.mdc-slider--active {
      .mdc-slider__thumb {
        @include feature-targeting-mixins.targets($feat-structure) {
          transform: scale(calc(12 / 21));
        }
      }

      .mdc-slider__pin {
        @include feature-targeting-mixins.targets($feat-structure) {
          transform: rotate(-45deg) scale(1) translate(19px, -20px);
        }
      }
    }

    &.mdc-slider--focus {
      .mdc-slider__thumb {
        @include feature-targeting-mixins.targets($feat-animation) {
          animation: none;
        }
      }
    }

    &.mdc-slider--display-markers {
      .mdc-slider__track-marker-container {
        @include feature-targeting-mixins.targets($feat-structure) {
          visibility: visible;
        }
      }
    }
    // stylelint-enable plugin/selector-bem-pattern
  }

  // postcss-bem-linter: end
}

@mixin highlight-color($color, $query: feature-targeting-functions.all()) {
  &:not(.mdc-slider--disabled) {
    @include highlight-color_($color, $query: $query);
  }
}

@mixin rail-color(
  $color,
  $opacity: variables.$baseline-rail-opacity,
  $query: feature-targeting-functions.all()
) {
  &:not(.mdc-slider--disabled) {
    @include rail-color_($color, $opacity, $query: $query);
  }
}

@mixin rail-tick-mark-color($color, $query: feature-targeting-functions.all()) {
  &:not(.mdc-slider--disabled) {
    @include rail-tick-mark-color_($color, $query: $query);
  }
}

@mixin thumb-color($color, $query: feature-targeting-functions.all()) {
  &:not(.mdc-slider--disabled) {
    @include thumb-color_($color, $query: $query);
  }
}

@mixin focus-halo-color($color, $query: feature-targeting-functions.all()) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  &:not(.mdc-slider--disabled) {
    .mdc-slider__focus-ring {
      @include feature-targeting-mixins.targets($feat-color) {
        @include theme-mixins.prop(background-color, $color);
      }
    }
  }
}

@mixin value-pin-ink-color($color, $query: feature-targeting-functions.all()) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  &:not(.mdc-slider--disabled) {
    .mdc-slider__pin {
      @include feature-targeting-mixins.targets($feat-color) {
        @include theme-mixins.prop(color, $color);
      }
    }
  }
}

@mixin value-pin-fill-color($color, $query: feature-targeting-functions.all()) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  &:not(.mdc-slider--disabled) {
    .mdc-slider__pin {
      @include feature-targeting-mixins.targets($feat-color) {
        @include theme-mixins.prop(background-color, $color);
      }
    }
  }
}

@mixin value-pin-fill-color-accessible(
  $color,
  $query: feature-targeting-functions.all()
) {
  $color-value: theme-variables.prop-value($color);
  $ink-color: if(
    theme-functions.tone($color-value) == 'light',
    text-high-on-light,
    text-high-on-dark
  );

  @include value-pin-fill-color($color, $query: $query);
  @include value-pin-ink-color($ink-color, $query: $query);
}

// NOTE: This mixin sets the color of ALL customizable elements in the slider. If new elements are added, this mixin
// should be updated to cover those additional elements.
@mixin color-accessible($color, $query: feature-targeting-functions.all()) {
  @include highlight-color($color, $query: $query);
  @include rail-color($color, $query: $query);
  @include rail-tick-mark-color($color, $query: $query);
  @include thumb-color($color, $query: $query);
  @include focus-halo-color($color, $query: $query);
  @include value-pin-fill-color-accessible($color, $query: $query);
}

//
// Private
//

@mixin track_($query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);
  $feat-animation: feature-targeting-functions.create-target($query, animation);

  &__track-container {
    @include feature-targeting-mixins.targets($feat-structure) {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 2px;
      overflow: hidden;
    }

    &::after {
      @include feature-targeting-mixins.targets($feat-structure) {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
      }
    }
  }

  &__track {
    @include feature-targeting-mixins.targets($feat-structure) {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin: left top;

      @include rtl-mixins.rtl('.mdc-slider') {
        transform-origin: right top;
      }
    }

    @include feature-targeting-mixins.targets($feat-animation) {
      will-change: transform;
    }
  }
}

@mixin track-marker_($query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);

  // stylelint-disable-next-line selector-max-type
  &__track-marker-container {
    @include feature-targeting-mixins.targets($feat-structure) {
      display: flex;
      margin-right: 0;
      margin-left: -1px;
      visibility: hidden;

      @include rtl-mixins.rtl('.mdc-slider') {
        margin-right: -1px;
        margin-left: 0;
      }

      // Last marker at the very end of the slider (right-most in LTR, left-most in RTL)
      // stylelint-disable-next-line selector-max-type
      &::after {
        display: block;
        width: 2px;
        height: 2px;
        content: '';
      }
    }
  }

  &__track-marker {
    @include feature-targeting-mixins.targets($feat-structure) {
      flex: 1;

      // stylelint-disable-next-line selector-max-type
      &::after {
        display: block;
        width: 2px;
        height: 2px;
        content: '';
      }

      // stylelint-disable-next-line selector-max-type
      &:first-child::after {
        width: 3px;
      }
    }
  }
}

@mixin thumb_($query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);
  $feat-animation: feature-targeting-functions.create-target($query, animation);

  &__thumb-container {
    @include feature-targeting-mixins.targets($feat-structure) {
      position: absolute;
      top: 15px;
      left: 0;
      width: 21px;
      // Ensure that touching anywhere within the Y-coordinate space of thumb
      // is considered "clicking on the thumb".
      height: 100%;
      user-select: none;
    }

    @include feature-targeting-mixins.targets($feat-animation) {
      will-change: transform;
    }
  }

  &__thumb {
    @include feature-targeting-mixins.targets($feat-structure) {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(.571);
      stroke-width: 3.5;
    }

    @include feature-targeting-mixins.targets($feat-animation) {
      transition: transform 100ms ease-out, fill 100ms ease-out,
        stroke 100ms ease-out;
    }
  }
}

@mixin focus-ring_($query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);
  $feat-animation: feature-targeting-functions.create-target($query, animation);

  &__focus-ring {
    @include feature-targeting-mixins.targets($feat-structure) {
      width: 21px;
      height: 21px;
      border-radius: 50%;
      opacity: 0;
    }

    @include feature-targeting-mixins.targets($feat-animation) {
      transition: transform 266.67ms ease-out, opacity 266.67ms ease-out,
        background-color 266.67ms ease-out;
    }
  }
}

@mixin pin_($query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);
  $feat-animation: feature-targeting-functions.create-target($query, animation);

  &__pin {
    @include feature-targeting-mixins.targets($feat-structure) {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      margin-top: -2px;
      margin-left: -2px;
      transform: rotate(-45deg) scale(0) translate(0, 0);
      border-radius: 50% 50% 50% 0%;

      // Ensuring that the pin is higher than the thumb in the stacking order
      // removes some rendering jank observed in Chrome.
      z-index: 1;
    }

    @include feature-targeting-mixins.targets($feat-animation) {
      transition: transform 100ms ease-out;
    }
  }

  &__pin-value-marker {
    @include typography-mixins.typography(body2, $query: $query);

    @include feature-targeting-mixins.targets($feat-structure) {
      transform: rotate(45deg);
    }
  }
}

@mixin highlight-color_($color, $query: feature-targeting-functions.all()) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  .mdc-slider__track {
    @include feature-targeting-mixins.targets($feat-color) {
      @include theme-mixins.prop(background-color, $color);
    }
  }
}

@mixin rail-color_(
  $color,
  $opacity: variables.$baseline-rail-opacity,
  $query: feature-targeting-functions.all()
) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  .mdc-slider__track-container::after {
    @include feature-targeting-mixins.targets($feat-color) {
      @include theme-mixins.prop(background-color, $color);

      opacity: $opacity;
    }
  }
}

@mixin rail-tick-mark-color_(
  $color,
  $query: feature-targeting-functions.all()
) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  .mdc-slider__track-marker-container {
    @include feature-targeting-mixins.targets($feat-color) {
      @include theme-mixins.prop(background-color, $color);
    }
  }
}

@mixin thumb-color_($color, $query: feature-targeting-functions.all()) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  .mdc-slider__thumb {
    @include feature-targeting-mixins.targets($feat-color) {
      @include theme-mixins.prop(fill, $color);
      @include theme-mixins.prop(stroke, $color);
    }
  }
}

@mixin thumb-stroke-cutout_($color, $query: feature-targeting-functions.all()) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  .mdc-slider__thumb {
    @include feature-targeting-mixins.targets($feat-color) {
      /* @alternate */
      stroke: $color;
      // stylelint-disable-next-line declaration-block-no-duplicate-properties
      stroke: var(--mdc-slider-bg-color-behind-component, $color);
    }
  }
}
