//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/rtl/mixins";
@import "@material/list/mixins";
@import "@material/ripple/common";
@import "@material/ripple/mixins";
@import "./variables";
@import "./mixins";

// Customize the menu-surface and contained list to match the mdc-menu styles.
.mdc-menu {
  @include mdc-list-item-meta-ink-color(text-primary-on-background);
  @include mdc-list-item-graphic-ink-color(text-primary-on-background);

  min-width: $mdc-menu-min-width;

  .mdc-list-divider {
    margin: 8px 0;
  }

  .mdc-list-item {
    cursor: pointer;
    user-select: none;
  }

  .mdc-list-item--disabled {
    cursor: auto;
  }
}

// postcss-bem-linter: define menu
.mdc-menu__selection-group {
  padding: 0;
  fill: currentColor;

  .mdc-list-item {
    @include mdc-rtl-reflexive-box(padding, left, 56px);
  }
}

.mdc-menu__selection-group-icon {
  @include mdc-rtl-reflexive-position(left, 16px);

  display: none;
  position: absolute;
}

// stylelint-disable-next-line plugin/selector-bem-pattern
.mdc-menu-item--selected .mdc-menu__selection-group-icon {
  display: inline;
}

// postcss-bem-linter: end
