@forward "@material/animation" as mdc-animation-* hide mdc-animation-enter, mdc-animation-exit-permanent, mdc-animation-exit-temporary, mdc-animation-standard;
@forward "./index" as mdc-line-ripple-* hide mdc-line-ripple-core-styles, mdc-line-ripple-color;
