//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

// stylelint-disable selector-class-pattern --
// Selector '.mdc-*' should only be used in this project.

@use '@material/feature-targeting/feature-targeting';
@use '@material/theme/theme';
@use './functions';
@use './line-ripple-theme';

// Public

@mixin core-styles($query: feature-targeting.all()) {
  @include static-styles($query);
  @include line-ripple-theme.theme-styles($query);
}

@mixin static-styles($query: feature-targeting.all()) {
  $feat-structure: feature-targeting.create-target($query, structure);

  // postcss-bem-linter: define line-ripple
  .mdc-line-ripple {
    @include feature-targeting.targets($feat-structure) {
      &::before,
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom-style: solid;
        content: '';
      }

      &::before {
        z-index: 1;
      }

      &::after {
        transform: scaleX(0);
        opacity: 0;
        z-index: 2;
      }
    }
  }

  .mdc-line-ripple--active::after {
    @include feature-targeting.targets($feat-structure) {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  .mdc-line-ripple--deactivating::after {
    @include feature-targeting.targets($feat-structure) {
      opacity: 0;
    }
  }
}
