@import "@material/ripple/mixins";
@import "@material/theme/mixins";
@import "@material/typography/mixins";

// TODO:
// - differentiate between small view and big view
// - text wrap: seems impossible for now
// - scrolling tabs

.mdc-tabs {
    display: block;
    width: 100%;
}

.mdc-tabs__tab-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mdc-tabs__tab {
    @include mdc-typography(body2);
    @include mdc-theme-prop(background-color, primary);
    color: rgba(255, 255, 255, 0.7);

    position: relative;
    display: inline-block;
    float: left;

    // only if fixed tab
    width: 100%;
    height: 48px;
    padding: 0 24px;

    max-width: 264px;
    min-width: 160px;

    font-size: 14px;
    font-weight: 500;

    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;

    user-select: none;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    // to include padding and border into size calculation
    box-sizing: border-box;

    &--active {
        @include mdc-theme-prop(color, text-primary-on-primary);
    }
}

.mdc-tabs__tab.mdc-ripple-upgraded {
    @include mdc-ripple-base;
    @include mdc-ripple-bg((pseudo: "::before"));
    @include mdc-ripple-fg((pseudo: "::after"));
}

.mdc-tabs__panel {
    display: none;

    &--active {
        display: inline-block;
    }
}

.mdc-tabs__ink-bar {
    @include mdc-theme-prop(background-color, accent);
    height: 2px;
    display: block;
    position: absolute;
    transition: left 0.25s ease-in-out, right 0.75s ease-in-out;
}
