@forward "../../animation/variables" as mdc-animation-*;
@forward "../../ripple/variables" as mdc-* hide $mdc-dark-ink-opacities, $mdc-fade-in-duration, $mdc-fade-out-duration, $mdc-light-ink-opacities, $mdc-pressed-dark-ink-opacity, $mdc-pressed-light-ink-opacity, $mdc-translate-duration;
@forward "../../ripple/variables" as mdc-ripple-* hide $mdc-ripple-states-wash-duration;
@forward "../../theme/variables" as mdc-theme-*;
@forward "../../density/variables" as mdc-density-*;
@forward "../../checkbox/variables" as mdc-checkbox-*;
@forward "../../base/mixins" as mdc-base-*;
@forward "../../feature-targeting/mixins" as mdc-feature-*;
@forward "../../elevation/variables" as mdc-elevation-*;
@forward "../../rtl/variables" as mdc-rtl-*;
@forward "../../touch-target/variables" as mdc-touch-target-*;
@forward "../../typography/variables" as mdc-typography-*;
@forward "../../shape/variables" as mdc-shape-*;
@forward "../variables" as mdc-chip-*;
@forward "../mixins" as mdc-chip-*;
@forward "../../theme/mixins" as mdc-theme-*;
@forward "../../elevation/mixins" as mdc-* hide mdc-core-styles, mdc-overlay-common, mdc-overlay-dimensions, mdc-overlay-fill-color, mdc-overlay-opacity, mdc-overlay-selector-, mdc-overlay-surface-position, mdc-shadow;
@forward "../../elevation/mixins" as mdc-elevation-* hide mdc-elevation-elevation;
@forward "../../ripple/keyframes" as mdc-ripple-*;
@forward "../../ripple/mixins" as mdc-* hide mdc-common, mdc-core-styles, mdc-radius-bounded, mdc-radius-unbounded, mdc-surface, mdc-target-common, mdc-target-selector;
@forward "../../ripple/mixins" as mdc-ripple-* hide mdc-ripple-states, mdc-ripple-states-activated, mdc-ripple-states-base-color, mdc-ripple-states-focus-opacity, mdc-ripple-states-focus-opacity-properties-, mdc-ripple-states-hover-opacity, mdc-ripple-states-interactions-, mdc-ripple-states-opacities, mdc-ripple-states-press-opacity, mdc-ripple-states-selected;
@forward "../../rtl/mixins" as mdc-* hide mdc-property-, mdc-reflexive, mdc-reflexive-box, mdc-reflexive-position, mdc-reflexive-property;
@forward "../../rtl/mixins" as mdc-rtl-* hide mdc-rtl-rtl;
@forward "../../touch-target/mixins" as mdc-* hide mdc-margin, mdc-wrapper;
@forward "../../touch-target/mixins" as mdc-touch-target-* hide mdc-touch-target-touch-target;
@forward "../../typography/mixins" as mdc-* hide mdc-base, mdc-baseline-bottom, mdc-baseline-strut-, mdc-baseline-top, mdc-core-styles, mdc-overflow-ellipsis;
@forward "../../typography/mixins" as mdc-typography-* hide mdc-typography-typography;
@forward "../../shape/mixins" as mdc-shape-*;
@forward "../../animation/functions" as mdc-animation-*;
@forward "../../theme/functions" as mdc-theme-*;
@forward "../../checkbox/functions" as mdc-checkbox-*;
@forward "../../feature-targeting/functions" as mdc-feature-*;
@forward "../../elevation/functions" as mdc-elevation-*;
@forward "../../density/functions" as mdc-density-*;
@forward "../../ripple/functions" as mdc-*;
@forward "../../typography/functions" as mdc-typography-*;
@forward "../../shape/functions" as mdc-shape-*;
@forward "mdc-chip-set";
