//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/animation/functions";
@import "@material/elevation/mixins";
@import "@material/rtl/mixins";
@import "../mixins";
@import "../variables";

.mdc-side-sheet--modal {
  @include mdc-side-sheet-scrim-fill-color($mdc-side-sheet-modal-scrim-color);
  @include mdc-elevation($mdc-side-sheet-modal-elevation);
  @include mdc-rtl-reflexive-position(left, 0);

  display: none;
  position: fixed;

  &.mdc-side-sheet--open {
    display: flex;
  }
}

.mdc-side-sheet-scrim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: opacity;
  transition-timing-function: $mdc-animation-standard-curve-timing-function;
  z-index: $mdc-side-sheet-z-index - 1;

  .mdc-side-sheet--open + & {
    display: block;
  }

  .mdc-side-sheet--animate + & {
    opacity: 0;
  }

  .mdc-side-sheet--opening + & {
    transition-duration: $mdc-side-sheet-animation-enter;
    opacity: 1;
  }

  .mdc-side-sheet--closing + & {
    transition-duration: $mdc-side-sheet-animation-exit;
    opacity: 0;
  }
}
