//
// Copyright 2016 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

/// @deprecated Import '_button.scss' (partners) or '_button-theme.scss' (clients) instead.
@forward './button' show core-styles, without-ripple, deprecated-base, deprecated-icon;
@forward './button-outlined' show deprecated-outlined;
@forward './button-theme' show ripple-states, filled-accessible, container-fill-color, disabled-container-fill-color, outline-color, disabled-outline-color, icon-color, disabled-icon-color, ink-color, disabled-ink-color, density, height, shape-radius, horizontal-padding, outline-width, label-overflow-ellipsis, outline-hcm-shim, high-contrast-mode-shim, $ripple-target, $horizontal-padding;
