//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/theme/mixins";
@import "@material/ripple/mixins";
@import "@material/shape/mixins";
@import "./variables";

@mixin mdc-side-sheet-stroke-color($color, $opacity: $mdc-side-sheet-stroke-opacity) {
  $value: rgba(mdc-theme-prop-value($color), $opacity);

  @include mdc-theme-prop(border-color, $value);
}

@mixin mdc-side-sheet-shape-radius($radius) {
  @if length($radius) > 2 {
    @error "Invalid radius: '#{$radius}' component doesn't allow customizing all corners";
  } @else if length($radius) == 2 {
    $radius: 0 nth($radius, 1) nth($radius, 2) 0;
  } @else {
    $radius: 0 $radius $radius 0;
  }

  @include mdc-shape-radius($radius, $rtl-reflexive: true);
}

@mixin mdc-side-sheet-scrim-fill-color($color) {
  $value: rgba(mdc-theme-prop-value($color), $mdc-side-sheet-modal-scrim-opacity);

  + .mdc-side-sheet-scrim {
    @include mdc-theme-prop(background-color, $value);
  }
}

@mixin mdc-side-sheet-ink-color($color, $opacity: $mdc-side-sheet-ink-opacity) {
  $value: rgba(mdc-theme-prop-value($color), $opacity);

  .mdc-side-sheet__title {
    @include mdc-theme-prop(color, $value);
  }
}

@mixin mdc-side-sheet-surface-fill-color($color) {
  $value: mdc-theme-prop-value($color);

  @include mdc-theme-prop(background-color, $value);
}

@mixin mdc-side-sheet-surface-fill-color-accessible($color) {
  $accessibleColor: mdc-theme-accessible-ink-color($color);

  @include mdc-side-sheet-ink-color($accessibleColor);
  @include mdc-side-sheet-surface-fill-color($color);
}

@mixin mdc-side-sheet-z-index($value) {
  z-index: $value;
}

@mixin mdc-side-sheet-width($width) {
  width: $width;

  &.mdc-side-sheet--open:not(.mdc-side-sheet--closing) + .mdc-side-sheet-app-content {
    @include mdc-rtl-reflexive-box(margin, left, $width);
  }
}
