//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@use "sass:math";
@use "@material/animation/functions" as animation-functions;
@use "@material/button/variables" as button-variables;
@use "@material/elevation/mixins" as elevation-mixins;
@use "@material/feature-targeting/functions" as feature-targeting-functions;
@use "@material/feature-targeting/mixins" as feature-targeting-mixins;
@use "@material/rtl/mixins" as rtl-mixins;
@use "@material/shape/mixins" as shape-mixins;
@use "@material/theme/mixins" as theme-mixins;
@use "@material/theme/variables" as theme-variables; // for mdc-theme-prop-value
@use "@material/touch-target/variables" as touch-target-variables;
@use "@material/typography/mixins" as typography-mixins;
@use "./variables";

@mixin core-styles($query: feature-targeting-functions.all()) {
  $feat-animation: feature-targeting-functions.create-target($query, animation);
  $feat-structure: feature-targeting-functions.create-target($query, structure);

  @include elevation-mixins.overlay-common($query); // COPYBARA_COMMENT_THIS_LINE

  // postcss-bem-linter: define dialog

  .mdc-dialog,
  .mdc-dialog__scrim {
    @include feature-targeting-mixins.targets($feat-structure) {
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }

  .mdc-dialog {
    @include container-fill-color(surface, $query: $query);
    @include scrim-color(variables.$scrim-color, $query: $query);
    @include title-ink-color(variables.$title-ink-color, $query: $query);
    @include content-ink-color(variables.$content-ink-color, $query: $query);
    @include scroll-divider-color(variables.$scroll-divider-color, $query: $query);
    @include min-width(variables.$min-width, $query: $query);
    @include max-width(variables.$max-width, variables.$margin, $query: $query);
    @include max-height(null, variables.$margin, $query: $query);
    @include shape-radius(medium, $query: $query);

    @include feature-targeting-mixins.targets($feat-structure) {
      // Use `display: none` instead of `visibility: hidden` to avoid recalculating layout when the dialog is closed.
      display: none;
      z-index: variables.$z-index;
    }
  }

  .mdc-dialog__scrim {
    @include feature-targeting-mixins.targets($feat-structure) {
      opacity: 0;
      z-index: -1;
    }
  }

  // This wrapper element is needed to make max-height work in IE 11.
  // See https://github.com/philipwalton/flexbugs/issues/216
  .mdc-dialog__container {
    @include feature-targeting-mixins.targets($feat-structure) {
      display: flex;
      flex-direction: row; // IE 11
      align-items: center;
      justify-content: space-around; // Ensure Safari centers the dialog (because it treats the container's width oddly)
      box-sizing: border-box;
      height: 100%;
      transform: scale(.8);
      opacity: 0;
      // This element is necessary for IE 11 and needs to have `height: 100%`.
      // Let clicks on element fall through to scrim element underneath.
      pointer-events: none;
    }
  }

  .mdc-dialog__surface {
    @include elevation-mixins.overlay-surface-position($query: $query);
    @include elevation-mixins.overlay-dimensions(100%, $query: $query);
    @include elevation-mixins.elevation(24, $query: $query);

    @include feature-targeting-mixins.targets($feat-structure) {
      display: flex;
      flex-direction: column;
      flex-grow: 0; // IE 11
      flex-shrink: 0; // IE 11
      box-sizing: border-box;
      max-width: 100%; // IE 11
      max-height: 100%; // IE 11
      pointer-events: auto; // Override from `.mdc-dialog__container`.
      // IE 11: Otherwise, scrolling content in `mdc-dialog__content` overflows.
      overflow-y: auto;

      @include rtl-mixins.rtl(".mdc-dialog") {
        /* @noflip */
        text-align: right;
      }
    }
  }

  .mdc-dialog__title {
    @include typography-mixins.baseline-top(40px, $query: $query);
    @include typography-mixins.typography(headline6, $query: $query);

    @include feature-targeting-mixins.targets($feat-structure) {
      display: block;
      position: relative;
      flex-shrink: 0;
      box-sizing: border-box;
      margin: 0;
      padding: 0 24px variables.$title-bottom-padding;
      border-bottom: 1px solid transparent;

      @include rtl-mixins.rtl(".mdc-dialog") {
        /* @noflip */
        text-align: right;
      }
    }
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  .mdc-dialog--scrollable .mdc-dialog__title {
    @include feature-targeting-mixins.targets($feat-structure) {
      // Adjust bottom padding to make title height align to spec when divider is present.
      // (Titles for alert dialogs w/o dividers align based on text baseline. All spec values are divisible by 4.)
      padding-bottom: variables.$title-bottom-padding + 6px;
    }
  }

  .mdc-dialog__content {
    @include typography-mixins.typography(body1, $query: $query);

    @include feature-targeting-mixins.targets($feat-structure) {
      flex-grow: 1;
      box-sizing: border-box;
      margin: 0;
      padding: 20px 24px; // Note: the top padding is only 20px for dialogs without titles; see below for override
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }

    // The content element already has top/bottom padding, so we need to suppress margins on its first/last children.
    > :first-child {
      @include feature-targeting-mixins.targets($feat-structure) {
        margin-top: 0;
      }
    }

    // The content element already has top/bottom padding, so we need to suppress margins on its first/last children.
    > :last-child {
      @include feature-targeting-mixins.targets($feat-structure) {
        margin-bottom: 0;
      }
    }
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  .mdc-dialog__title + .mdc-dialog__content {
    @include feature-targeting-mixins.targets($feat-structure) {
      // Eliminate padding to bring as close to spec as possible, relying on title padding.
      // (Spec seems inconsistent RE title/body spacing on alert vs. simple variants.)
      padding-top: 0;
    }
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  .mdc-dialog--scrollable .mdc-dialog__content {
    @include feature-targeting-mixins.targets($feat-structure) {
      // Reduce and equalize vertical paddings when scrollable dividers are present
      // (Note: this is intentionally after title + content to take precedence)
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern
  .mdc-dialog__content .mdc-list:first-child:last-child {
    @include feature-targeting-mixins.targets($feat-structure) {
      // Override default .mdc-list padding for content consisting exclusively of a MDC List
      padding: 6px 0 0; // Top padding balances with title height
    }
  }

  // stylelint-disable-next-line plugin/selector-bem-pattern, selector-max-specificity
  .mdc-dialog--scrollable .mdc-dialog__content .mdc-list:first-child:last-child {
    @include feature-targeting-mixins.targets($feat-structure) {
      // Override default .mdc-list padding for content consisting exclusively of a MDC List
      padding: 0;
    }
  }

  .mdc-dialog__actions {
    @include feature-targeting-mixins.targets($feat-structure) {
      display: flex;
      position: relative;
      flex-shrink: 0;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      box-sizing: border-box;
      min-height: 52px;
      margin: 0;
      padding: variables.$actions-padding;
      border-top: 1px solid transparent;
    }

    .mdc-dialog--stacked & {
      @include feature-targeting-mixins.targets($feat-structure) {
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }

  .mdc-dialog__button {
    @include feature-targeting-mixins.targets($feat-structure) {
      @include rtl-mixins.reflexive-box(margin, left, 8px);
    }

    &:first-child {
      @include feature-targeting-mixins.targets($feat-structure) {
        @include rtl-mixins.reflexive-box(margin, left, 0);
      }
    }

    @include feature-targeting-mixins.targets($feat-structure) {
      max-width: 100%; // Prevent long text from overflowing parent element in IE 11
      /* @noflip */
      text-align: right;

      @include rtl-mixins.rtl(".mdc-dialog") {
        /* @noflip */
        text-align: left;
      }
    }

    .mdc-dialog--stacked &:not(:first-child) {
      @include feature-targeting-mixins.targets($feat-structure) {
        margin-top: 12px;
      }
    }
  }

  .mdc-dialog--open,
  .mdc-dialog--opening,
  .mdc-dialog--closing {
    @include feature-targeting-mixins.targets($feat-structure) {
      display: flex;
    }
  }

  .mdc-dialog--opening {
    .mdc-dialog__scrim {
      @include feature-targeting-mixins.targets($feat-animation) {
        transition: opacity 150ms linear;
      }
    }

    .mdc-dialog__container {
      @include feature-targeting-mixins.targets($feat-animation) {
        transition: opacity 75ms linear, animation-functions.enter(transform, 150ms);
      }
    }
  }

  .mdc-dialog--closing {
    .mdc-dialog__scrim,
    .mdc-dialog__container {
      @include feature-targeting-mixins.targets($feat-animation) {
        transition: opacity 75ms linear;
      }
    }

    .mdc-dialog__container {
      @include feature-targeting-mixins.targets($feat-structure) {
        // Dialog container scales up while opening, but should remain scaled up while closing
        transform: scale(1);
      }
    }
  }

  .mdc-dialog--open {
    .mdc-dialog__scrim {
      @include feature-targeting-mixins.targets($feat-structure) {
        opacity: 1;
      }
    }

    .mdc-dialog__container {
      @include feature-targeting-mixins.targets($feat-structure) {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  // postcss-bem-linter: end

  // Class applied to body while dialog is open, to prevent scrolling behind the dialog
  .mdc-dialog-scroll-lock {
    @include feature-targeting-mixins.targets($feat-structure) {
      overflow: hidden;
    }
  }
}

@mixin container-fill-color($color, $query: feature-targeting-functions.all()) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  .mdc-dialog__surface {
    @include feature-targeting-mixins.targets($feat-color) {
      @include theme-mixins.prop(background-color, $color);
    }
  }
}

@mixin scrim-color($color, $opacity: variables.$scrim-opacity, $query: feature-targeting-functions.all()) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  .mdc-dialog__scrim {
    @include feature-targeting-mixins.targets($feat-color) {
      background-color: rgba(theme-variables.prop-value($color), $opacity);
    }
  }
}

@mixin title-ink-color($color, $opacity: variables.$title-ink-opacity, $query: feature-targeting-functions.all()) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  .mdc-dialog__title {
    @include feature-targeting-mixins.targets($feat-color) {
      color: rgba(theme-variables.prop-value($color), $opacity);
    }
  }
}

@mixin content-ink-color($color, $opacity: variables.$content-ink-opacity, $query: feature-targeting-functions.all()) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  .mdc-dialog__content {
    @include feature-targeting-mixins.targets($feat-color) {
      color: rgba(theme-variables.prop-value($color), $opacity);
    }
  }
}

@mixin scroll-divider-color(
  $color,
  $opacity: variables.$scroll-divider-opacity,
  $query: feature-targeting-functions.all()
) {
  $feat-color: feature-targeting-functions.create-target($query, color);

  &.mdc-dialog--scrollable .mdc-dialog__title,
  &.mdc-dialog--scrollable .mdc-dialog__actions {
    @include feature-targeting-mixins.targets($feat-color) {
      border-color: rgba(theme-variables.prop-value($color), $opacity);
    }
  }
}

@mixin shape-radius($radius, $rtl-reflexive: false, $query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);

  .mdc-dialog__surface {
    @include shape-mixins.radius($radius, $rtl-reflexive, $query: $query);
  }
}

@mixin min-width($min-width, $query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);

  .mdc-dialog__surface {
    @include feature-targeting-mixins.targets($feat-structure) {
      min-width: $min-width;
    }
  }
}

@mixin max-width($max-width, $margin, $query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);
  $max-size-calc-expr: calc(100vw - #{$margin * 2});

  .mdc-dialog__surface {
    @include feature-targeting-mixins.targets($feat-structure) {
      @if $max-width {
        $max-width-breakpoint: $max-width + ($margin * 2);

        // Fit snugly within the viewport at smaller screen sizes.
        @media (max-width: $max-width-breakpoint) {
          max-width: $max-size-calc-expr;
        }

        // Once the screen gets big enough, apply a fixed maximum width.
        @media (min-width: $max-width-breakpoint) {
          max-width: $max-width;
        }
      } @else {
        max-width: $max-size-calc-expr;
      }
    }
  }
}

@mixin max-height($max-height, $margin, $query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);
  $max-size-calc-expr: calc(100% - #{$margin * 2});

  .mdc-dialog__surface {
    @include feature-targeting-mixins.targets($feat-structure) {
      @if $max-height {
        $max-height-breakpoint: $max-height + ($margin * 2);

        // Fit snugly within the viewport at smaller screen sizes.
        @media (max-height: $max-height-breakpoint) {
          max-height: $max-size-calc-expr;
        }

        // Once the screen gets big enough, apply a fixed maximum height.
        @media (min-height: $max-height-breakpoint) {
          max-height: $max-height;
        }
      } @else {
        max-height: $max-size-calc-expr;
      }
    }
  }

  // Target IE 11.
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    // On IE 11, if surface height is fixed and container height is 100%,
    // scrolling content overflows. So, reset height if surface height
    // is fixed.
    .mdc-dialog__container {
      @include feature-targeting-mixins.targets($feat-structure) {
        /* stylelint-disable */
        // Disable stylelint here, as nesting depth > 3 is required to
        // work around IE 11.
        @if $max-height {
          $max-height-breakpoint: $max-height + ($margin * 2);

          @media (min-height: $max-height-breakpoint) {
            align-items: stretch;
            height: auto;
          }
        }
        /* stylelint-enable*/
      }
    }
  }
}

// Applied to dialogs that have buttons with an increased touch target.
@mixin with-touch-target($query: feature-targeting-functions.all()) {
  $feat-structure: feature-targeting-functions.create-target($query, structure);
  $touch-target-margin:
    (touch-target-variables.$height - button-variables.$height) / 2;
  $vertical-padding: math.max(0, variables.$actions-padding - $touch-target-margin);

  // Buttons with an increased touch target have added vertical margin, so
  // decrease the actions element padding to compensate.
  .mdc-dialog__actions {
    @include feature-targeting-mixins.targets($feat-structure) {
      padding-top: $vertical-padding;
      padding-bottom: $vertical-padding;

      // The below styles override the default button touch target values,
      // which otherwise cause `mdc-dialog__surface` to scroll unnnecessarily
      // in IE 11.
      .mdc-button__touch {
        top: -$touch-target-margin; // IE 11
        transform: none; // IE 11
      }
    }
  }
}
