//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/animation/functions";
@import "@material/elevation/mixins";
@import "@material/theme/mixins";
@import "@material/rtl/mixins";
@import "@material/typography/mixins";
@import "@material/typography/variables";
@import "./mixins";
@import "./variables";

// postcss-bem-linter: define dialog

.mdc-dialog {
  // Use `display: none` instead of `visibility: hidden` to work around a `-webkit-line-clamp` bug.
  // https://stackoverflow.com/a/44193578/467582
  display: none;

  // stylelint-disable-next-line declaration-empty-line-before
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.mdc-dialog__scrim {
  @include mdc-theme-prop(background-color, text-primary-on-light);

  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

// This wrapper element is needed to make max-height work IE 11.
// See https://github.com/philipwalton/flexbugs/issues/216
.mdc-dialog__container {
  display: flex;
  flex-direction: row; // IE 11
  box-sizing: border-box;
  max-height: $mdc-dialog-viewport-size-expr;

  // Fit snugly within the viewport at smaller screen sizes.
  @media (max-width: ($mdc-dialog-width-breakpoint - 1)) {
    max-width: $mdc-dialog-viewport-size-expr;
  }

  // Once the screen gets big enough, apply a fixed maximum width.
  @media (min-width: $mdc-dialog-width-breakpoint) {
    max-width: $mdc-dialog-max-width;
  }

  transform: translateY(150px) scale(.8);
  opacity: 0;
}

.mdc-dialog__surface {
  @include mdc-dialog-corner-radius($mdc-dialog-corner-radius);
  @include mdc-elevation(24);
  @include mdc-theme-prop(background-color, background);

  display: flex;
  flex-direction: column;
  flex-grow: 0; // IE 11
  flex-shrink: 0; // IE 11
  box-sizing: border-box;
  min-width: $mdc-dialog-min-width;
  max-width: 100%; // IE 11
  max-height: 100%; // IE 11

  @include mdc-rtl(".mdc-dialog") {
    text-align: right;
  }
}

.mdc-dialog__title {
  @include mdc-dialog-title-ink-color;
  @include mdc-typography(headline6);

  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 16px 24px 15px;
  border-bottom: 1px solid transparent;

  .mdc-dialog--scrollable & {
    @include mdc-dialog-scroll-divider-color;
  }

  @include mdc-rtl(".mdc-dialog") {
    text-align: right;
  }
}

.mdc-dialog__content {
  @include mdc-dialog-content-ink-color;
  @include mdc-typography(body1);

  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 24px 21px;
  overflow: auto;

  .mdc-dialog--scrollable & {
    // Must be 'scroll', not 'auto'.
    // https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  // The subelement already has top/bottom padding, so we need to suppress margins on its first/last children.
  > :first-child {
    margin-top: 0;
  }

  // The subelement already has top/bottom padding, so we need to suppress margins on its first/last children.
  > :last-child {
    margin-bottom: 0;
  }
}

.mdc-dialog__actions {
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  border-top: 1px solid transparent;

  .mdc-dialog--scrollable & {
    @include mdc-dialog-scroll-divider-color;
  }

  .mdc-dialog--stacked & {
    flex-direction: column;
    align-items: flex-end;
  }
}

// TODO(acdvorak): Figure out how to apply 12px margin between stacked buttons
.mdc-dialog__button {
  @include mdc-rtl-reflexive-box(margin, left, 8px);

  &:first-child {
    @include mdc-rtl-reflexive-box(margin, left, 0);
  }

  max-width: 100%; // Prevent long text from overflowing parent element in IE 11
  text-align: right;

  @include mdc-rtl(".mdc-dialog") {
    text-align: left;
  }

  .mdc-dialog--stacked &:not(:first-child) {
    margin-top: 12px;
  }
}

.mdc-dialog--animating {
  // Keep this value in sync with `.mdc-dialog--open`.
  display: flex;

  .mdc-dialog__scrim {
    transition: mdc-animation-enter(opacity, 120ms);
  }

  .mdc-dialog__container {
    transition: mdc-animation-enter(opacity, 120ms), mdc-animation-enter(transform, 120ms);
  }
}

.mdc-dialog--open {
  // Keep this value in sync with `.mdc-dialog--animating`.
  display: flex;

  .mdc-dialog__scrim {
    opacity: .3;
  }

  .mdc-dialog__container {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

// postcss-bem-linter: end

.mdc-dialog-scroll-lock {
  overflow: hidden;
}
