@import "@material/animation/functions";
@import "@material/typography/variables";
@import "@material/elevation/mixins";
@import "@material/theme/mixins";
@import "@material/rtl/mixins";

.mdc-dialog {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;

  &__surface {
    display: inline-flex;
    position: absolute;
    bottom: 50vh;
    flex-direction: column;

    @include mdc-elevation(24);

    width: calc(100% - 30px);
    min-width: 640px;
    max-width: 865px;
    transform: translateY(150px) scale(.8);
    transition: mdc-animation-enter(opacity, 120ms), mdc-animation-enter(transform, 120ms);

    @include mdc-theme-prop(background-color, background);

    @include mdc-theme-dark {
      @include mdc-theme-prop(background-color, text-primary-on-dark);
    }

    font-family: Roboto, sans-serif;
    opacity: 0;
  }

  &__backdrop {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: -1;
  }

  &--open {
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;

    .mdc-dialog__surface {
      transform: translateY(0) scale(1);
      transition: mdc-animation-enter(opacity, 120ms), mdc-animation-enter(transform, 120ms);
      opacity: 1;
    }

    .mdc-dialog__backdrop {
      transition: mdc-animation-enter(opacity, 120ms);
      opacity: .3;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 24px 24px 0;

    &__empty {
      padding: 0;
    }
  }

  &__header__title {
    flex: 1;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
  }

  &__body {
    margin-top: 20px;
    padding: 0 24px 24px;

    @include mdc-theme-prop(color, text-secondary-on-light);

    @include mdc-theme-dark {
      @include mdc-theme-prop(color, text-secondary-on-dark);
    }

    font-size: 16px;
    line-height: 23px;

    &--scrollable {
      max-height: 195px;
      border-top: 1px solid rgba(0, 0, 0, .1);
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      font-size: 18px;
      overflow-y: scroll;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__list-item {
      padding: 10px;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 8px;
  }

  &--scroll-lock {
    height: 100vh;
    overflow: hidden;
  }
}

@media (max-width: 640px) {
  .mdc-dialog {
    min-width: 280px;

    &__surface {
      min-width: 280px;
    }

    &__body {
      line-height: 24px;
    }
  }
}
