//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/animation/functions";
@import "@material/elevation/mixins";
@import "@material/theme/mixins";
@import "@material/rtl/mixins";
@import "@material/typography/mixins";
@import "@material/typography/variables";
@import "./mixins";
@import "./variables";

// postcss-bem-linter: define dialog

.mdc-dialog,
.mdc-dialog__scrim {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.mdc-dialog {
  @include mdc-dialog-container-fill-color(surface);
  @include mdc-dialog-scrim-color($mdc-dialog-scrim-color);
  @include mdc-dialog-title-ink-color($mdc-dialog-title-ink-color);
  @include mdc-dialog-content-ink-color($mdc-dialog-content-ink-color);
  @include mdc-dialog-scroll-divider-color($mdc-dialog-scroll-divider-color);
  @include mdc-dialog-min-width($mdc-dialog-min-width);
  @include mdc-dialog-max-width($mdc-dialog-max-width, $mdc-dialog-margin);
  @include mdc-dialog-max-height(null, $mdc-dialog-margin);
  @include mdc-dialog-shape-radius(medium);

  // Use `display: none` instead of `visibility: hidden` to avoid recalculating layout when the dialog is closed.
  display: none;
  z-index: $mdc-dialog-z-index;
}

.mdc-dialog__scrim {
  opacity: 0;
  z-index: -1;
}

// This wrapper element is needed to make max-height work in IE 11.
// See https://github.com/philipwalton/flexbugs/issues/216
.mdc-dialog__container {
  display: flex;
  flex-direction: row; // IE 11
  justify-content: space-around; // Ensure Safari centers the dialog (because it treats the container's width oddly)
  box-sizing: border-box;
  transform: scale(.8);
  opacity: 0;
}

.mdc-dialog__surface {
  @include mdc-elevation(24);

  display: flex;
  flex-direction: column;
  flex-grow: 0; // IE 11
  flex-shrink: 0; // IE 11
  box-sizing: border-box;
  max-width: 100%; // IE 11
  max-height: 100%; // IE 11

  @include mdc-rtl(".mdc-dialog") {
    text-align: right;
  }
}

.mdc-dialog__title {
  @include mdc-typography-baseline-top(40px);
  @include mdc-typography(headline6);

  display: block;
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0 24px $mdc-dialog-title-bottom-padding;
  border-bottom: 1px solid transparent;

  @include mdc-rtl(".mdc-dialog") {
    text-align: right;
  }
}

// stylelint-disable-next-line plugin/selector-bem-pattern
.mdc-dialog--scrollable .mdc-dialog__title {
  // Adjust bottom padding to make title height align to spec when divider is present.
  // (Titles for alert dialogs w/o dividers align based on text baseline instead. All spec values are divisible by 4.)
  padding-bottom: $mdc-dialog-title-bottom-padding + 6px;
}

.mdc-dialog__content {
  @include mdc-typography(body1);

  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 24px; // Note: the top padding is only 20px for dialogs without titles; see below for override
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  // The content element already has top/bottom padding, so we need to suppress margins on its first/last children.
  > :first-child {
    margin-top: 0;
  }

  // The content element already has top/bottom padding, so we need to suppress margins on its first/last children.
  > :last-child {
    margin-bottom: 0;
  }
}

// stylelint-disable-next-line plugin/selector-bem-pattern
.mdc-dialog__title + .mdc-dialog__content {
  // Eliminate padding to bring as close to spec as possible, relying on title padding.
  // (Spec seems inconsistent RE title/body spacing on alert vs. simple variants.)
  padding-top: 0;
}

// stylelint-disable-next-line plugin/selector-bem-pattern
.mdc-dialog--scrollable .mdc-dialog__content {
  // Reduce and equalize vertical paddings when scrollable dividers are present
  // (Note: this is intentionally after title + content to take precedence)
  padding-top: 8px;
  padding-bottom: 8px;
}

// stylelint-disable-next-line plugin/selector-bem-pattern
.mdc-dialog__content .mdc-list:first-child:last-child {
  // Override default .mdc-list padding for content consisting exclusively of a MDC List
  padding: 6px 0 0; // Top padding balances with title height
}

// stylelint-disable-next-line plugin/selector-bem-pattern, selector-max-specificity
.mdc-dialog--scrollable .mdc-dialog__content .mdc-list:first-child:last-child {
  // Override default .mdc-list padding for content consisting exclusively of a MDC List
  padding: 0;
}

.mdc-dialog__actions {
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  min-height: 52px;
  margin: 0;
  padding: 8px;
  border-top: 1px solid transparent;

  .mdc-dialog--stacked & {
    flex-direction: column;
    align-items: flex-end;
  }
}

.mdc-dialog__button {
  @include mdc-rtl-reflexive-box(margin, left, 8px);

  &:first-child {
    @include mdc-rtl-reflexive-box(margin, left, 0);
  }

  max-width: 100%; // Prevent long text from overflowing parent element in IE 11
  text-align: right;

  @include mdc-rtl(".mdc-dialog") {
    text-align: left;
  }

  .mdc-dialog--stacked &:not(:first-child) {
    margin-top: 12px;
  }
}

.mdc-dialog--open,
.mdc-dialog--opening,
.mdc-dialog--closing {
  display: flex;
}

.mdc-dialog--opening {
  .mdc-dialog__scrim {
    transition: opacity 150ms linear;
  }

  .mdc-dialog__container {
    transition: opacity 75ms linear, mdc-animation-enter(transform, 150ms);
  }
}

.mdc-dialog--closing {
  .mdc-dialog__scrim,
  .mdc-dialog__container {
    transition: opacity 75ms linear;
  }

  .mdc-dialog__container {
    // Dialog container scales up while opening, but should remain scaled up while closing
    transform: scale(1);
  }
}

.mdc-dialog--open {
  .mdc-dialog__scrim {
    opacity: 1;
  }

  .mdc-dialog__container {
    transform: scale(1);
    opacity: 1;
  }
}

// postcss-bem-linter: end

// Class applied to body while dialog is open, to prevent scrolling behind the dialog
.mdc-dialog-scroll-lock {
  overflow: hidden;
}
