@import "@material/animation/functions";
@import "@material/elevation/mixins";

.mdc-dialog {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;

  &__surface {
    display: inline-flex;
    position: absolute;
    bottom: 50vh;
    flex-direction: column;

    @include mdc-elevation(24);

    width: calc(100% - 30px);
    min-width: 640px;
    max-width: 865px;
    transform: translateY(150px) scale(.8);
    transition: mdc-animation-enter(opacity, 120ms), mdc-animation-enter(transform, 120ms);
    background-color: white;
    font-family: Roboto, sans-serif;
    opacity: 0;
  }

  &__backdrop {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: -1;
  }

  &__open {
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;

    .mdc-dialog__surface {
      transform: translateY(0) scale(1);
      transition: mdc-animation-enter(opacity, 120ms), mdc-animation-enter(transform, 120ms);
      opacity: 1;
    }

    .mdc-dialog__backdrop {
      transition: mdc-animation-enter(opacity, 120ms);
      opacity: .3;
    }
  }
}

@media (max-width: 640px) {
  .mdc-dialog {
    min-width: 280px;

    &__surface {
      min-width: 280px;
    }
  }
}

.mdc-dialog__header {
  padding: 24px 24px 0 24px;
  display: flex;
  align-items: center;

  &__empty {
    padding: 0;
  }
}

.mdc-dialog__header__title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-weight: 400;
  flex: 1;
}

.mdc-dialog__body {
  margin-top: 20px;
  padding: 0 24px 24px 24px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  
  &--scrollable {
    max-height: 195px;
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    padding: 10px;
  }
}

@media (max-width: 640px) {
  .mdc-dialog__body {
    line-height: 24px;
  }
}

.mdc-dialog__footer {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

//.mdc-dialog__footer__buttons__right {
//  flex: 1;
//  display: flex;
//  justify-content: flex-end;
//}

.mdc-dialog__scroll-lock {
	height: 100vh;
	overflow: hidden;
}
