//  Copyright 2020 Google Inc.
//
//  Permission is hereby granted, free of charge, to any person obtaining a copy
//  of this software and associated documentation files (the "Software"), to deal
//  in the Software without restriction, including without limitation the rights
//  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
//  copies of the Software, and to permit persons to whom the Software is
//  furnished to do so, subject to the following conditions:/
//
//  The above copyright notice and this permission notice shall be included in
//  all copies or substantial portions of the Software./
//
//  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
//  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
//  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
//  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
//  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
//  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
//  THE SOFTWARE.
//

@use "@material/animation/variables";
@use "@material/feature-targeting/functions" as feature-targeting-functions;
@use "@material/feature-targeting/mixins" as feature-targeting-mixins;
@use "@material/rtl/mixins" as rtl-mixins;
@use "@material/typography/mixins" as typography-mixins;

@mixin helper-text-core-styles($query: feature-targeting-functions.all()) {
  $feat-animation: feature-targeting-functions.create-target($query, animation);
  $feat-structure: feature-targeting-functions.create-target($query, structure);

  .mdc-select-helper-text {
    @include feature-targeting-mixins.targets($feat-structure) {
      margin: 0;
      @include rtl-mixins.reflexive-property(margin, 16px, 16px);
    }
    @include typography-mixins.typography(caption, $query: $query);
    @include typography-mixins.text-baseline(16px, $query: $query);
  }

  .mdc-select-helper-text--validation-msg {
    @include feature-targeting-mixins.targets($feat-structure) {
      opacity: 0;
    }

    @include feature-targeting-mixins.targets($feat-animation) {
      transition: opacity 180ms variables.$standard-curve-timing-function;
    }
  }

  .mdc-select--invalid + .mdc-select-helper-text--validation-msg,
  .mdc-select-helper-text--validation-msg-persistent {
    @include feature-targeting-mixins.targets($feat-structure) {
      opacity: 1;
    }
  }
}
