//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

$mdc-toolbar-row-height: 64px;
$mdc-toolbar-mobile-row-height: 56px;
$mdc-toolbar-mobile-landscape-row-height: 48px;

$mdc-toolbar-element-section-padding: 8px;
$mdc-toolbar-element-mobile-section-padding: 4px;

$mdc-toolbar-element-horizontal-padding-desktop: 24px;
$mdc-toolbar-element-horizontal-padding-mobile: 16px;
$mdc-toolbar-title-margin-to-menu-icon-desktop: 8px;
$mdc-toolbar-title-margin-to-menu-icon-mobile: 16px;

$mdc-toolbar-ratio-to-extend-flexible: 4 !default;

$mdc-toolbar-mobile-landscape-width-breakpoint: 959px;
$mdc-toolbar-mobile-breakpoint: 599px;

$mdc-toolbar-icon-padding: 12px;
$mdc-toolbar-section-horizontal-padding: 12px;
$mdc-toolbar-mobile-section-horizontal-padding: 4px;

$mdc-toolbar-icon-size: 24px;
