.hint {
  background: rgba(0,230,118,.1);
  padding: 3px 24px;
}
.warning {
  background: rgba(255,23,68,.1);
  padding: 3px 24px;
}
.duration {
  font-family: 'Roboto Mono', monospace;
  color: rgba(0,0,0,0.5);
}
code {
  background: none;
}
img {
  border: 0.5px solid rgba(0,0,0,0.5);
}
