//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@material/animation/functions";
@import "@material/theme/mixins";
@import "@material/rtl/mixins";

$mdc-tab-bar-scroller-indicator-width: 48px;

// postcss-bem-linter: define tab-bar-scroller

.mdc-tab-bar-scroller {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background-color: inherit;
  overflow: hidden;

  &__scroll-frame {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: flex-start;
    overflow: hidden;

    &__tabs {
      transition: mdc-animation-enter(transform, 240ms);
      will-change: transform;
    }
  }

  &__indicator {
    @include mdc-theme-prop(color, text-secondary-on-background);

    &:hover {
      @include mdc-theme-prop(color, text-primary-on-background);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: $mdc-tab-bar-scroller-indicator-width;
    cursor: pointer;
    visibility: hidden;

    &__inner {
      color: inherit;
      text-decoration: inherit;
      cursor: inherit;

      &:focus {
        outline-color: inherit;
      }

      @include mdc-rtl(".mdc-tab-bar-scroller") {
        transform: rotate(180deg);
      }
    }

    &__inner:hover {
      color: inherit;
    }
  }

  &__indicator--enabled {
    visibility: visible;
  }
}

// postcss-bem-linter: end
