//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "./common";
@import "../packages/mdc-icon-button/mdc-icon-button";
@import "../packages/mdc-ripple/mixins";

.demo-wrapper {
  margin-left: 1rem;
}

.example {
  display: flex;
  flex-flow: row wrap;
  align-content: left;
  justify-content: left;
}

.toggle-example {
  min-width: 260px;
  margin: 24px;
  padding: 24px;
}

.toggle-examples-container {
  display: flex;
}

#demo-color-combos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.demo-color-combo {
  width: 250px;
  padding: 1rem;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

#light-on-bg {
  background-color: #3e82f7;
}
#light-on-bg .mdc-icon-button {
  @include mdc-icon-button-ink-color(white);
  @include mdc-states-base-color(white);
  @include mdc-states-hover-opacity(.1);
  @include mdc-states-focus-opacity(.3);
  @include mdc-states-press-opacity(.4);
}

#dark-on-bg {
  background-color: #00bcd6;
}
#dark-on-bg .mdc-icon-button {
  @include mdc-icon-button-ink-color(black);
  @include mdc-states(black);
}

#custom-color-combo .mdc-icon-button {
  @include mdc-icon-button-ink-color(#de442c);
  @include mdc-states-base-color(#de442c);
  @include mdc-states-hover-opacity(.09);
  @include mdc-states-focus-opacity(.26);
  @include mdc-states-press-opacity(.35);
}

.demo-icon-button-large {
  @include mdc-icon-button-size(36px);
}
