//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "./common";
@import "../packages/mdc-button/mdc-button";
@import "../packages/mdc-icon-button/mdc-icon-button";
@import "../packages/mdc-checkbox/mdc-checkbox";
@import "../packages/mdc-list/mdc-list";
@import "../packages/mdc-menu/mdc-menu";
@import "../packages/mdc-menu-surface/mdc-menu-surface";

body {
  position: relative;
}

.hero .mdc-menu-surface {
  position: static; // Required for proper IE11 alignment.
  z-index: auto;
}

.demo-content {
  position: relative;
  top: 64px;
}

.demo-controls-container {
  width: 100%;
  height: calc(100vh - 80px);
}

.demo-controls {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

.mdc-menu-surface--anchor {
  position: absolute;
  margin: 16px;
}

.margin-inputs input {
  width: 2em;
}

.right-column-controls {
  display: inline-block;
  margin-left: 2em;
  vertical-align: top;
}

#demo-menu {
  @include mdc-menu-width(6);
}

#demo-menu-2 {
  @include mdc-menu-width(5);
}

#demo-menu-3 {
  @include mdc-menu-width(4);
}

.hero .mdc-menu-surface {
  z-index: 1;
}
