//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "./common";
@import "../packages/mdc-button/mdc-button";
@import "../packages/mdc-list/mdc-list";
@import "../packages/mdc-menu-surface/mdc-menu-surface";
@import "../packages/mdc-menu/mdc-menu";
@import "../packages/mdc-select/mdc-select";

// stylelint-disable selector-class-pattern
.demo-select-custom-colors {
  @include mdc-select-ink-color(blue);
  @include mdc-select-label-color(rgba(blue, .6));
  @include mdc-select-bottom-line-color(rgba(blue, .5));

  // Focused colors
  @include mdc-select-focused-bottom-line-color(green);
  @include mdc-select-focused-label-color(green);

  // Hover colors
  @include mdc-select-hover-bottom-line-color(rgba(blue, .87));
}

.demo-select-custom-colors.mdc-select--box {
  @include mdc-select-container-fill-color(rgba(blue, .1));
}

.demo-select-custom-colors.mdc-select--outlined {
  @include mdc-select-outline-color(rgba(blue, .6));
  @include mdc-select-hover-outline-color(rgba(blue, .87));
  @include mdc-select-focused-outline-color(green);
}

.button-container {
  margin: 8px 0;
}

.demo-example {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.demo-examples-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.example {
  min-width: 300px;
}
// stylelint-enable selector-class-pattern
