@import "./common";
@import "../packages/mdc-tab-indicator/mixins";
@import "../packages/mdc-tab-indicator/mdc-tab-indicator";
@import "../packages/mdc-elevation/mixins";
@import "../packages/mdc-theme/color-palette";

.hero {
  flex-direction: column;
}

.demo-inner {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 2rem 0;
}

.demo-item {
  display: flex;
  position: relative;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  width: 150px;
  max-width: 150px;
  height: inherit;
  margin: 1rem;
  background-color: $material-color-grey-50;
  text-align: center;
}

.demo-item--wide {
  width: 250px;
  max-width: 250px;
}

.demo-item--narrow {
  width: 100px;
  max-width: 100px;
}

.demo-label {
  position: relative;
  z-index: 2;
}

.demo-indicator .custom-icon {
  font-size: inherit;
}

.custom-color {
  @include mdc-tab-indicator-color($material-color-orange-a400);
}

.custom-height {
  @include mdc-tab-indicator-height(8px);
}

.custom-height-icon {
  @include mdc-tab-indicator-height(44px);
}

.custom-border-radius {
  @include mdc-tab-indicator-height(8px);
  @include mdc-tab-indicator-top-border-radius(8px);
}
