//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "./common";
@import "../packages/mdc-tabs/tab/mixins";
@import "../packages/mdc-tabs/tab-bar/mixins";
@import "../packages/mdc-button/mdc-button";
@import "../packages/mdc-tabs/mdc-tabs";

.custom-label-color-tab {
  .mdc-tab:not(.mdc-tab--active) {
    @include mdc-tab-label-ink-color($material-color-deep-purple-200);
  }
}

.custom-label-color-tab {
  .mdc-tab--active,
  .mdc-tab:hover {
    @include mdc-tab-label-ink-color($material-color-indigo-500);
  }
}

.custom-icon-color-tab {
  .mdc-tab:not(.mdc-tab--active) {
    @include mdc-tab-icon-ink-color($material-color-deep-purple-200);
  }
}

.custom-icon-color-tab {
  .mdc-tab--active,
  .mdc-tab:hover {
    @include mdc-tab-icon-ink-color($material-color-indigo-500);
  }
}

.custom-ink-color-tab {
  .mdc-tab:not(.mdc-tab--active) {
    @include mdc-tab-ink-color($material-color-deep-purple-200);
  }
}

.custom-ink-color-tab {
  .mdc-tab--active,
  .mdc-tab:hover {
    @include mdc-tab-ink-color($material-color-indigo-500);
  }
}

.custom-indicator-tab-bar {
  @include mdc-tab-bar-indicator-ink-color(primary);
}

.custom-indicator-tab-bar-in-toolbar,
.custom-tab-bar-in-toolbar {
  .mdc-tab:not(.mdc-tab--active) {
    @include mdc-tab-ink-color(rgba(mdc-theme-prop-value(on-primary), 0.54));
  }

  .mdc-tab--active,
  .mdc-tab:hover {
    @include mdc-tab-ink-color(on-primary);
  }
}

.custom-indicator-tab-bar-in-toolbar {
  @include mdc-tab-bar-indicator-ink-color(secondary);
}

.custom-tab-bar-in-toolbar {
  @include mdc-tab-bar-indicator-ink-color(on-primary);
}
