@import "./common";
@import "../packages/mdc-tabz/mdc-tabz";
@import "../packages/mdc-elevation/mixins";
@import "../packages/mdc-ripple/mixins";
@import "../packages/mdc-theme/color-palette";

// Customization for the demo
.demo-many {
  width: 360px;
  height: 360px;
  border: 1px solid #e5e5e5;
  background: #e5e5e5;
}
.demo-many-tabs {
  @include mdc-elevation(1);

  background: white;
}

.custom-demo {
  .mdc-tabz-container {
    background: #ffdbcf;
  }
  // @include mdc-tabz-colors($background: #ffdbcf);
  @include mdc-tabz-active-ink(#442b2d);

  .mdc-tabz {
    @include mdc-states(#442b2d);
  }

  @include mdc-tabz-indicator-icon {
    color: #eaa4a4;

    .custom-indicator {
      font-size: 34px;
    }
  }
}

.posifeed-container,
.shrine-container {
  position: relative;
  width: 714px;
  height: 309px;
  background-repeat: no-repeat;
}

.posifeed-container {
  background-image: url("/images/posifeed.png");
}

.posifeed-logo {
  position: absolute;
  top: 45px;
  left: 41px;
}

.posifeed-tabz-container {
  position: absolute;
  top: 41px;
  left: 200px;
}

.posifeed-tabz {
  @include mdc-tabz-ink($material-color-grey-900);
  @include mdc-tabz-active-bold;
  @include mdc-tabz-indicator($color: $material-color-grey-900, $height: 4px);

  .mdc-tabz {
    @include mdc-states($material-color-grey-900);

    padding: 0 20px;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1.5px;
  }
}

.shrine-container {
  background-image: url("/images/shrine.png");
}

.shrine-logo {
  position: absolute;
  top: 51px;
  left: 33px;
}

.shrine-tabz-container {
  @include mdc-tabz-ink(rgba(68, 43, 45, .6));
  @include mdc-tabz-active-ink(rgba(68, 43, 45, 1));

  position: absolute;
  top: 37px;
  left: 145px;

  .mdc-tabz {
    @include mdc-states(#eaa4a4);

    padding: 0 17.5px;
    font-family: Rubik, Arial, sans-serif;
    letter-spacing: .03px;
  }

  @include mdc-tabz-indicator-icon {
    color: #eaa4a4;

    .shrine-indicator {
      font-size: 34px;
    }
  }
}

.demo-paging {
  width: 800px;
  max-width: 100%;
}
