//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "common";
@import "../packages/mdc-top-app-bar/mdc-top-app-bar";
@import "../packages/mdc-drawer/mdc-drawer";
@import "../packages/mdc-list/mdc-list";
@import "../packages/mdc-typography/mdc-typography";

.demo-paragraph {
  margin: 0;
  padding: 20px 28px;
}

@media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
  .demo-paragraph {
    padding: 16px;
  }
}

.demo-body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.demo-main {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  overflow: auto;
}

.demo-controls-container {
  @include mdc-elevation(4);
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 10px;
}

input[type="checkbox"]:disabled + label {
  opacity: .4;
}

.demo-col {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 10px;
}

.demo-row {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.demo-options-heading {
  margin-bottom: 20px;
}
