//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "../../../../packages/mdc-dialog/mixins";
@import "../../../../packages/mdc-theme/color-palette";
@import "../mixins";

$custom-dialog-color: $material-color-red-300;

@include test-browser-selector-edge {
  .test-dialog__title,
  .test-dialog__content {
    // Reduce flaky text rendering. The default MDC typography value is 0.25px.
    letter-spacing: 0;
  }
}

.test-dialog__content-rect {
  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.test-dialog-open-button {
  font-size: 100%; // stylelint-disable-line declaration-property-unit-whitelist
}

// stylelint-disable-next-line selector-class-pattern
.test-dialog--simple .mdc-list-item__graphic {
  background-color: rgba(0, 0, 0, .3);
  color: #fff;
}

.test-dialog--container-fill-color {
  @include mdc-dialog-container-fill-color($custom-dialog-color);
}

.test-dialog--scrim-color {
  @include mdc-dialog-scrim-color($custom-dialog-color, .3);
}

.test-dialog--title-ink-color {
  @include mdc-dialog-title-ink-color($custom-dialog-color, .8);
}

.test-dialog--content-ink-color {
  @include mdc-dialog-content-ink-color($custom-dialog-color, .8);
}

.test-dialog--scroll-divider-color {
  @include mdc-dialog-scroll-divider-color($custom-dialog-color, .5);
}

.test-dialog--shape-radius {
  @include mdc-dialog-shape-radius(10px);
}

.test-dialog--min-width {
  @include mdc-dialog-min-width(200px);
}

.test-dialog--max-width {
  @include mdc-dialog-max-width(400px, 30px);
}

.test-dialog--max-height {
  @include mdc-dialog-max-height(400px, 30px);
}

.test-dialog--3717 {
  @include mdc-dialog-min-width(600px);
  @include mdc-dialog-max-width(300px, 30px);
}

.test-viewport--drawer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.test-drawer-app-content--center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
