<textarea *ngIf="multiline"
          #input
          [rows]="rows"
          [cols]="cols"
          class="mdc-textfield__input"
          type="text"
          [attr.name]="name"
          [id]="id"
          [placeholder]="placeholder ? placeholder : ''"
          [maxlength]="maxlength"
          [attr.aria-label]="placeholder"
          (focus)="handleFocus($event)"
          (blur)="handleBlur($event)"
          (input)="handleInput($event)"
          (keydown)="handleKeyDown($event)"
          [(ngModel)]="value"
          [disabled]="disabled"
          [required]="required"></textarea>
<input *ngIf="!multiline"
       #input
       class="mdc-textfield__input"
       [type]="type"
       [id]="id"
       [attr.name]="name"
       [attr.aria-controls]="labelId"
       [(ngModel)]="value"
       [placeholder]="placeholder ? placeholder : ''"
       [maxlength]="maxlength"
       [disabled]="disabled"
       [required]="required"
       [attr.tabindex]="tabindex"
       (focus)="handleFocus($event)"
       (keydown)="handleKeyDown($event)"
       (blur)="handleBlur($event)"
       (input)="handleInput($event)" />
<label [attr.for]="id" class="mdc-textfield__label" *ngIf="!placeholder">{{label}}</label>