@use '../mixins' as floating-label;
@use '@material/feature-targeting/feature-targeting';

@mixin test($query) {
  .test {
    @include floating-label.core-styles($query: $query);
    @include floating-label.ink-color(red, $query: $query);
    @include floating-label.fill-color(red, $query: $query);
    @include floating-label.shake-keyframes(standard, 100%, $query: $query);
    @include floating-label.float-position(100%, $query: $query);
    @include floating-label.shake-animation(standard, $query: $query);
    @include floating-label.max-width(100%, $query: $query);
    @include floating-label.float-transition(250ms, linear, $query: $query);
  }
}

// This shouldn't output any CSS.
@include test(feature-targeting.any());
