/*
 * Resets
 */

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Directory listing
 */

body {
  padding: 36px;
  font-family: Roboto, sans-serif;
}

#search {
  display: none;
}

#wrapper > h1 {
  margin-top: 0;
}

#files {
  padding-left: 0;
}

#files,
#files > li {
  list-style: none;
}

#files > li > a {
  display: flex;
  padding: 4px;
}

#files > li > a:hover {
  background-color: #eee;
}

#files > li > a > * {
  margin: 0 8px;
}

#files .name {
  flex-grow: 1;
  padding-left: 24px;
  background-repeat: no-repeat;
}
