@forward "@material/animation/variables" as mdc-animation-*;
@forward "@material/feature-targeting/variables" as mdc-feature-*;
@forward "@material/feature-targeting/mixins" as mdc-feature-*;
@forward "@material/theme/constants" as mdc-theme-*;
@forward "@material/theme/variables" as mdc-theme-*;
@forward "@material/typography/variables" as mdc-typography-*;
@forward "@material/theme/mixins" as mdc-theme-*;
@forward "@material/typography/mixins" as mdc-* hide mdc-base, mdc-baseline-bottom, mdc-baseline-strut-, mdc-baseline-top, mdc-core-styles, mdc-overflow-ellipsis;
@forward "@material/typography/mixins" as mdc-typography-* hide mdc-typography-typography;
@forward "../functions" as mdc-text-field-*;
@forward "@material/feature-targeting/functions" as mdc-feature-*;
@forward "@material/theme/functions" as mdc-theme-*;
@forward "@material/typography/functions" as mdc-typography-*;
@forward "mdc-text-field-helper-text";
