@use '../mixins' as list;
@use '@material/feature-targeting/feature-targeting';

@mixin test($query) {
  .test {
    @include list.deprecated-core-styles($query: $query);
    @include list.deprecated-item-primary-text-ink-color(red, $query: $query);
    @include list.deprecated-item-secondary-text-ink-color(red, $query: $query);
    @include list.deprecated-item-graphic-fill-color(red, $query: $query);
    @include list.deprecated-item-graphic-ink-color(red, $query: $query);
    @include list.deprecated-item-meta-ink-color(red, $query: $query);
    @include list.deprecated-single-line-shape-radius(
      42,
      $rtl-reflexive: false,
      $density-scale: 0,
      $query: $query
    );
    @include list.deprecated-single-line-height(0, $query: $query);
    @include list.deprecated-single-line-density(0, $query: $query);
    @include list.deprecated-divider-color(red, $query: $query);
    @include list.deprecated-group-subheader-ink-color(red, $query: $query);
    @include list.deprecated-ripple($query: $query);
    @include list.deprecated-without-ripple($query: $query);
  }
}

// This shouldn't output any CSS.
@include test(feature-targeting.any());
